[2016-05-05 15:31] MasseGuillaume opened #1 "API"
JSON APIs for accessing Scaladex data
- [ ] Joris's needs

In the future: (to keep in mind)
- [ ] Felix will potentially need for linking dottydoc
- [ ] Adriaan for community build

[2016-05-05 15:31] MasseGuillaume opened #2 "Github Oauth2"

[2016-05-06 14:00] #2 closed, assigned to nobody

[2016-05-06 14:27] MasseGuillaume opened #3 "cookie warning!"
https://silktide.com/tools/cookie-consent/docs/

[2016-05-17 11:36] heathermiller opened #4 "Integrate look & feel with scala-lang.org"

[2016-05-17 11:49] heathermiller opened #5 "Use Jenkins to build/deploy"
Build + deploy upon Github post-commit

[2016-05-17 11:53] heathermiller opened #6 "Main Scaladex landing page"

[2016-05-17 11:54] heathermiller opened #7 "UI: Display all project versions on project page"
@MasseGuillaume will show how to get all project versions from backend for use by front-end

[2016-05-17 11:54] heathermiller opened #8 "Clean up search (no RCs/milestones/etc)"
Better aggregation of projects. E.g., there should only ever be one akka/akka-http found in the search, not many.

[2016-05-17 12:00] heathermiller opened #9 "http -> https for scala-lang.org"

[2016-05-17 12:00] heathermiller opened #10 "Subdomain of scala-lang for package index"
Possible names:
- index.scala-lang.org
- package.scala-lang.org

[2016-05-17 12:20] heathermiller opened #11 "Get dependencies on EPFL machine"

[2016-05-17 12:23] heathermiller opened #12 "UI: Login via GitHub"
UI side of things – Heather will further clarify what we mean in this ticket

[2016-05-17 12:38] heathermiller opened #13 "UI: Updating Project Info"
- [ ] Which fields will be updatable? (@MasseGuillaume + @heathermiller will provide a list)
- [ ] @MasseGuillaume makes sure there's some update function to be used by the front-end

[2016-05-17 12:43] heathermiller opened #14 "Index scala-lang.org poms"

[2016-05-17 12:46] MasseGuillaume opened #15 "Index private repositories"
[Eugene Platonov at ebay](https://www.linkedin.com/in/jozic) said it would be helpful to index private repos. For example, they could look for reverse dependencies to notify them for breaking api changes.

[2016-05-17 12:50] MasseGuillaume opened #16 "group scalaJs crossDeps"

[2016-05-17 12:55] MasseGuillaume opened #17 "Partial Update of Data"
- [x] created_after https://bintray.com/docs/api/#_file_search_by_name (6f01f12100e77088494a0a7d306e1ef7f8a7cc78)
- [x] update elasticsearch without loosing information

[2016-05-17 13:16] MasseGuillaume opened #18 "opensearch.xml"
http://www.chromium.org/tab-to-search

[2016-05-17 13:38] heathermiller opened #19 "Add keywords to backend. Searchable"

[2016-05-17 13:39] heathermiller opened #20 "Hand-tagging popular projects with keywords"

[2016-05-17 13:40] heathermiller opened #21 "UI: add keywords to UI"

[2016-05-17 13:41] heathermiller opened #22 "UI: badge per license type, hover-over explaining it"

[2016-05-17 13:46] heathermiller opened #23 "Search bar, add project description to drop down"
@MasseGuillaume will make sure cleaner search results are returned and that the description field is available. But it would be nice to include the project description in the drop-down search bar à la npm https://www.npmjs.com

[2016-05-17 14:05] heathermiller opened #24 "Way for companies to endorse projects"

[2016-05-17 14:17] heathermiller opened #25 "UI: Contribution policy badges"
- [ ] When clicked, should take you to project's CONTRIBUTING.md file (if it exists)

https://github.com/blog/1184-contributing-guidelines

[2016-05-18 15:28] MasseGuillaume opened #26 "sbt publish should update/notify scalaindex"
@raulraja: contribute to sbt to make sure publish notify the Scala Index

We could use various social vectors such as mailing list, slack,gitter, irc, twitter to broadcast a library release.

Example for twitter:

[2016-05-19 11:16] heathermiller opened #27 "Receiving requests from sbt publish tool"

[2016-05-19 11:19] heathermiller opened #28 "Admin-level users, edit-all capabilities"
Backend/UI both. Use already written Oauth2 stuff to autheneticate a list of "admins". As low-level as possible for now.

[2016-05-20 14:18] MasseGuillaume opened #29 "notify new release via twitter"
Input: New releases arrive via two different channels:

* [pulling from bintray's API every day](https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/Main.scala#L68)
* [receving a push from maven central as soon as they have a new release](https://github.com/scalacenter/scaladex/blob/master/server/src/main/scala/ch.epfl.scala.index.server/routes/api/Publ

[2016-05-20 14:18] MasseGuillaume opened #30 "notify new release via gitter.im"

[2016-05-20 14:21] MasseGuillaume opened #31 "api to receive new pom"
duplicate #27

[2016-05-25 23:02] MasseGuillaume opened #32 "make html links in Github Readme absolute"

[2016-05-26 14:29] MasseGuillaume opened #33 "render app server side"

[2016-05-26 15:10] #30 closed, assigned to nobody

[2016-05-27 19:30] #33 closed, assigned to nobody

[2016-05-27 19:43] #31 closed, assigned to nobody

[2016-05-30 21:07] #8 closed, assigned to MasseGuillaume

[2016-05-30 21:08] #16 closed, assigned to nobody

[2016-05-30 21:10] #1 closed, assigned to MasseGuillaume

[2016-05-30 21:14] #20 closed, assigned to propensive

[2016-05-30 23:14] joriscode opened #35 "Internal error when querying API"
[http://localhost:8080/api/find?query=rapture](http://localhost:8080/api/find?query=rapture)
generates `There was an internal server error.`
with Console stacktrace

[code]

[2016-05-30 23:43] #32 closed, assigned to MasseGuillaume

[2016-05-31 00:11] MasseGuillaume opened #36 "Nightly job to update index"

[2016-05-31 15:09] MasseGuillaume opened #37 "Templating engine"

[2016-05-31 18:40] MasseGuillaume opened #38 "Dependencies & Reverse Dependencies"
part of the #34 refactor

[2016-05-31 18:49] #35 closed, assigned to MasseGuillaume

[2016-05-31 21:46] #38 closed, assigned to nobody

[2016-06-02 13:23] MasseGuillaume opened #40 "Fetch more info from Github"
- [x] Definition: "Lightweight, modular, and extensible library for functional programming."
- [x] Website: "http://typelevel.org/cats/"
- [x] Stars/Fork: 1,075/24
- [x] Readme
- [ ] Contributors (+Avatar, etc)

[2016-06-03 15:50] #17 closed, assigned to MasseGuillaume

[2016-06-03 19:04] #11 closed

[2016-06-03 20:28] #19 closed, assigned to MasseGuillaume

[2016-06-06 12:19] MasseGuillaume opened #44 "nginx config"
servername: index.scala-lang.org
proxy https => application

[2016-06-06 17:55] #40 closed, assigned to nobody

[2016-06-07 18:26] #37 closed, assigned to rafaparadela

[2016-06-07 22:19] #4 closed, assigned to nobody

[2016-06-07 22:20] #23 closed, assigned to nobody

[2016-06-07 23:54] #18 closed, assigned to propensive

[2016-06-08 03:20] #7 closed, assigned to nobody

[2016-06-08 03:31] MasseGuillaume opened #48 "follow redirects when downloading github readmes"
https://github.com/scalacenter/scaladex2/blob/master/data/src/main/scala/ch.epfl.scala.index.data/github/GithubDownload.scala#L73

this should be a stream graph with retries

[2016-06-08 20:41] MasseGuillaume opened #49 "Edit Project"
After being logged in a user can edit his project info:

accessible fields:
* [Project](https://github.com/scalacenter/scaladex2/blob/de110e037079b5459c742d84bbe8616a9e161bc3/model/src/main/scala/ch.epfl.scala.index.model/Project.scala#L12-L24)
* [Artifact](https://github.com/scalacenter/scaladex2/blob/de110e037079b5459c742d84bbe8616a9e161bc3/model/src/main/scala/ch.epfl.scala.index.model/Artifact

[2016-06-08 20:55] #44 closed

[2016-06-08 20:56] #9 closed, assigned to heathermiller

[2016-06-08 20:56] #10 closed, assigned to heathermiller

[2016-06-08 20:58] MasseGuillaume opened #50 "Search page"
- [x] pagination + style
- [x] order by (stars, fork, latest release)
- [ ] keywords (api)

[2016-06-08 21:00] MasseGuillaume opened #51 "Deploy to Alaska"

[2016-06-08 21:01] #13 closed, assigned to nobody

[2016-06-09 13:44] #6 closed, assigned to rafaparadela

[2016-06-09 13:46] MasseGuillaume opened #54 "Connect front page with Backend"

[2016-06-10 15:26] MasseGuillaume opened #56 "Search relevance"

[2016-06-10 15:28] MasseGuillaume opened #57 "important libs not showing up"

[2016-06-10 16:27] MasseGuillaume opened #58 "filter artifact & releases in project page"
two dropdowns:
- artifact name
- release

filter on backend

[2016-06-10 17:55] #50 closed, assigned to MasseGuillaume

[2016-06-11 11:23] heathermiller opened #59 "sort releases by version"
For scala-pickling for example, the list of version numbers is out of order:
![screen shot 2016-06-11 at 1 23 48 pm](https://cloud.githubusercontent.com/assets/687163/15984790/c30f2938-2fd7-11e6-970a-f303a339ebc9.png)

The current version should be v.0.10.1. As-is, the order in the above list doesn't make a whole lot of sense.

[2016-06-12 15:45] MasseGuillaume opened #60 "Scala Days Berlin v2"
* [x] ui for oauth2 login (#12)
* [x] collaborator can edit information (#49)
* [x] improve search relevance (#56)
* [x] new projects, new releases in front page (#54)
* [x] select artifact & release + target in project page (#58)
* [x] keywords in project page (#21)
* [x] + license info (#22)
* [x] contributor wanted (#25)
* [x] cookie warning (#3)
* [x] repo statistics from GitHub visible (#115)

[2016-06-13 02:01] #58 closed, assigned to nobody

[2016-06-13 02:01] #59 closed, assigned to nobody

[2016-06-13 02:01] #21 closed, assigned to nobody

[2016-06-13 17:18] #57 closed, assigned to nobody

[2016-06-16 04:45] heathermiller opened #65 "Some pages can't fetch README"
An example is here: https://index.scala-lang.org/lihaoyi/derive

Also, this page is repeating the right column again.

[2016-06-16 04:50] heathermiller opened #66 "Repeating right column"
Still happening :/
E.g., https://index.scala-lang.org/propensive/rapture

[2016-06-16 08:02] Hayena opened #68 "Login not functioning"
Login redirects user to localhost:8080

[2016-06-16 08:05] Hayena opened #69 "Wire up footer links"
Most links for example "watch us on github", "report an issue" links to # without anything changing

[2016-06-16 11:31] MasseGuillaume commented on #68
duplicates #12

Thanks for the info!

[2016-06-16 11:31] #68 closed

[2016-06-16 11:36] MasseGuillaume commented on #66
It's because this release has multiple targets (scala & scalajs). We need to add another filter next to the version drop-down for selecting the target.

[2016-06-16 12:12] MasseGuillaume opened #70 "Version Baseline"
mechanism to find compatible versions of a given set of artifacts.

Example:
solve
"org.typelevel" %% "cats"
"com.chuusai" %% "shapeless"
"org.spire-math" %% "spire"
"org.spire-math" %% "algebra"
"com.github.julien-truffaut" %% "monocle-core"
"org.scodec" %% "scodec-core"
// ...
https://github.com/MasseGuillaume/ScalaKata2/blob/master/misc/dockerContainerBundle/built.sbt

@milessabin is it express

[2016-06-16 12:27] MasseGuillaume opened #71 "Shapeless 2.X is missing"
/cc @milessabin

[2016-06-16 12:27] MasseGuillaume opened #72 "split test dependecies from compile/runtime dependencies"

[2016-06-16 12:27] MasseGuillaume opened #73 "show java dependencies"

[2016-06-16 12:28] MasseGuillaume opened #74 "no links for recent releases"

[2016-06-16 12:28] MasseGuillaume opened #75 "recent project box are sometime too small for the content"

[2016-06-16 12:29] MasseGuillaume opened #76 "hovering over a recent project title make it smaller"

[2016-06-16 12:29] MasseGuillaume opened #77 "recent releases seems to have duplicates (kaliber - play-s3)"
[code]

[2016-06-16 12:29] MasseGuillaume opened #78 "Select the latest non preRelease (ex 1.2.1 vs 1.2.2-RC1)"

[2016-06-16 12:30] MasseGuillaume opened #79 "Show cross version supports (e.g., 2.10/2.11/..., Scala.js)"

[2016-06-16 12:33] MasseGuillaume opened #80 "No documentation"
/cc @fwbrasil

[2016-06-16 12:40] xeno-by commented on #49
As a project owner, can I hide the artifact or an entire project that's been deprecated from other users?

[2016-06-16 12:46] MasseGuillaume commented on #49
@xeno-by Unpublish ? What could possibly [go wrong](http://blog.npmjs.org/post/141577284765/kik-left-pad-and-npm) ?

Just kidding, it's a good idea to remove some noise.

[2016-06-16 12:49] olafurpg opened #81 "Feedback"
Really excited to see this take off 😄 Here are a few things I noticed.
- [x] I would be really nice to see immediately what Scala versions libraries support (e.g., 2.10/2.11/..., Scala.js)
  - targets in [project](https://github.com/scalacenter/scaladex/blob/master/model/src/main/scala/ch.epfl.scala.index.model/Project.scala#L45) (ex: scala_2.11, scala.js_0.6)
  - [seach result html templating](ht

[2016-06-16 13:38] #76 closed

[2016-06-16 14:47] MasseGuillaume commented on #65
duplicates #48

[2016-06-16 14:49] #54 closed

[2016-06-16 15:32] milessabin commented on #71
Any ideas?

[2016-06-16 15:37] #75 closed

[2016-06-16 15:37] #69 closed

[2016-06-16 15:37] #74 closed

[2016-06-16 15:45] MasseGuillaume commented on #71
https://github.com/scalacenter/scaladex/blob/2dd56473a2392e196d22f9c529457c1c1e018363/data/src/main/scala/ch.epfl.scala.index.data/maven/PomsReader.scala#L98

You publish osgi bundle. My mistake.

[2016-06-16 16:12] MasseGuillaume commented on #81
This is on purpose. You dont like this organization? I could suggest something like: https://index.scala-lang.org/apache/spark/core. It does not always work however.

[2016-06-16 16:23] MasseGuillaume opened #84 "Add documentation links to projects"
For example https://github.com/tpolecat/doobie#documentation-and-support

/cc @tpolecat

[2016-06-16 16:28] MasseGuillaume opened #85 "Add default artifact to project"
When you search for doobie the artifact link is doobie-contrib-h2
However the main project would be doobie-core

Our current approach is to find an artifact that match the project name (in this case doobie). We could let the project author the flexibility to point to the most notable artifact.

/cc @tpolecat

[2016-06-16 16:46] MasseGuillaume commented on #71
@milessabin https://index.scala-lang.org/milessabin/shapeless
latest version 2.3.1

[2016-06-16 16:46] #71 closed

[2016-06-16 19:18] timperrett opened #86 "URL style is broken, does not allow for duplicate artifact names"
Given: https://index.scala-lang.org/oncue/core and then https://index.scala-lang.org/oncue/typesafe - it is impossible to find the Knobs core module.

Seems like there is some bug or bad assumption in the parsing / use of the group id in Scaladex. Some artifacts are just not discoverable at all (note this is not to do with search, so its not clear if the core module was indexed or not, rather, the

[2016-06-16 22:05] nikolakasev opened #87 "Click on the Login button results in page not found."
Page isn't found because the callback is made to http://localhost:8080/callback?code=1064084d9f3e80229ea3 for example.

[2016-06-17 05:08] xuwei-k commented on #87
https://github.com/scalacenter/scaladex/blob/91d9ea220915a60cf417afc79dc171563fa6abcf/webapp/jvm/src/main/scala/ch.epfl.scala.index.server/Github.scala#L57

[2016-06-17 05:11] MasseGuillaume opened #88 "duplicate entries in keywords.json"
https://github.com/scalacenter/scaladex-metadata/blob/master/keywords.json

thanks @jducoeur for pointing this out ;-)

[2016-06-17 13:07] MasseGuillaume opened #89 "artifact url collision"
https://index.scala-lang.org/oncue/core is ambiguous because both projects oncue/knobs and oncue/journal have a core artifact.

/cc @timperrett

[2016-06-17 16:32] Fristi opened #90 "Filter for scala.js binaries"
You can determine if a specific version of a lib has scala.js artifact, by checking the convention of it's output files.

Would be awesome to have a filter for such a thing

[2016-06-17 16:39] Fristi commented on #84
Links would be awesome. However having one site which has the documentation it self would be awesome. Good examples are Hackage and Pursuit (Purescript). Bonus points if we could add searching for functions as well by specifying types for example (ala Hoogle). But doc blocks and function names are a good source of what a library is about as well.

[2016-06-17 16:44] Fristi opened #91 "Dependency block"
Currently all dependencies are listed on the right side as one block for each dependency. While this already a great thing, wouldn't it be great to have a list of all artifacts for one project in one place.? Put checkboxes in front of each dependency and a copy button to have a sequence of dependencies in your pasteboard?

[2016-06-18 02:42] timperrett commented on #89
Note it is entirely valid for different group id's to end up with artifacts with the same name - the group id acts as the namespace.

[2016-06-18 12:42] MasseGuillaume opened #92 "theme color for android"
https://developers.google.com/web/fundamentals/design-and-ui/browser-customization/theme-color?hl=en

[2016-06-18 12:45] MasseGuillaume commented on #90
This is possible right now:
https://index.scala-lang.org/scala-js/scalajs-library/0.6.9

Look under dependent there is 139 !

I had an idea where you could have a url for this
/search?dependents=scala-js:scalajs-library:0.6.9

[2016-06-18 12:46] MasseGuillaume commented on #91
That's an excellant idea! I can change the artifact and the version selector to a multiselect dropdown.

[2016-06-18 14:24] Fristi commented on #90
I see! Great stuff. The endpoint would be nice as well 👍

Making it more apparent that a lib is scala.js compatible is something nice to have. It also promotes to have a scala.js compatible version of your lib.

[2016-06-20 00:32] cvogt opened #93 "pictures are down"
see https://index.scala-lang.org/travisbrown/circe-core/0.3.0

https://camo2.githubusercontent.com/dce1f54c16ae9e8068198d8d9f2cd8b370c07b6a/68747470733a2f2f696d672e736869656c64732e696f2f7472617669732f74726176697362726f776e2f63697263652f6d61737465722e737667
-->
`Fastly error: unknown domain: camo2.githubusercontent.com. Please check that this domain has been added to a service.`

[2016-06-20 00:43] cvogt opened #94 "fix or don't replicate github readme"
I see that scaladex shows a project's readme from github. There are bugs / usability degradations though in comparison. It's not being syntax highlighted. And the width is smaller, so some code samples are cut off. Do links to other files work?

So one way to go would be fixing all these bugs and replicating (and maintaining) readme display.

On the other hand users already get that nicely on gith

[2016-06-20 00:49] cvogt opened #95 "doesn't work well with moved/renamed projects"
This project: https://github.com/xdotai/play-json-extensions
moved from https://github.com/cvogt/play-json-extensions

Now

https://index.scala-lang.org/xdotai/play-json-extensions doesn't show old versions
https://index.scala-lang.org/cvogt/play-json-extensions does not show a forwarder to the new location.

Probably not the highest priority thing, but these things do happen, so maybe you guys ca

[2016-06-20 02:21] nafg commented on #94
Also some refs are broken, like img src pointing to camo2.githubusercontent.com (see gitter).

But displaying the readme is helpful.

(FWIW @MasseGuillaume indicated on gitter that that the md->html is being done by github)

[2016-06-20 02:23] cvogt commented on #94
@nafg is it more helpful displaying a potentially broken readme than linking to a working one? Not sure, but want to put the idea on the table :).

[2016-06-20 02:25] nafg commented on #94
Well, it's still readable...

I would say it's definitely more helpful. If it was a commercial product I would ask, is it harming our reputation, but I think the community understands that it's a WIP.

[2016-06-20 10:57] MasseGuillaume commented on #95
When I will solve #48, I will get the old -> new mapping.

[2016-06-20 11:08] MasseGuillaume commented on #94
It is

github: 888px
scaladex: 690px
I can make this a bit larger so it's == to github

They do

There is a lot of information in the readme (build status, gitter.im, etc). This is why we inline it in the page.
I prefer to fix the width issue and #93.

[2016-06-21 15:05] Scyks commented on #87
It seems like that the redirect URL is configured in the application on github itself. It's not possible to modify this url from the app itself because it have to match to the defined one.

When you change the URL in the Github app (from documentation: https://developer.github.com/v3/oauth/#redirect-urls you need to specify a redirect url.) then the development mode will not work any longer.

To f

[2016-06-21 15:28] MasseGuillaume commented on #87
Totally. I did not had time to finish this feature.

This is what I'm currently working on. https://waffle.io/scalacenter/scaladex

[2016-06-22 07:42] alexandru opened #100 "Allow for overriding the Scaladoc URL by project maintainers"
My project is split in multiple sub-projects and the Scaladoc that's going to get generated by https://www.javadoc.io is going to be poor. What I do is to prepare the Scaladoc using [sbt-unidoc](https://github.com/sbt/sbt-unidoc) and I upload those docs to the project's website on every release.

Compare whatever output of https://javadoc.io for project [Monix](https://index.scala-lang.org/monixio

[2016-06-22 11:32] MasseGuillaume opened #101 "scala 2.X"
* [ ] discover 2.X libs
* ...

[2016-06-22 11:34] #92 closed

[2016-06-22 11:51] #66 closed

[2016-06-22 11:51] #79 closed

[2016-06-22 12:06] #3 closed

[2016-06-23 15:20] #72 closed

[2016-06-23 15:21] #73 closed

[2016-06-23 15:55] heathermiller commented on #91
Is this resolved?

[2016-06-23 15:57] MasseGuillaume commented on #91
ops closed by mistake

[2016-06-23 16:10] #78 closed

[2016-06-23 18:24] peter-empen opened #108 "Display date & time of last scan"
To my use case:
My library is one of those not showing up at all on Scaladex. After examining my pom parameters I polished them up to obey to the assumed inclusion rules. On June 20, I published a release based on the new pom that, I'am pretty sure, suffices for inclusion. Ever since the newest library displayed is from 18/06/2016 and I'm stuck.

It would be great to see on the home page when the

[2016-06-23 19:31] Scyks commented on #108
Hey, actually there is no nightly build/reindexing. That's why your library is still not updates (mine as well).
As far as i know, tomorrow will be a release and reindexing.

A nightly build/reindexing is also on the roadmap.  We're working on that.

[2016-06-23 19:45] Scyks commented on #108
@peter-empen Which artifact is it? Can you provide a link to maven? Then we can try that in development environment. Would be helpful.

Thank you :)

[2016-06-24 03:19] cvogt opened #109 "sort tag cloud under the search box"
otherwise it is very hard to find what you are looking for. I had to use my browser in page search to find "testing" ;)

[2016-06-24 03:22] cvogt opened #110 "broken links"
rapture appears in the search results for the testing keyword as this: https://index.scala-lang.org/propensive/rapture-core-test

the readme seems to be all of rapture though and clicking at in the list of dependencies leads to an empty page

[2016-06-24 06:27] peter-empen commented on #108
Hi Ronald, the artifact in question with the actualized pom:
http://search.maven.org/#artifactdetails%7Corg.scala-graph%7Cgraph-core_2.11%7C1.11.1
and the old pom:
http://search.maven.org/#artifactdetails%7Ccom.assembla.scala-incubator%7Cgraph-core_2.11%7C1.11.0
Thanks, too.

[2016-06-24 07:22] Scyks commented on #108
@peter-empen I updated the claims.js file in scalacenter/scaladex-data. Can you please check if i did that right? https://github.com/scalacenter/scaladex-data/pull/2/commits/e69267a6c5bb549396d53b2ab5918b6afea12fe9

After new reindexing, both packages should be available on http://index.scala-lang.org.

Best
Ronald

[2016-06-24 09:02] MasseGuillaume commented on #109
you mean to sort by name vs sorting by count?

[2016-06-24 09:16] #109 closed

[2016-06-24 09:41] peter-empen commented on #108
Thank you, Ronald,
that looks all right. You may just remove graph-test on line 176 since this module has been included in _graph-core_ sometime in 2015.
In near future all artifacts will be released under the groupId _org.scala-graph_ making _com.assembla.scala-incubator_ obsolate. I'd get back to you once that has happened.

[2016-06-24 09:44] MasseGuillaume commented on #108
@peter-empen we still next to keep track of the old  stuff. We have a ticket to mark artifact as deprecated with an alternative artifact

[2016-06-24 09:45] MasseGuillaume commented on #110
okay two things

1. I know explaining a UI is silly and it's like telling a bad joke. But here it is anyway:
When you are on an artifact page (https://index.scala-lang.org/propensive/rapture-core-test) you see everything related to the project on the left (Website, keywords, Github Readme). On the right it's everything related to a release (install string, dependencies, etc). This relates to #94.

[2016-06-24 11:18] raulraja opened #112 "Strategy to determine libraries with "Help wanted""
@MasseGuillaume It turns out that all Github Repos come with built in labels for issues. One of the labels is `help wanted`. We could potentially iterate over the project issues and determine if it's a project wanting help by the presence of these tags in their issue list.

[2016-06-24 11:42] #90 closed

[2016-06-24 12:09] Scyks commented on #112
This could be a featured tag (#90, #113) then, that you can search for artifacts with `help wanted`. That's a very cool idea.

[2016-06-24 12:55] MasseGuillaume commented on #112
This is a good idea! I'm curious to see how often this is used already.

[2016-06-24 13:09] Scyks commented on #112
Regarding the github search it's 782 issues for scala:
https://github.com/search?l=scala&q=label%3A%22help+wanted%22&ref=searchresults&type=Issues&utf8=%E2%9C%93

[2016-06-25 09:10] heathermiller opened #115 "Re-add and wire up statistics (UI is there, but GitHub HTTP reqs not)"
<img width="617" alt="screen shot 2016-06-25 at 11 09 59 am" src="https://cloud.githubusercontent.com/assets/687163/16355873/63de3d66-3ac5-11e6-9e2c-241a4a6cc526.png">

[2016-06-25 10:42] Scyks commented on #115
There might be a problem collecting the collaborators for a project. Actually i get a response that i need push access to this repo. Documentation says nothing about this error.
Maybe we should include this in the Interface and manually enable this function:
Docu: https://developer.github.com/v3/repos/collaborators/
Response:
[code]

[2016-06-28 18:02] #115 closed

[2016-06-28 18:02] #48 closed

[2016-06-28 18:22] Scyks opened #118 "Refactor pom fetching to play-ws lib to have the code base clean"
Since Github fetching is already migrated to play-ws, the POM-fetching should be converted to.

- [x] [list poms](https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/bintray/ListPoms.scala)
- [x] [download poms](https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/bintray/DownloadPoms.scala)
- [x] [download pa

[2016-06-28 20:38] MasseGuillaume opened #119 "gitter.im"

[2016-06-29 18:06] MasseGuillaume commented on #5
* `sbt server/universal:packageBin`
* creates `server/target/universal/server-0.1.2.zip`
* copy to alaska
* inside alaska
  * reindex (until we have #36)
    * `cd scaladex && git pull`
    * stop server
    * `rm -rf ~/.esdata/data/`
    * `sbt data/reStart elastic`
  * start server

[2016-06-30 15:41] heathermiller opened #122 "Restore autocomplete/dropdown bar"

[2016-06-30 18:04] MasseGuillaume opened #123 "fetch all contributors"
There is a pagination in the Header `Link`

[code]

[2016-07-01 04:19] tpolecat opened #126 "How do I update doc links?"
The [doobie](https://index.scala-lang.org/tpolecat/doobie-core) page in Scaladex has a link to Scaladoc but no link to the [book of doobie](http://tpolecat.github.io/doobie-0.2.3/00-index.html) which is the main documentaton for the project. Is there a way to add a link?

[2016-07-01 04:22] tpolecat commented on #126
Doh, duplicate of #84

[2016-07-01 04:22] #126 closed

[2016-07-01 04:26] tpolecat opened #127 "Targets and Dependencies lists not obviously useful"
I'm not sure under what circumstances I would want to browse [long] lists of projects based on compile target or dependency. Might consider at least moving keywords up to the top because it seems more useful for clicky browsing.

[2016-07-01 07:13] heathermiller opened #128 "Some pages not rendering correctly"
E.g.: https://index.scala-lang.org/andyglow/websocket-scala-client

<img width="1230" alt="screen shot 2016-07-01 at 9 13 23 am" src="https://cloud.githubusercontent.com/assets/687163/16514423/1d9247ca-3f6c-11e6-8a37-bc7586b8617f.png">

[2016-07-01 07:17] heathermiller commented on #51
## Workflow:

Two branches, `master` and `deploy`. Post-commit-triggered Jenkins deploy job based off of `deploy` branch. `master` used for staging.

[2016-07-01 07:38] heathermiller commented on #65
This is still an issue. See #128

[2016-07-01 07:39] heathermiller commented on #127
I agree with @tpolecat's sentiment. I think this information may be desirable in some cases to have, but the way it's currently displayed is a huge hit to usability. It's overwhelming, and more people will likely want to browse by keyword instead.

[2016-07-01 07:40] heathermiller commented on #127
I think we can find a way to keep this information around without it being so front and center and overwhelming when first visiting the site. i.e., I think the UI side of this addition can be significantly streamlined/improved

[2016-07-01 11:01] heathermiller commented on #5
This is incomplete and unacceptable. It means minutes of downtime on redeploys.

[2016-07-01 11:05] heathermiller commented on #128
Here's yet another broken page: https://index.scala-lang.org/$ensime/ensime

[2016-07-01 11:20] heathermiller opened #129 "Who's analytics code is this?"
https://github.com/scalacenter/scaladex/blob/76509b1bada483ea577f930903a58247e2e10447/template/src/main/twirl/ch.epfl.scala.index.views/main.scala.html#L112

[2016-07-01 12:22] heathermiller opened #131 "Search results can still be improved"
Here's an example:

If I search: `json targets:scala.js_0.6` only a few results on the first page of the search results are meaningful. For example, I see scala-js/scala-js. There's nothing in the README, project description, nor are there any keywords that should cause the scala-js artifacts to be interpreted as a JSON library.

Given this, we should probably restrict our index only on keywords,

[2016-07-01 12:31] heathermiller opened #132 "Fails on first request, everytime"
When building locally, I get `` and the following stack trace every time I start or restart the server – only upon the first request, the second request goes through fine:

[code]

[2016-07-01 12:44] Scyks commented on #132
This is because elastic is not fast enough on booting.

[2016-07-01 12:52] heathermiller commented on #132
Surely something can be done to avoid exceptions on every restart...

[2016-07-01 13:02] Scyks commented on #132
Separate elastic from the application, i guess.

[2016-07-01 13:04] heathermiller commented on #132
Or an arbitrary delay?

[2016-07-01 13:19] Scyks commented on #132
I'll talk to Guillaume later. I guess it would be good, not to delay the development process on recompile. You need to wait every time then for the start of elastic. Elastic can run in the background.

For production it could be the same to have a separate process for elastic. The data will increase during the time and it will take more and more time.

[2016-07-01 14:22] tpolecat commented on #127
I think things like "target" and "dependencies" might be good checkboxes to refine a search (or even sticky preferences). Also consider negative dependency filtering; for instance "don't show me anything that depends on Akka" … I think this might end up being useful.

[2016-07-01 14:30] MasseGuillaume commented on #127
@tpolecat haha I dont know why you picked this example :eyes:

[2016-07-01 14:32] MasseGuillaume commented on #132
we can use something like
https://github.com/scalacenter/scaladex/blob/60ea6e2217f5de9a8da1e628bf6d2ae78a78a32d/data/src/main/scala/ch.epfl.scala.index.data/elastic/SeedElasticSearch.scala#L41

It can run fine when the cluster is yellow

[2016-07-01 14:43] MasseGuillaume commented on #128
xml interpolation in scala is `{x}`. Dev are confused with string interpolation. see https://github.com/ensime/ensime-server/pull/1545

I think we can just remove $ from the github info

[2016-07-01 14:46] heathermiller commented on #128
Ok, but still, two things are happening. We still have tons of pages that don't show READMES (#65)

[2016-07-01 14:47] MasseGuillaume commented on #128
@heathermiller any example ?

[2016-07-01 14:54] heathermiller commented on #128
Yeah, the two I provided above...

[2016-07-02 08:31] peter-empen commented on #108
Hi Ronald, hi Masse,
Scalasdex is now reindexed but your entry in claims.js did not work out. I wonder what the reason is for scala-graph still not showing up?

[2016-07-02 09:06] heathermiller opened #134 "Claimed repositories aren't being indexed"
See #108

[2016-07-02 11:10] Scyks commented on #134
I implemented a quick fix which works, but we need to think about the process of handling scm-tags in general. I left a comment in the PR: https://github.com/scalacenter/scaladex/pull/135#discussion_r69376665

[2016-07-02 11:13] Scyks commented on #108
@peter-empen I investigated this a bit further and as @heathermiller wrote, the claimed repos where not indexed. I fixed that locally, reindexed everything and now it seems to work. I guess you need to wait for the next deployment. I'm sorry for that.

<img width="1217" alt="scala-graph" src="https://cloud.githubusercontent.com/assets/875242/16540056/830ad456-4056-11e6-8d49-a60d9569bf8b.png">

[2016-07-02 11:13] #108 closed

[2016-07-02 16:12] Scyks commented on #65
This is fixed actually, #128, #108, #134 are different things, and also already fixed (PR #136, #135).
@heathermiller can we close this then?

[2016-07-02 16:14] heathermiller opened #139 "Organization page?"
Maybe we should (eventually) consider creating an organization page which contains all published projects/artifacts under a specific user?

[2016-07-02 16:17] heathermiller commented on #65
I didn't dig into this issue at all, I just noticed that in addition to the interpolation bug in #128, the README was not being fetched. Can you confirm that for the pages I mentioned in #128 that the README is now being fetched given #136?

[2016-07-02 16:19] Scyks commented on #65
Yes i can confirm that with #136 the Problem of #128 is gone. I tested locally and cleand up https://github.com/scalacenter/scaladex-poms See: https://github.com/scalacenter/scaladex-poms/pull/2

[2016-07-02 16:22] heathermiller commented on #65
Just to be clear, there are two issues in #128 that I can see. One is the interpolation issue, the other is the README not being fetched. READMES are being displayed for the pages andyglow/websocket-scala-client and ensime/ensime?

[2016-07-02 16:22] heathermiller commented on #65
(PS I saw scalacenter/scaladex-poms#2 earlier today. Well done! Fastest bugfix ever.)

[2016-07-02 16:28] Scyks commented on #65
I'll check locally

[2016-07-02 16:38] heathermiller commented on #65
Woot, thanks :) Despite all the fixes to this issue, it seems to keep popping up again from time to time... :/

[2016-07-02 16:39] heathermiller commented on #129
Resolved :)

[2016-07-02 16:39] #129 closed

[2016-07-02 16:42] heathermiller opened #140 "Extract the "Dependencies" list from the front page."
Following up on #127; rather than having stuff like the dependencies list on the front page, perhaps we should make something like a "Browse" page where we list all such information?

This way we can keep the front page a bit more streamlined?

[2016-07-02 16:44] Scyks commented on #65
As i mentioned here: https://github.com/scalacenter/scaladex/pull/135#discussion_r69376665 the process need to be optimized. There are coming issues from several sides. Some of them are related to the claims fix and some to the interpolation problem.

[2016-07-02 16:46] heathermiller commented on #65
I see. So, let's leave this open until all the PRs are merged? If this appears to be gone in a few days, we close.

[2016-07-02 16:48] Scyks commented on #65
Actually, this one (https://index.scala-lang.org/lihaoyi/derive) is fixed already live. I'm currently checking #128 locally and write a report to #128

[2016-07-02 16:49] heathermiller commented on #65
So the interpolation fix should fix the rest!

[2016-07-02 16:51] Scyks commented on #65
in combination with  #134

[2016-07-02 17:03] Scyks commented on #128
Check them all locally with (#135, 136) - they work
- [x] http://index.scala-lang.org/andyglow/websocket-scala-client
- [x] http://index.scala-lang.org/andyglow/scala-xml-diff
- [x] http://index.scala-lang.org/andyglow/scala-xml-diff
- [x] http://index.scala-lang.org/ensime/ensime
- [x] http://index.scala-lang.org/ensime/java7-file-watcher
- [x] http://index.scala-lang.org/fommil/spray-json-shapel

[2016-07-02 23:31] slandelle opened #141 "Broken search?"
Hi there,

I'm the lead project of [Gatling](https://github.com/gatling/gatling).
When [searching for "gatling" in Scaladex](https://index.scala-lang.org/search?q=gatling), only some children projects get listed, not the main one (which should definitively be the most relevant one for this keywork).

From scaladex-data's README, I understand that our project should be automatically listed as it's

[2016-07-03 07:54] Scyks commented on #141
Hey,

i just investigated your problem, and indeed it's not indexed at all. You're right, as mentioned all Scala artifacts get indexed automatically when they follow the standard or publishing to maven. To find artifacts which are build in Scala, the indicator is the Scala version in the end of the artifact id `gatling-http_2.11`.

You could easily fix that by adding the Scala version to your buil

[2016-07-03 08:17] Scyks commented on #14
Could be fixed by a list of libs like described here: https://github.com/scalacenter/scaladex/issues/141#issuecomment-230140770

[2016-07-03 08:18] heathermiller commented on #14
Yeah we could special case these in the same way that @Scyks proposes in #141

[2016-07-03 10:44] heathermiller opened #142 ""Something not look right? Let us know" link on artifact pages"
Just thinking it would be a good idea to funnel people toward updating keywords, making PRs, or opening issues _from the artifact page_ if we can. It'd probably massively improve the feedback loop between us and users.

[2016-07-03 13:29] heathermiller opened #144 "Change globe icon to something a bit more obvious"
This here:
<img width="364" alt="screen shot 2016-07-03 at 3 28 18 pm" src="https://cloud.githubusercontent.com/assets/687163/16545695/d3fbc4ce-4132-11e6-8fff-2d7166219717.png">

And here:
<img width="349" alt="screen shot 2016-07-03 at 3 29 02 pm" src="https://cloud.githubusercontent.com/assets/687163/16545698/e7bf0fca-4132-11e6-9067-7f4d2b186374.png">

This whole time I didn't realize it was a i

[2016-07-03 14:11] heathermiller commented on #141
🎉 🍻 #145 courtesy of the talented @Scyks 💃

[2016-07-03 14:12] Scyks commented on #141
haha, thanks :) @heathermiller

[2016-07-03 14:17] slandelle commented on #141
@Scyks Thanks for investigating and explaining.

Not appending the Scala version is intended.

We don't plan to ever cross compile, and we aim to have Gatling used outside the sole Scala community. Scala versioning scheme is lost on most non-Scala developers, so we'd rather keep things simple for them and stick to the maven model, at least for now.

I can provide you with any PR you want with a li

[2016-07-03 14:22] Scyks commented on #141
@slandelle

Okay, this means also that we need a wildcard for versions when you don't want to add the scala version.
I need to implement this then also and I need to write a documentation how to index these kind of projects.

It would be nice if you could provide your artifact list. If you want to prepare that please use the described syntax above.

If the stuff is merged and described, i'll let y

[2016-07-03 15:17] heathermiller opened #146 "Pagination broken"
<img width="555" alt="screen shot 2016-07-03 at 5 17 21 pm" src="https://cloud.githubusercontent.com/assets/687163/16546156/104aa3c8-4142-11e6-8f71-d5caae9ccd10.png">

[2016-07-03 15:19] heathermiller commented on #146
The query: `dependencies:playframework\/play-ws`

[2016-07-03 15:40] #128 closed

[2016-07-03 15:47] Scyks commented on #141
@slandelle The documentation is ready.
https://github.com/scalacenter/scaladex-data#index-artifacts-which-are-published-in-java-style

You can create a PR now for your artifacts. But still we need to merge and finish #141 to make it work.

[2016-07-03 17:21] #132 closed

[2016-07-03 18:10] #118 closed

[2016-07-03 18:10] #123 closed

[2016-07-03 19:04] MasseGuillaume opened #147 "handle multiple github repos"
When we collect artifacts we can stumble upon multiple repositories. We want to retain this information.

The latest release will hold the project reference. The older repo if exists will be redirected to the newest.

[2016-07-03 19:06] #134 closed

[2016-07-03 19:07] #101 closed

[2016-07-03 19:07] #88 closed

[2016-07-03 19:08] #14 closed

[2016-07-03 19:08] #65 closed

[2016-07-03 19:25] slandelle commented on #141
@Scyks Done, thanks! https://github.com/scalacenter/scaladex-data/pull/4

[2016-07-03 19:33] Scyks commented on #141
@slandelle The format isn't correct, but @MasseGuillaume will fix it. You need to know also, that now alls version >=2.2 get's index, but *not* any older version.

For that you need to add these version also by creating a new PR. If you're okay with that, it should work from the next release and reindexing.

[2016-07-03 19:47] slandelle commented on #141
Sorry for this. Thanks for fixing.

Yep, I'm fine with that.

[2016-07-03 19:51] #141 closed

[2016-07-03 21:14] #139 closed

[2016-07-03 21:49] Scyks commented on #141
@slandelle It's live https://index.scala-lang.org/gatling

[2016-07-03 21:53] Scyks opened #148 "The package dropdown doesn't work anymore"
On https://index.scala-lang.org/akka/akka-actor there is package select box and a version select box.
both does now go to the organization page instead of selecting the version or the package.

https://index.scala-lang.org/akka?artifact=akka-actor-tests

[2016-07-04 02:07] MasseGuillaume commented on #148
ok I'm on it

[2016-07-04 02:13] #148 closed

[2016-07-04 05:37] Scyks opened #150 "Not all scala versions where downloaded"
Somehow not all Scala versions are downloaded. 2.11.8 is missing by the way.

[2016-07-04 06:16] slandelle commented on #141
Awesome, you guys rock!

[2016-07-04 06:20] heathermiller opened #152 "Dropdown on search pages now broken"
I get a page not found when I attempt to add a sorting now.

[2016-07-04 06:33] heathermiller commented on #152
Sorting still works on organization pages. It's only broken on search pages.

[2016-07-04 06:49] heathermiller opened #154 "Advertise how many Scala libraries we've indexed on front page"
Would be cool to show how large our ecosystem is! I've got an idea for how to do this visually.

[2016-07-04 06:54] #152 closed

[2016-07-04 06:57] heathermiller commented on #148
Let's try to cross-reference issues and PRs, just for the sake of archaeology later if we stumble upon some kind of regression. It's always easier when code changes are linked to issues this way.

Resolved by #149

[2016-07-04 09:33] heathermiller opened #155 "Non standard deployed libs have a wrong URL in dependents"
cc/ @Scyks

[2016-07-04 09:37] heathermiller opened #156 "Dependents side panel broken, always shows zero dependents"

[2016-07-04 11:55] MasseGuillaume commented on #156
it look like it works here:
https://index.scala-lang.org/typelevel/cats-core/0.6.0

[2016-07-04 11:56] MasseGuillaume commented on #155
do you have an example ?

it look like it works for
https://index.scala-lang.org/gatling/gatling-core

will point to

https://index.scala-lang.org/gatling/gatling-metrics/2.2.2

[2016-07-04 12:10] Scyks commented on #155
Strange. I checked that twice and was not working. I tested with scala-Library.

[2016-07-04 12:19] #156 closed

[2016-07-04 12:43] MasseGuillaume opened #157 "automated testing for server"

[2016-07-04 13:27] heathermiller commented on #155
Same here, it was worse for me this morning – none of the gatling projects had any dependents at all listed when I opened this ticket. So I of course couldn't test any links... Maybe elasticsearch was burping under the hood this morning? /shrug

[2016-07-04 13:31] heathermiller opened #158 "Version selector on artifact page should default to core (etc)"
Right now I don't know how the default artifact gets selected. However, most often it's the least relevant one (e.g., -streams instead of -core).

If a "-core" artifact exists we should probably default to it being selected. Else, we should default to whatever is closest to the project name (e.g. if the project is "scalaz" and if there's no "scalaz-core" perhaps there's an artifact called just "sc

[2016-07-04 16:21] #150 closed

[2016-07-04 16:21] MasseGuillaume opened #159 "check POM's sha1"
see https://github.com/scalacenter/scaladex/pull/151#discussion_r69413805

[2016-07-04 17:17] Scyks commented on #146
Maybe we could fix the naming then also: Page N of X Results it's not understandable.
I suggest something like: `Page N of X - Y Results`

[2016-07-04 17:19] MasseGuillaume commented on #146
But that's how Google does it ! :P

[2016-07-04 17:23] Scyks commented on #155
Good that it's not an issue, maybe i mixed something up with Java Dependencies. Sorry for confusing you.

[2016-07-04 19:07] Scyks opened #160 "Speed up scala-library pages"
Actually the scala-library page will not render at all. https://index.scala-lang.org/scala/scala-library/2.11.7

We could optimize the speed of the pages a bit.

[2016-07-04 19:29] Fristi opened #161 "Scodec links to wrong page"
https://index.scala-lang.org/search?q=scodec "scodec" seems to link to https://index.scala-lang.org/scodec/scodec-core/1.9.0 which is broken

[2016-07-04 19:38] MasseGuillaume commented on #161
it's based on http://search.maven.org/#artifactdetails%7Corg.scodec%7Cscodec-core_2.11%7C1.8.0%7Cbundle

[code]

the 4th link I see is https://index.scala-lang.org/scodec/scodec-core and points to 1.8.0

[2016-07-04 19:40] MasseGuillaume commented on #161
One way to fix this would be to give precedence to [claims.json](https://github.com/scalacenter/scaladex-data/blob/master/claims.json) over pom data.

[2016-07-04 19:42] Fristi commented on #161
Pinging @mpilquist.

[2016-07-04 19:43] MasseGuillaume commented on #161
I think it was a publishing error and https://github.com/scodec/scodec-core never existed

[2016-07-04 19:44] MasseGuillaume opened #162 "claims.json should have precedence over pom information"
this way we can fix pom publishing errors like #161

[2016-07-04 20:00] Scyks commented on #162
I guess this was a miss understanding. It works already. It was fixed by #134 and PR #135.

[2016-07-04 20:46] Scyks commented on #161
This is fixed by https://github.com/scalacenter/scaladex-data/pull/5

[2016-07-04 20:48] Scyks commented on #162
I added `"org.scodec scodec-core_*": "scodec/scodec"` to [claims.json](https://github.com/scalacenter/scaladex-data/blob/master/claims.json) reindexed and it works.

<img width="1269" alt="scodec" src="https://cloud.githubusercontent.com/assets/875242/16569688/73e229cc-4239-11e6-9b9d-a19c791fc390.png">

[2016-07-04 21:40] MasseGuillaume commented on #162
[headOption on Set](https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/project/ProjectConvert.scala#L81) can give any ordering

[2016-07-04 21:40] MasseGuillaume commented on #161
https://github.com/scalacenter/scaladex/issues/162#issuecomment-230356878

[2016-07-04 21:49] mpilquist commented on #161
FYI, this was a publishing error in scodec-core, which was fixed last July in https://github.com/scodec/scodec/commit/f35cd91b.

[2016-07-04 22:17] #162 closed

[2016-07-04 22:17] #159 closed

[2016-07-04 22:19] #160 closed

[2016-07-04 22:20] #161 closed

[2016-07-04 22:20] #158 closed

[2016-07-04 22:20] #155 closed

[2016-07-05 01:49] marcospereira commented on #5
Why not Travis CI (or other public service) to handle builds and maybe deploys? Circle CI also comes to my mind.

[2016-07-05 01:54] marcospereira commented on #49
@xeno-by and @MasseGuillaume or maybe some way to clearly state that the project was abandoned. Also it could be removed from search/filters while still published.

[2016-07-05 02:05] MasseGuillaume commented on #49
@marcospereira a simple solution would be to edit the README if possible.

we also have deprecation in plan:
https://github.com/scalacenter/scaladex/blob/master/model/src/main/scala/ch.epfl.scala.index.model/Artifact.scala#L15
https://github.com/scalacenter/scaladex/blob/eb45faaa847f49d1c30f99a010ca8acf24e8361d/model/src/main/scala/ch.epfl.scala.index.model/Deprecation.scala

[2016-07-05 06:53] Scyks opened #167 "Display GitHubs user icon if there is no organization."
On Search pages the icons of organizations are displayed. If a user without an organization publishes an artifact, there is no icon. wouldn't it be cool to have the user icon instead?

[2016-07-05 06:56] Scyks opened #168 "render Issue on artifact pages (stats, contributors)"
During all the moving of "github Stats block" and "contributors" block on the artifact page they now get rendered multiple times.

The right block is in a loop of Scala targets, but the Github stats and contributors does not change at all. This could be a small performance impact on the pages to just render it once.

[2016-07-05 07:04] heathermiller opened #169 "Add an "about us" block to the front page of Scaladex"
Would be cool to have a blurb saying how Scaladex came to be, and all of the people involved in contributing to it!

[2016-07-05 07:06] heathermiller commented on #168
Oh no! Maybe something I did caused this. Do you have an example page where this is occurring? I just searched around and couldn't find anything

[2016-07-05 07:06] Scyks commented on #168
It's on every page ;)

[2016-07-05 07:07] heathermiller commented on #168
It's not happening for me on what's currently deployed on index.scala-lang.org

[2016-07-05 07:19] Scyks commented on #168
have a look at https://index.scala-lang.org/apache/spark-hive
<img width="409" alt="render" src="https://cloud.githubusercontent.com/assets/875242/16576774/9cc8e01c-4291-11e6-8f35-ce374947b4f3.png">

[2016-07-05 13:27] MasseGuillaume commented on #15
Currently we discover and download POM from Bintray. It would be possible to use Sonatype api to index private repositories implementing the following:
* [discover poms](https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/bintray/ListPoms.scala)
* [download poms](https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index

[2016-07-05 13:59] MasseGuillaume opened #170 "bintray resolver"
Not every artifact is on maven central. We would need to add the resolver to bintray in the sbt install

[2016-07-05 15:11] tpolecat opened #171 "Changing sort criteria results in zero results"
Click on **db** then change the sort-by thing to Stars or anything else, and you get **No Results**.

[2016-07-05 15:18] Scyks commented on #171
Hey @tpolecat,

this is already fixed by #152 but Thanks for telling us.

[2016-07-05 15:18] #171 closed

[2016-07-05 15:19] heathermiller commented on #171
I think @MasseGuillaume just needs to re-deploy and you'll be able to see it :)

[2016-07-05 16:41] MasseGuillaume opened #172 "escape slash"
searching for `a/b` produces a server error

[2016-07-05 17:30] MasseGuillaume commented on #15
/cc @jozic

[2016-07-05 17:31] MasseGuillaume commented on #15
more info at https://gitter.im/scalacenter/scaladex?at=577bb5d6584c2e775be65015

[2016-07-06 13:40] #167 closed

[2016-07-06 20:55] olafurpg commented on #131
"shapeless" is another good test query: https://index.scala-lang.org/search?q=shapeless

milessabin/shapeless appears on the 4th page https://index.scala-lang.org/search?q=shapeless&page=4

[2016-07-07 05:38] lrytz commented on #131
+1 – i just tried scaladex very superficially so far. the first impression is that search really doesn't yield relevant results first. a typical example: somebody searches for "json", that should give a list of relevant json libs. currently the first page is:

[code]

[2016-07-07 15:04] #93 closed

[2016-07-09 14:57] Scyks commented on #168
merged, can be closed.

[2016-07-09 14:57] #168 closed

[2016-07-09 15:01] Scyks commented on #15
This could be solved by #176. I tested that already and it works if the private repository is on GitHub. It might be also possible to use GitLab / Bitbucket later.

Also with #176, it might be possible to have an internal scaladex running.

[2016-07-09 20:25] MasseGuillaume commented on #146
I think there is a regression in 1023a68985fd7b5a9dae89ffcef719a84ccc5c26.

https://index.scala-lang.org/search?q=dependencies:slick\/slick&page=2
shows 1 ~ 11

https://index.scala-lang.org/search?q=dependencies:slick\/slick&page=3
show 1 ~ 6

[2016-07-10 17:01] MasseGuillaume opened #178 "trust scmInfo"
Anyone could publishing with a `scm` that they dont own. (ex: publish ScalaKata with akka/akka).

Maven central enforce the ownership of groupId, but I assume they dont enforce the ownership of `scm`.

This could be solved by creating a mapping between groupId and `scm`

[2016-07-11 14:16] MasseGuillaume opened #179 "AhcWSClient resource leak"
we need to make sure to close `AhcWSClient`

[2016-07-11 18:47] #144 closed

[2016-07-11 18:47] #110 closed

[2016-07-11 18:47] #170 closed

[2016-07-11 18:47] #146 closed

[2016-07-11 18:47] #172 closed

[2016-07-11 18:48] #94 closed

[2016-07-11 18:48] #85 closed

[2016-07-11 18:48] #89 closed

[2016-07-11 18:48] #86 closed

[2016-07-11 18:48] #77 closed

[2016-07-11 21:58] Scyks commented on #178
Hey @heathermiller ,

we need to take a decision on security for publishing via the SBT-Plugin. Like @MasseGuillaume mentioned, there is a security issue that everyone can publish for a groupId he doesn't own.
GitHub's repo push permission is not enough to verify the ownership

Example:
I could fork `akka/akka-actor` change the scm tag to a repo i have push access and publish a new version in scal

[2016-07-12 06:24] Scyks opened #180 "How to publish page"
Would be nice also to have the publishing procedure also on the website. Maybe people searching for that already.

We could use the text from [README](https://github.com/scalacenter/scaladex/pull/176/commits/c746c3124f8a2cf38faf97aed8c2972965c12bc1)

[2016-07-13 13:50] MasseGuillaume commented on #127
@tpolecat
[NOT dependencies:akka\/akka-actor play](https://index.scala-lang.org/search?q=NOT+dependencies%3Aakka%5C%2Fakka-actor)

[2016-07-13 14:44] MasseGuillaume commented on #56
fixed in a98347ca4ad493096d016266018fa2ba59468bd0

[2016-07-13 14:44] #56 closed

[2016-07-13 14:46] MasseGuillaume commented on #131
fixed in a98347ca4ad493096d016266018fa2ba59468bd0
[shapeless](https://index.scala-lang.org/search?q=shapeless) now on the first page
[json](https://index.scala-lang.org/search?q=json) shows circe, jawn, json4s on the first page

[2016-07-13 14:46] #131 closed

[2016-07-13 14:52] MasseGuillaume opened #182 "some poms are missing"
https://index.scala-lang.org/milessabin/shapeless

for example shapeless 2.3.1 should have scala 2.11

after investigation this is because it's missing in the pom discovery step (ListPoms)

FYI @milessabin

[2016-07-13 16:10] MasseGuillaume commented on #86
@timperrett

I'm using github as a namespace since not everyone is using subdomains in their groupId.
It now looks like:
https://index.scala-lang.org/oncue/knobs/typesafe
https://index.scala-lang.org/oncue/knobs/core
https://index.scala-lang.org/oncue/knobs/core/3.6.1
https://index.scala-lang.org/oncue/knobs/core_2.10/3.6.1

sometime it's a bit repetitive:
https://index.scala-lang.org/typelevel/ca

[2016-07-13 19:35] Scyks commented on #15
With #176 this task is partly done. The SBT Plugin allows you to index private GitHub repositories now. This could also be used or internal copy of Scaladex. The main information how to do that is already in the [Readme](https://github.com/scalacenter/scaladex/blob/master/README.MD).

To index old releases you could also publish them using the SBT-Plugin. It might be a bit work put it's possible.

[2016-07-13 20:45] #26 closed

[2016-07-13 20:45] #27 closed

[2016-07-14 06:46] heathermiller opened #184 "README troubles again"
In the currently-deployed Scaladex, we're missing the README in some places again. For example, in https://index.scala-lang.org/guardian/scanamo-scrooge

<img width="1205" alt="screen shot 2016-07-14 at 8 45 57 am" src="https://cloud.githubusercontent.com/assets/687163/16830463/691807b0-499f-11e6-8f93-adb864437204.png">

[2016-07-14 06:49] heathermiller opened #185 "Increase in number of dropdown menus getting confusing. UI also broken"
At this point, having 3 different drop-down menus has gotten confusing. It's also beginning to break the UI :(

<img width="409" alt="screen shot 2016-07-14 at 8 47 22 am" src="https://cloud.githubusercontent.com/assets/687163/16830486/a92b74d6-499f-11e6-96c9-dd0b2f6c6eaf.png">

I have some ideas for how to clarify this, in a UI sense... (Crazy busy with SC tasks and then organizing a conference n

[2016-07-14 08:14] heathermiller opened #186 "Organization pages broken now"
Try going to any organization page. Now you get: "The requested resource could not be found."
E.g., https://index.scala-lang.org/twitter

[2016-07-14 12:25] MasseGuillaume commented on #186
it's now at https://index.scala-lang.org/search?q=organization%3Atwitter

The advantage it's that it's accessible directly via the search. If you wish we could keep the old url.

[2016-07-14 12:44] heathermiller commented on #186
I'd like to keep the old URL. I'd rather this be like github, where one just has to do:

github.com/orgname

...and can just see the list of projects under that organization

[2016-07-14 13:06] heathermiller commented on #186
Is there some way to get both? Search and nice URL?

[2016-07-14 15:53] heathermiller commented on #184
<img width="1233" alt="screen shot 2016-07-14 at 5 50 53 pm" src="https://cloud.githubusercontent.com/assets/687163/16846138/8faecd40-49eb-11e6-97df-f9ffb0cbddc3.png">
<img width="1224" alt="screen shot 2016-07-14 at 5 53 32 pm" src="https://cloud.githubusercontent.com/assets/687163/16846244/e8aeb216-49eb-11e6-851b-d3207c759b52.png">

[2016-07-14 15:53] heathermiller commented on #184
:(

[2016-07-14 20:50] Scyks commented on #184
for `cgta/autowire` the repository does not exist https://github.com/cgta/autowire
for `akka-wamp/akka-wamp` the same https://github.com/akka-wamp/akka-wamp
for `guardian/scanamo-scrooge` it should be there.

@MasseGuillaume are you also downloading new GitHub info during deployment?

[2016-07-15 01:17] MasseGuillaume commented on #184
@Scyks will look

[2016-07-15 02:48] MasseGuillaume commented on #122
Hey @jvican!

This is how you get started:
https://github.com/scalacenter/scaladex#how-to-run-scaladex

You will need to install sass
https://github.com/scalacenter/scaladex#requirements

To simplify the build I removed scalajs and the only feature we had using it (dropdown in search). It would like to keep it simple and use plain javascript for the client side.

This was the scalajs code:
https:/

[2016-07-15 08:44] jvican commented on #122
Hello @MasseGuillaume, thanks!

Just on a side note: I'm really sad we cannot use ScalaJS and that I need to do it with plain javascript.

[2016-07-15 14:26] jvican opened #188 "Adopt scalafmt"
Hello, given the success of the project and that some parts of the codebase are not very well formatted, I would propose to adopt scalafmt. I think it's a very good tool that works reliable, plus it's developed by one of the SC guys.

If you agree on this, I'll make a PR with it.

[2016-07-15 14:28] MasseGuillaume commented on #188
@jvican go for it, I hope it does a good job with the akka-http routing dsl :P

[2016-07-15 15:09] MasseGuillaume commented on #185
What's confusing ?

When you select a software you have to make sure it match you requirements. For example the elastic4s project propose different versions based on the elasticsearch version:
https://github.com/sksamuel/elastic4s#release

I added a PR to improve the default selection https://github.com/scalacenter/scaladex/pull/187. You can take a look at the heuristic here:
https://github.com/sc

[2016-07-15 15:11] heathermiller commented on #185
I just think that the UI can be clarified. No worries, I have an idea of how we can do this :)

[2016-07-15 15:39] #186 closed

[2016-07-15 16:15] MasseGuillaume commented on #184
@Scyks guardian/scanamo-scrooge should be in now :-)

[2016-07-15 16:32] heathermiller commented on #184
Why was this closed?

[2016-07-15 16:36] MasseGuillaume commented on #184
@heathermiller fixed in https://github.com/scalacenter/scaladex-poms/commit/6e509ee74de0113705f6cef0a4939ce471443f5c

[2016-07-15 19:28] jvican commented on #188
I've run scalafmt, and I'm getting a weird error that apparently happens because of a scala 2.10 compatibility issue (see [this](http://stackoverflow.com/questions/25089852/what-is-the-reason-for-java-lang-nosuchmethoderror-scala-predef-arrowassoc-upo)).

I run scalafmt with sbt in the root project. It crashes when formatting the server:
[code]
/ping @olafurpg

Are you using scala 2.10 somewhere i

[2016-07-15 19:58] MasseGuillaume commented on #188
only the sbt plugin

[2016-07-15 20:05] olafurpg commented on #188
This is a known issue with the sbt scalafmt plugin, see
https://github.com/olafurpg/scalafmt/issues/190

Since it seems many are affected but it, I'll try to take a look at it when
I find time.

On Fri, 15 Jul 2016 at 19:58, Guillaume Massé <notifications@github.com>
wrote:

[2016-07-17 19:48] MasseGuillaume opened #191 "sbt plugins & ivy dependencies"
sbt plugins are published via ivy

https://bintray.com/sbt/sbt-plugin-releases

https://bintray.com/scaladex/sbt-plugins/sbt-scaladex#files/ch.epfl.scala.index/sbt-scaladex/scala_2.10/sbt_0.13/0.1.3/ivys

doc: http://ant.apache.org/ivy/history/latest-milestone/ivyfile.html

[2016-07-18 01:43] #12 closed

[2016-07-18 01:43] #87 closed

[2016-07-18 01:45] MasseGuillaume commented on #87
fixed in #193

You should now be able to login. Once you do you can click on your avatar to get a list of your projects.

[2016-07-18 01:46] MasseGuillaume commented on #12
fixed in #193

[2016-07-18 02:07] MasseGuillaume commented on #28
I defined an admin as someone who has write access to the repo scalacenter/scaladex

[2016-07-18 14:50] jvican opened #194 "Don't make `data/reStart elastic` async..."
Or if you do, redirect the output since after the task is executed it starts to pollute the sbt output.

[2016-07-18 14:51] MasseGuillaume commented on #194
you mean you want to attach reStart task to the sbt console ?

[2016-07-18 14:52] jvican opened #195 "Paginate by default 20 items"
By default, we paginate every 10 items. I think it'd be better if we do every 20, since 10 is probably shorter than the user will expect, and nobody likes to click links to navigate through all the results.

[2016-07-18 14:53] jvican commented on #194
Well, if it's possible we execute the task but we wait until it's complete. If you prefer to run it in the background, we redirect the output to a file.

[2016-07-18 14:54] jvican commented on #188
Thanks @olafurpg, there's no rush, though, we can live without it for now.

[2016-07-18 14:56] MasseGuillaume commented on #194
I'm not sure I understand can you give me an actual vs expected result ?

[2016-07-18 15:02] jvican commented on #194
When I run the task, it runs in the background (which means I can type whatever sbt command I want in the meanwhile). What I want to do is either to run it in the foreground, or to redirect the output (because when I run the task, all output starts to appear in the sbt console while I'm typing other commands).

[2016-07-18 15:09] MasseGuillaume commented on #194
I dont think it's possible.

This is what we can configure: http://www.scala-sbt.org/0.13/docs/Forking.html#Configuring+output

[2016-07-18 15:10] jvican commented on #194
Then let's make it run in the foreground :smile:

[2016-07-18 15:10] MasseGuillaume commented on #194
oh nvm : `connectInput`

[2016-07-18 15:11] MasseGuillaume commented on #194
https://github.com/spray/sbt-revolver/blob/40783737b1ad64a35dc9b2cb726d21603ad3c80e/src/main/scala/spray/revolver/RevolverPlugin.scala#L84

[2016-07-18 15:14] MasseGuillaume commented on #194
then `run elastic`

[2016-07-18 15:14] #194 closed

[2016-07-19 09:16] jvican opened #196 "Internal server error when searching"
Looking up 'NOT' in the search box results in an internal server error, probably because it's a special keyword used for filtering. In such case, not filters are not working.

This has to do with the indexer? /cc @MasseGuillaume

[2016-07-19 09:18] jvican commented on #196
Yeah, indeed:
[code]

[2016-07-19 13:05] MasseGuillaume commented on #196
The doc suggest we use https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html#query-dsl-simple-query-string-query

I think when I tried it was no giving me the same result as the plain query-string. Maybe we need to turn some flag on: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html#_flags

[2016-07-19 13:10] MasseGuillaume opened #197 "write elasticsearch data in sbt's target folder"
/cc @jvican

[2016-07-19 16:07] sullivan- opened #200 "indexing transferred projects"
I just logged in to Scaladex for the first time and added some repositories. The longevity project used to be hosted on GitHub here: `https://github.com/sullivan-/longevity`. A few artifacts (up to 0.2.0) were published from the repository at this location. I've since transferred ownership of this repository to here: `https://github.com/longevityframework/longevity`. When I search for longevity on

[2016-07-19 16:15] MasseGuillaume commented on #200
you can claim all longevity releases in https://github.com/scalacenter/scaladex-data

this has precedence over pom informations.

you published old artifacts under:

groupId: net.jsmscs
artifactId: longevity_*

add the following line to claims.json

[code]

this will remove `sullivan-/longevity` from the index.

For the new release (0.5.0), I have it locally, I will reindex now.

[2016-07-19 16:15] #200 closed

[2016-07-19 16:21] #28 closed

[2016-07-19 16:25] sullivan- commented on #200
Thank you! I just submitted a pull request for the claim.

[2016-07-19 16:55] MasseGuillaume commented on #200
@sullivan-

https://index.scala-lang.org/sullivan-/longevity does not exists anymore
https://index.scala-lang.org/longevityframework/longevity contains release 0.5.0 and older longevity releases (0.2.0 downward)

[2016-07-19 17:49] MasseGuillaume commented on #182
I'm not sure what happen but this is fixed.

[2016-07-19 17:49] #182 closed

[2016-07-19 19:17] sullivan- commented on #200
thanks Guillaume! but my latest release is 0.9.0 😁..

On Jul 19, 2016 11:55, "Guillaume Massé" <notifications@github.com> wrote:

[2016-07-19 19:23] MasseGuillaume commented on #200
ok 0.9.0 was published the 15th of Jully.
http://search.maven.org/#search%7Cga%7C1%7Corg.longevityframework

We use Bintray to discover poms. They have a ~3 days delay on maven central
https://bintray.com/api/v1/search/file?name=longevity_2.11-0.9.0.pom
It look like it was transfer today: `"created":"2016-07-19T04:04:45.860Z"`

We are developing a sbt plugin to make the process faster. It should b

[2016-07-19 19:25] sullivan- commented on #200
okay, makes sense. thanks again!

On Jul 19, 2016 14:23, "Guillaume Massé" <notifications@github.com> wrote:

[2016-07-20 08:00] jvican commented on #197
You taking care of this? I could do it pretty quickly.

[2016-07-20 08:19] heathermiller commented on #197
You can do eet!

[2016-07-20 13:18] MasseGuillaume commented on #197
fixed in 968e8ec84fb956b168fce16fe6a2989bd87ac5d9 sorry !

[2016-07-20 13:18] #197 closed

[2016-07-20 13:19] MasseGuillaume commented on #197
This is problematic when deploying however (it would point to my project directory in alaska). I have a branch https://github.com/scalacenter/scaladex/tree/feature/deploy for this topic

[2016-07-20 13:39] jvican commented on #197
Oh, true, I was kinda suprised that didn't work before with those lines before. It turned out I rebased and got your new results.

[2016-07-20 13:56] #195 closed

[2016-07-20 14:08] #122 closed

[2016-07-20 17:17] MasseGuillaume commented on #188
#205

[2016-07-20 17:17] #188 closed

[2016-07-20 17:18] MasseGuillaume commented on #185
#e6a79eb44d479890c3e43c63c5e3e3bfc37ad032

[2016-07-20 17:18] #185 closed

[2016-07-20 17:19] MasseGuillaume commented on #95
see #200

[2016-07-20 17:23] MasseGuillaume commented on #95
I did it for you https://github.com/scalacenter/scaladex-data/commit/4d239aff9da326fd0c7993e08155245801dccb88

[2016-07-20 19:55] MasseGuillaume commented on #178
https://index.scala-lang.org/playframework/playframework

is now only displaying a fork
[code]

ibid for
https://index.scala-lang.org/playframework/anorm
[code]

[2016-07-21 03:44] MasseGuillaume opened #208 "precompute artifact list & default artifact"
https://github.com/scalacenter/scaladex/blob/master/server/src/main/scala/ch.epfl.scala.index.server/Api.scala#L105

https://index.scala-lang.org/playframework/playframework has more than 7500 releases. (~100 artifacts x ~100 releases).

We can pre compute the artifact list and the default release.

[2016-07-21 06:07] MasseGuillaume opened #209 "something is wrong with playframework"
https://index.scala-lang.org/playframework/playframework
contains 1 release (fork)

https://index.scala-lang.org/playframework/anorm
contains a mixture of fork an official releases

+ too much artifacts (7500) see https://github.com/scalacenter/scaladex/issues/208

[2016-07-21 08:55] heathermiller opened #210 "Organization pages broken again, they show more than org's projects"
E.g., if you check the Twitter organization on Scaladex, you'll see that there are 3162 results for projects.

https://index.scala-lang.org/twitter

<img width="504" alt="screen shot 2016-07-21 at 10 55 15 am" src="https://cloud.githubusercontent.com/assets/687163/17016939/a41dce66-4f31-11e6-8878-bb7ffdb91aa7.png">

[2016-07-21 12:51] heathermiller opened #211 "Search results can still be improved, again"
Despite opening many tickets about this by this point, the search relevance still doesn't make much sense in many normal usage scenarios.

For example, I just searched for a new project that hasn't yet been published on Sonatype. It's called "lchannels". I get 3162 results that have no relationship whatsoever to this library.

If there is no library published under this name, I shouldn't be shown

[2016-07-21 12:54] MasseGuillaume commented on #210
solved in 40f13ed60ba12c28bdab9da58bcebe7f07c3b5cc

[2016-07-21 12:54] #210 closed

[2016-07-21 12:55] MasseGuillaume commented on #211
solved in 40f13ed60ba12c28bdab9da58bcebe7f07c3b5cc

let's chat before opening issues

[2016-07-21 12:55] heathermiller commented on #211
Opening issues is a way of chatting :)

[2016-07-21 13:08] heathermiller commented on #211
I would strongly suggest not to discourage feedback in the form of issues. It discourages people from reporting regressions and sharing suggestions for usage improvements.

[2016-07-21 14:41] MasseGuillaume commented on #209
https://github.com/scalacenter/scaladex-data/blob/master/claims.json#L701

[2016-07-21 15:36] #209 closed

[2016-07-21 18:03] MasseGuillaume commented on #95
There is a lot of repos that moved

from index.scala-lang.org/search?q=*&sort=stars
page 1 to 13 I can find

[code]

I think it would make more sense to dynamically ajust this. We can get this information when we scrape Github data. Also it would make more sense to keep the old repo but remove it from search results.

[2016-07-21 20:15] MasseGuillaume commented on #84
[Pursuit Example](https://pursuit.purescript.org/packages/purescript-aff-coroutines/2.0.0/docs/Control.Coroutine.Aff)
[Hackage](https://hackage.haskell.org/package/pokitdok-4.1.0.2/docs/PokitDok-Client.html)

[2016-07-21 22:00] MasseGuillaume commented on #100
I studied some projects from the index and I came up with this pseudo dsl:

given "io.monix" %% "monix-reactive" % "2.0-RC8"

[code]

* scaladoc: "https://monix.io/api/[version]/#package"
* documentation =
  * user: https://monix.io/docs/[major]x/
  * ...

becomes:

* scaladoc: "https://monix.io/api/2.0-RC8/#package"),
* documentation =
  * user: https://monix.io/docs/2x/
  * ...

[2016-07-22 14:26] heathermiller commented on #184
It's still not fixed.

[2016-07-22 14:26] heathermiller commented on #184
eg: https://index.scala-lang.org/dylemma/xml-spac

[2016-07-25 00:29] MasseGuillaume commented on #84
@Fristi
![demo](https://cloud.githubusercontent.com/assets/921490/17087634/ee2a9a5e-51dc-11e6-8816-a150e17262fe.gif)

[2016-07-25 00:29] MasseGuillaume commented on #100
@alexandru
![demo](https://cloud.githubusercontent.com/assets/921490/17087634/ee2a9a5e-51dc-11e6-8816-a150e17262fe.gif)

[2016-07-25 01:01] MasseGuillaume commented on #100
![2016-07-24-210017_2446x1920_scrot](https://cloud.githubusercontent.com/assets/921490/17087934/d6b54b4e-51e1-11e6-91d3-2e90446b03da.png)

[2016-07-25 01:31] MasseGuillaume commented on #49
@marcospereira @xeno-by
solved https://github.com/scalacenter/scaladex/pull/212/commits/123f8f32d3330101d9b38753e51bf55e3a5daa4f

[2016-07-25 02:49] tpolecat commented on #84
👍

[2016-07-25 03:32] alexandru commented on #100
Thanks, looking good.

[2016-07-25 05:10] xeno-by commented on #49
@MasseGuillaume Is the UI for this already live?

[2016-07-25 07:18] Fristi commented on #84
I like! 👍

[2016-07-25 13:34] MasseGuillaume opened #213 "github scope"
public_repo write is too scary

read:org	Read-only access to organization, teams, and membership.

then itterate orver org repo

/cc @tpolecat

[2016-07-25 13:38] MasseGuillaume commented on #100
* [ ] add url label

[2016-07-25 13:59] #22 closed

[2016-07-25 14:00] #60 closed

[2016-07-25 16:39] MasseGuillaume opened #214 "Customize Project"
https://github.com/scalacenter/scaladex/pull/212/commits/65500a437e7ad5aab0d927815a0d9edf64f7da94

[2016-07-25 23:22] #100 closed

[2016-07-25 23:22] #208 closed

[2016-07-25 23:22] #25 closed

[2016-07-25 23:22] #84 closed

[2016-07-25 23:22] #49 closed

[2016-07-26 12:52] heathermiller commented on #49
👏 🎉 🍻

[2016-07-26 15:07] MasseGuillaume commented on #49
@xeno-by not yet ;-)

[2016-07-26 15:12] MasseGuillaume commented on #213
resolved in https://github.com/scalacenter/scaladex/pull/215

[2016-07-26 15:12] #213 closed

[2016-07-26 15:23] MasseGuillaume commented on #184
this is fine now locally

[2016-07-26 15:23] #184 closed

[2016-07-27 12:51] olafurpg commented on #131
The search results have definitely improved, good job 👍

I still feel that the "most relevant" ordering has room for improvements, for queries like "json" I think the star count should weigh more in the ordering even if there exist projects with the exact name "json"

<img width="1118" alt="screen shot 2016-07-27 at 14 41 12" src="https://cloud.githubusercontent.com/assets/1408093/17175598/b22afa5

[2016-07-27 13:12] #80 closed

[2016-07-27 13:50] MasseGuillaume opened #218 "Label for documentation url"
https://monix.io/docs/2x/

vs

[User Guide](https://monix.io/docs/2x/)

[2016-07-27 15:23] heathermiller opened #219 "Down arrow + enter on dropdown should let you select a library"

[2016-07-27 15:34] MasseGuillaume commented on #100
@alexandru the edit feature is now live

can you update https://index.scala-lang.org/monixio/monix ?

[2016-07-27 15:35] heathermiller commented on #100
(The color-changing part of the edit feature is coming in a later pass, but the rest is there!)

[2016-07-27 15:36] MasseGuillaume commented on #100
Regarding Monifu there is a pending issue for moved repository

https://github.com/scalacenter/scaladex/issues/95

[2016-07-27 15:54] alexandru commented on #100
Thanks folks, will update when I get back this Sunday, currently on vacation :-)

[2016-07-27 16:00] heathermiller opened #220 "UI improvements for #100"
(Guillaume, don't worry about this one. This is book-keeping for me)

The little pseudo-DSL for specifying documentation is nice. Though the UI on the edit page is a bit confusing. It could maybe be clarified/streamlined so it makes a bit more intuitive sense off the bat.

[2016-07-28 16:33] MasseGuillaume opened #222 "default version override"
/cc @jducoeur

https://index.scala-lang.org/jducoeur/jquery-facade

Select 0.11 by default. @jducoeur would prefer to enfore 1.0-RC6

[2016-07-29 20:01] MasseGuillaume commented on #222
@jducoeur

The issue with setting a default version is to have stalled data. The data pipeline will fetch new data but the library author may forget to update the version on the index.

Instead of selection a specific version we will provide a way to select a default version strategy: latest or stable.

stable will be the last non pre release version if it exists and latest will be the latest vers

[2016-07-29 20:22] jducoeur commented on #222
Sounds like a reasonable strategy...

[2016-07-31 01:32] MasseGuillaume commented on #49
@xeno-by now it is :)

[2016-08-01 13:42] MasseGuillaume opened #223 "newly created tag does not appear in the edit page"
edit a project
add a new tag
save
edit the project again
the keyword is not in the list

[2016-08-01 14:10] #179 closed

[2016-08-01 14:11] MasseGuillaume commented on #36
https://github.com/scalacenter/scaladex/pull/221

[2016-08-01 14:11] #36 closed

[2016-08-01 14:32] #223 closed

[2016-08-02 12:43] olafurpg opened #228 "Fuzzy search: match on substrings"
I really like the new auto-completion list that pops up while I type my search query. However, I noticed that the results don't make sense until I type out the full name of what I'm looking for. For example, searching ["scalafm"](https://index.scala-lang.org/search?q=scalafm) yields 0 results. olafurpg/scalafmt only appears if the query is "scalafmt" verbatim.

Other examples:

- "test" doesn't li

[2016-08-02 12:51] olafurpg commented on #211
I would argue that this is still an open issue. For example, searching ["parser"](https://index.scala-lang.org/search?q=parser) yields a lot of random projects and searching ["parse"](https://index.scala-lang.org/search?q=parse) yields an different set of projects (1 project in common with "parser"). I think that the search index should list similar projects for those two queries, from the user's

[2016-08-02 12:56] MasseGuillaume commented on #211
we can search with a distance:
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-fuzzy-query.html

we can also provide "did you mean X?"
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-phrase.html

[2016-08-02 12:59] heathermiller commented on #211
Also, today @xeno-by pointed out that when searching for scala-reflect, he found 3182 entries and wasn't sure what to make of it. Surely that wasn't dependencies...

[2016-08-02 13:02] xeno-by commented on #211
Here's the screenshot: https://www.dropbox.com/s/d28adc4yqwaoz9w/Screenshot%202016-08-02%2015.02.17.png?dl=0.

[2016-08-02 13:08] MasseGuillaume commented on #211
so Scala reflect is part of the scala/scala project that's why it's harder to find

http://search.maven.org/#artifactdetails%7Corg.scala-lang%7Cscala-reflect%7C2.11.8%7Cjar

[2016-08-02 13:14] heathermiller commented on #211
Just two thoughts:

1. Valid point, but still, should it list 3182 results? If an artifact called "scala-reflect" isn't found, shouldn't we return zero results?
2. It probably should be easy to find scala-reflect at least... Maybe even scala-library.

[2016-08-02 13:15] MasseGuillaume commented on #211
yeah I have an easy idea to solve this ;-).

[2016-08-04 04:41] MasseGuillaume commented on #5
@marcospereira a bit late to the party: we need a lot of RAM :-)

[2016-08-04 14:37] MasseGuillaume opened #231 "blog post for the release"
* screen cast (2min)
* PR to https://github.com/scala/scala-lang

[2016-08-04 15:42] MasseGuillaume commented on #154
* projects
* artifacts
* releases

[2016-08-04 19:24] MasseGuillaume commented on #219
Esc or click away to bail out

[2016-08-04 19:44] #219 closed

[2016-08-04 20:53] jducoeur opened #234 "Documentation links appear to be broken"
At the moment, when I go to one of my projects and click the "Scaladocs" link, it takes me right back to the page I'm looking at.

Not sure when this changed -- I'm pretty sure it was working last week.  (And I think it's one of the lovelier features.)

[2016-08-04 21:05] MasseGuillaume commented on #234
I should clear the link when it's empty in the interim I used the default link:

https://www.javadoc.io/doc/[groupId]/[artifactId]/[version]

[2016-08-05 22:30] MasseGuillaume opened #235 "libraries without dependencies"
@olafurpg would like to have a query to find libs without deps so he can run dotty migration test

[2016-08-05 22:53] olafurpg commented on #235
Being able to query things like

[code]

would be really cool (and useful in my case). Either via the web browser interface or some API.

[2016-08-08 04:38] MasseGuillaume commented on #231
https://github.com/scala/scala-lang/pull/450

[2016-08-08 16:03] MasseGuillaume opened #237 "integrate with coursier"
[conscript](http://www.foundweekends.org/conscript/)

By combining scaladex with coursier we can extend the idea of conscript to the whole Scala ecosystem.

`coursier launch com.lihaoyi:ammonite-repl_2.11.8:0.5.7`

vs

`coursier launch ammonite`

minimal change
- add rest api to resolve package name to specific release
- modify coursier

general improvements
- specify artifact type (cli, library,

[2016-08-08 16:36] MasseGuillaume commented on #70
@jvican I think is relates to the Scala Platform Process

[2016-08-08 16:39] jvican commented on #70
This is cool :+1:.

[2016-08-08 21:59] milessabin commented on #70
Sorry, I completely missed this earlier. Yes, something along those lines would be very useful.

[2016-08-09 13:58] MasseGuillaume opened #239 "twitter card per project"
On a project page the twitter card should display it's logo

/cc @alexandru

[2016-08-09 14:59] MasseGuillaume opened #240 "create new github token for production"

[2016-08-09 15:36] #231 closed

[2016-08-09 17:19] julienrf commented on #239
For reference here the link that explains the expected format: https://twitter.com/alexelcu/status/762998231626383360

[2016-08-09 17:27] julienrf commented on #239
What values should we use for the following fields?
- The Twitter @username the card should be attributed to ;
- The description (when absent).

[2016-08-09 17:54] MasseGuillaume commented on #5
* [ ] split build script into two parts: build phase and redeploying phase (run by sudo)

[2016-08-09 17:55] MasseGuillaume opened #242 "make http port configurable"
bind to 0 finds an open port or bind to custom port

[2016-08-09 18:27] #240 closed

[2016-08-09 19:46] MasseGuillaume commented on #228
I'm using fuzzy search locally all those cases works with the exception of scalatest

[2016-08-09 20:30] MasseGuillaume commented on #235
we need a graph to do those queries.

[2016-08-09 20:37] #228 closed

[2016-08-09 20:37] #211 closed

[2016-08-09 20:39] #234 closed

[2016-08-09 20:47] #242 closed

[2016-08-09 22:06] olafurpg commented on #235
I think a relational database is also fit for the task, since I'm not concerned with recursive or transitive dependencies. However, I would also be happy with a csv file dump in form of something like

[code]

[2016-08-10 05:18] alexandru commented on #239
- The Twitter username should be @scala_lang. It's only used for analytics stuff I believe.
- the one line description you fetch from GitHub per project is perfect for the description

[2016-08-10 10:29] alexandru commented on #100
Just wanted to report that I've edited the documentation link, it seems to be working fine.

I also submitted a claim request to scaladex-data for the Monifu repository, thanks @MasseGuillaume for the notice.

[2016-08-10 14:30] #5 closed

[2016-08-10 14:30] #51 closed

[2016-08-10 16:46] #222 closed

[2016-08-10 16:47] MasseGuillaume commented on #222
@jducoeur we just enable continuous delivery, this feature will be deployed in a couple minutes ;-)

[2016-08-10 17:00] jducoeur commented on #222
Excellent!

[2016-08-10 20:08] #218 closed

[2016-08-10 21:12] olafurpg commented on #211
I still don't get the "most relevant" ordering. Here's the results for ["pars"](https://index.scala-lang.org/search?q=pars)

<img width="1182" alt="screen shot 2016-08-10 at 23 04 13" src="https://cloud.githubusercontent.com/assets/1408093/17570992/d38a9e04-5f4e-11e6-9d12-89bc530d9dd2.png">

In my opinion, the "ascii-graphs" library is most relevant out of the top 5 libraries (scala/scala-parser-c

[2016-08-11 04:46] MasseGuillaume commented on #211
There is a fuzzy match on the description. Part -> Pars that's why it's on top. I think in this case we are not talking about search relevance but typo fixing. Google will show you something like: *Did you mean parse?* Elasticsearch has an api for this:
https://www.elastic.co/guide/en/elasticsearch/reference/2.3/search-suggesters.html I will take a look.

Another thing I can improve related to Ela

[2016-08-11 04:51] MasseGuillaume commented on #235
The data fits in memory and take ~1 minute to load. You can start a repl session with this in memory:
https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/elastic/SeedElasticSearch.scala#L68

you will get a `List[(Project, Set[Release])]`

[2016-08-11 04:54] MasseGuillaume commented on #220
Maybe some live editing example.

Given a release and this documentation expression this is the output. The output changes on a key press.

[2016-08-11 04:55] MasseGuillaume commented on #214
We are reviewing this feature to make sure it works with the current design. In Twitter for example, it's possible to change the foreground color. However the UI gracefully adapts to it,

[2016-08-11 12:32] olafurpg commented on #235
Amazing, I'll take a look when I have time.

[2016-08-11 12:40] olafurpg commented on #211
Correct. "Did you mean ...?"  would be a really useful feature.

It would be interesting to see if that could improve the search results.

I can imagine it's hard, especially since users expect Google-like quality in the search results. I'm sorry for giving you such a hard time. The search has made a lot of progress since June, big kudos for that.

[2016-08-12 08:47] fsalvi commented on #196
I guess you already know, but scaladex crashes with many special characters:
- [ ( : {

[2016-08-12 12:07] mikolak-net opened #248 "Adding a DuckDuckGo "bang" integration"
Out of curiosity, I've searched for it, and [it seems to be missing](https://duckduckgo.com/bang?q=scala) .

Adding a [bang integration](https://duckduckgo.com/bang) to DuckDuckGo would be a "cheap" way to increase awareness of ScalaDex.

[The form](https://duckduckgo.com/newbang) is relatively straightforward. There remain two open points:
- the "bang" mnemonic (Maven Central uses `mvn` by way of

[2016-08-12 12:41] julienrf commented on #248
Thanks for the suggestion!

`scala` is already used for scala-search.org. `scalalib`?

https://index.scala-lang.org/search?q={{{s}}}

[2016-08-12 13:53] mikolak-net commented on #248
@julienrf: sure thing.

Re mnemonic: perhaps just `scaladex`, and an additional shorter alias (I would propose `scd`, but that's already taken by _Science Daily_ :p ).

Re query: OK, so basically the standard query? (aside - the example template URL, when accessed directly, returns a 500 error :) )

[2016-08-12 16:40] MasseGuillaume commented on #248
@mikolak-net @julienrf I will contact scala search to kindly ask to transfer their bang command

[2016-08-12 17:09] julienrf commented on #248
@MasseGuillaume But then what will scala-search use?

[2016-08-12 17:13] MasseGuillaume commented on #248
scala-search :)

[2016-08-13 00:52] MasseGuillaume opened #249 "failure in live data"
https://scala-webapps.epfl.ch/jenkins/view/scaladex/job/scaladex-index/5/console

[2016-08-13 11:58] mikolak-net commented on #248
Well, that's one way to go :).

[2016-08-13 17:59] MasseGuillaume commented on #237
related: https://github.com/alexarchambault/coursier/issues/324

[2016-08-15 08:18] gmethvin opened #250 "Internal server error when search query contains all spaces"
For example: https://index.scala-lang.org/search?q=%20

I'd assume the problem could be fixed by trimming the search query, but perhaps there is additional sanitization required.

[2016-08-15 08:58] gmethvin commented on #250
Never mind, seems like this is a duplicate of #196

[2016-08-15 08:58] #250 closed

[2016-08-15 09:13] takezoe opened #251 "Non web resources should not be exposed"
Akka-HTTP's `getFromResource()` exposes all resources in classpath. In [this commit](https://github.com/scalacenter/scaladex/commit/4a2e4d8f3a1137c591bddf7ae08a6d0e617b6566), `reference.conf` was blocked, however we can still access to other resources in classpath includes all dependent jar files. For example, we can access `logback.xml` as a following URL:
https://index.scala-lang.org/assets/logb

[2016-08-15 16:28] MasseGuillaume commented on #249
It was a merge conflict. I think the resolution is to fix it manually if it happens again.

[2016-08-15 16:28] #249 closed

[2016-08-15 22:02] sullivan- commented on #200
Just to note, longevity is still showing version 0.5.0 on Scaladex, when the latest version is actually 0.9.0. Thanks.

[2016-08-15 22:31] MasseGuillaume commented on #200
your scmInfo
https://github.com/longevityframework/longevity/blob/master/project/LongevityBuild.scala#L47-L48

is pointing to
https://github.com/longevityframework/emblem

see
https://index.scala-lang.org/longevityframework/emblem

[2016-08-15 22:52] sullivan- commented on #200
Oops! Thanks for pointing that out. I just committed a fix.

Yeah, I can see the longevity artifacts on the emblem Scaladex page.

[2016-08-16 15:18] DougC opened #252 "Search for my github org name ("wellfactored") returns some odd results"
Pretty sure I don't have a project named `wellfactored/sbt.settingkey$$anon$4@6f71e2d3` :-)

![safari](https://cloud.githubusercontent.com/assets/98534/17704429/ee6a5296-63cc-11e6-8e16-81a03c356945.png)

[2016-08-16 16:41] MasseGuillaume commented on #252
the culpit is:
https://github.com/WellFactored/value-wrapper/blob/master/publishing.sbt#L19

it should be `${name.value}`

Since you cannot republish an artifact, we have a mechanism to correct those errors. Create a pull request against https://github.com/scalacenter/scaladex-data/blob/master/claims.json adding

[code]

the claims.json has precedence over pom information

[2016-08-16 16:41] #252 closed

[2016-08-16 17:16] DougC commented on #252
Ok, thanks for letting me know.

[2016-08-18 02:17] takezoe opened #253 "Invalid query causes an internal server error"
Invalid query (e.g. including special character such as `]`) causes an internal server error.
![2016-08-18 11 16 03](https://cloud.githubusercontent.com/assets/1094760/17759761/493ab076-6535-11e6-987e-2c503d7c24f4.png)

[2016-08-18 14:30] MasseGuillaume commented on #253
Hi thanks for the report. It's a duplicate of #196

[2016-08-18 14:30] #253 closed

[2016-08-19 19:32] mikolak-net commented on #248
@MasseGuillaume : I see that now `!scala` leads to `docs.scala-lang.org`. Was this the intent of your request to Lukas, or is it just a consequence of one of Our Benefactors stumbling upon this issue ;)?

Regardless, we're now back to square one (as the current `!scala` makes complete sense). So, `!scaladex` with a shorter alias - sounds good?

[2016-08-19 19:33] MasseGuillaume commented on #248
yep !scaladex is fine ;)

[2016-08-19 19:35] MasseGuillaume commented on #248
I just added scaladex ;-)

[2016-08-19 19:46] mikolak-net commented on #248
Great, might I also suggest an alias such as "!scx" for those of us skimping on their keyboard switches ;)?

[2016-08-19 21:59] Sciss opened #254 "Not possible to see pages 2 and 3 of my projects"
So if I log in and click projects, it say I have 53 published projects. Page 1 is fine: https://index.scala-lang.org/search?q=you&you (but note the strange `you&you`; but if I click on page 2 at the end of this page, I get an invalid URL: https://index.scala-lang.org/search?q=youyou&page=2 (note the `youyou`). If I try to manually correct URL to https://index.scala-lang.org/search?q=you&page=2 - I

[2016-08-19 22:08] MasseGuillaume commented on #254
Thanks for reporting the bug ;-)

as a workaround you can use https://index.scala-lang.org/sciss?q=organization:sciss&page=1

[2016-08-22 08:14] olafurpg opened #255 "Keyboard navigation in search bar does not work"
While searching, pressing down+down+down+enter opens up the wrong project. For example, see this video recording:

[scaladex-keyboardnavigation.mov.zip](https://github.com/scalacenter/scaladex/files/429634/scaladex-keyboardnavigation.mov.zip)

In the video, the project scalamu is opened when I expected scalafmt to open.

[2016-08-22 14:37] MasseGuillaume commented on #255
haha that mechanical keyboard.

thanks for repporting

[2016-08-23 13:57] MasseGuillaume commented on #248
strange it's still not available

[2016-08-23 17:23] mikolak-net commented on #248
TBH, no idea how long that takes them usually. Maybe it just hit the top of the next buffer frame or something ;).

[2016-08-24 20:34] MasseGuillaume opened #256 "improve ammonite/coursier install section"
coursier should only show if it's a command line artifact

ammonite should not show up if it's on bintray

[2016-08-28 14:28] julienrf commented on #255
Hi, I can not reproduce the issue. Which browser and OS are you using?

[2016-08-29 22:12] MasseGuillaume opened #259 "add thank you Bintray/JCenter section"

[2016-08-30 23:38] SethTisue opened #260 "FAQ link leads nowhere"
when I click on the FAQ link at the bottom of https://index.scala-lang.org, after a few redirects I land on https://github.com/scalacenter/scaladex/wiki which has no information

[2016-08-31 01:33] MasseGuillaume commented on #260
@SethTisue Thanks just created https://github.com/scalacenter/scaladex/wiki/FAQ

[2016-08-31 01:33] #260 closed

[2016-08-31 01:44] kaptoxic opened #261 "Describe scaladex with OpenSearch description document"
Using the OpenSearch description document format to describe a search engine makes it usable by multiple search client applications. (One example is adding it to the search bar in Firefox.)
This might be a useful addition for many people.

[2016-08-31 11:35] MasseGuillaume commented on #261
@kaptoxic do you want to contribute this feature? We have a dev guide here: https://github.com/scalacenter/scaladex/tree/master/doc/dev#requirements to get started

If you create a PR, when it get merge our CI will automatically deploy your feature live :-).

[2016-09-03 23:59] kaptoxic commented on #261
I don't think the feature is that complicated to implement for someone who knows scaladex (and it's exposed URIs). I don't know that much about integration of OpenSearch, but [this example](http://www.ask.com/ask-search.xml) demonstrates it should be an easy addition of an XML document.

[2016-09-23 08:40] olafurpg commented on #255
I am unable to reproduce the error. Closing.

[2016-09-23 08:40] #255 closed

[2016-09-29 23:35] MasseGuillaume commented on #81
I think we should show:

* Dependencies
* Dependent
* Project-Dependencies (Dependencies and Dependent for the same project).

Project-Dependencies would help for navigation.

I Updated Olaf comment to point out relevant source code.

[2016-09-29 23:49] MasseGuillaume commented on #112
* [add `List[Issue]` to the model for the github api](https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/github/GithubModel.scala#L1)
* [add `List[Issue]` to the scaladex model](
https://github.com/scalacenter/scaladex/blob/master/model/src/main/scala/ch.epfl.scala.index.model/misc/GithubInfo.scala#L17)
* [modify the function to convert github api mode

[2016-09-29 23:56] MasseGuillaume commented on #196
this is where to start looking:
https://github.com/scalacenter/scaladex/blob/master/server/src/main/scala/ch.epfl.scala.index.server/Api.scala#L58

[2016-09-29 23:59] MasseGuillaume commented on #239
This is where to look:
* [general html template for a page where we can add `head` tags](https://github.com/scalacenter/scaladex/blob/master/template/src/main/twirl/ch.epfl.scala.index.views/main.scala.html#L3)
* [project page html template](https://github.com/scalacenter/scaladex/blob/master/template/src/main/twirl/ch.epfl.scala.index.views/project/project.scala.html#L10)

[2016-09-30 00:07] MasseGuillaume commented on #251
* this is [the culpit]( https://github.com/scalacenter/scaladex/blob/master/server/src/main/scala/ch.epfl.scala.index.server/Server.scala#L387-L388)
* [this is why webjars are available on the classpath](https://github.com/scalacenter/scaladex/blob/master/build.sbt#L92)

this is what should be accessible:
* [javascript from webjars](https://github.com/scalacenter/scaladex/blob/master/template/src/

[2016-09-30 00:09] MasseGuillaume commented on #254
something is wrong here: https://github.com/scalacenter/scaladex/blob/master/template/src/main/twirl/ch.epfl.scala.index.views/searchresult.scala.html#L13

[2016-09-30 00:13] MasseGuillaume commented on #256
* [install html template](https://github.com/scalacenter/scaladex/blob/master/template/src/main/twirl/ch.epfl.scala.index.views/project/install.scala.html)

we could add a "is a command line artifact" checkbox to the edit page of a project:
* [edit html template](https://github.com/scalacenter/scaladex/blob/master/template/src/main/twirl/ch.epfl.scala.index.views/project/editproject.scala.html)
*

[2016-10-01 14:35] alexdeleon opened #267 "Pluralize title of dependencies/dependants boxes"
As @olafurpg suggested in PR #265 :

Pluralize these messages so that it's
"1 internal dependency"
" 2 internal dependencies"

[2016-10-02 19:45] MasseGuillaume commented on #254
solved in https://github.com/scalacenter/scaladex/pull/269

[2016-10-02 19:45] #254 closed

[2016-10-04 11:24] MasseGuillaume commented on #259
solved in https://github.com/scalacenter/scaladex/pull/270

[2016-10-04 11:24] #259 closed

[2016-10-06 08:25] MasseGuillaume opened #271 "Show contributors count & filter by contributors"
The number of contributors is a good metric for a healthy open source project. We can show contributor count in the search result list and add a search sorting field based on the contributors.

search result list at: https://index.scala-lang.org/search?q=
- [ ] show contributor count
  - [html template](https://github.com/scalacenter/scaladex/blob/master/template/src/main/twirl/ch.epfl.scala.index

[2016-10-06 08:27] jvican commented on #271
Very valuable info, totally for it.

[2016-10-06 20:16] 2m opened #272 "Add a separation by keyword support in the project list view"
It would be great if the project list could be broken down by keywords. For example a search query [dependencies:akka/*](https://index.scala-lang.org/search?q=dependencies:akka/*) returns all of the projects that build on top of Akka. Having that list broken down by keywords would give a nice overview of Akka Community projects of certain category, like [Akka Persistence Plugin](https://index.scal

[2016-10-06 21:01] dylemma opened #273 "Login reports internal server error"
When logged in to Github in my usual browser, and I try to log in to scaladex, I get a generic error screen that simply says `There was an internal server error.` If I try from incognito mode, I get the Github login form, but once I complete it, I get back to the same error page.

[2016-10-07 07:14] MasseGuillaume commented on #272
Great idea! It was in the initial design but got lost in translation.

If someone wants to implement this feature here are some pointers:

* [extend aggregation to accept a query](https://github.com/scalacenter/scaladex/blob/master/server/src/main/scala/ch.epfl.scala.index.server/Api.scala#L273)
* [add aggregation result to the search route](https://github.com/scalacenter/scaladex/blob/master/serv

[2016-10-07 07:25] MasseGuillaume commented on #273
Can you [create a github _Personal access tokens_ with read:org permissions](https://github.com/settings/tokens/new) and email it to me at masgui@gmail.com ?

It's most likely a bug in our application logic.

[2016-10-07 11:50] dylemma commented on #273
(sent)

[2016-10-18 19:54] heathermiller opened #280 "Maybe everyone should be able to supply tags, not just repo owners"
Just thinking, if we want to improve search results and get help from the community on tagging, we should think about making it easier to add tags to projects.

[2016-10-19 16:45] SethTisue opened #281 "feature request: show recursive dependencies"
it would be useful to me if I could see the entire recursive dependency tree of a library, before I decide whether to add it to my project

currently the alternative is to add the project to my build and then use sbt-dependency-graph and try and sort out what's new because of the addition and what isn't. Scaladex could be a time-saver here

[2016-10-22 14:59] joshlemer opened #282 "Some libraries not being indexed"
I have a library called [MultiIndex](https://github.com/joshlemer/MultiIndex) which I would like to get indexed on Scaladex. I have published my library to Maven Central [here](http://search.maven.org/#artifactdetails%7Ccom.github.joshlemer%7Cmultiindex_2.11%7C0.1.1%7Cjar), and the library hasn't been indexed for weeks, and I've also tried to use the Scaladex sbt plugin to push my library to Scala

[2016-10-22 21:22] MasseGuillaume commented on #282
@joshlemer thanks for reporting. I'm investigating what went wrong.

[2016-10-23 00:18] #273 closed

[2016-10-23 00:19] MasseGuillaume commented on #273
@dylemma I'm redeploying, can you make sure it works in a couple of minutes ?

[2016-10-23 00:22] MasseGuillaume commented on #282
Oh this dates from the 15 of October. The issue was file permissions on the server. I tried out again, this time it does not produce an error but does not index for some reason. Stay tuned.

[2016-10-23 00:23] MasseGuillaume commented on #281
This is not easy to implement. Do you have a solid use case?

[2016-10-23 00:30] MasseGuillaume commented on #251
fixed in d00d18d6060d0e235b7a4108d49512a8e5d8a518

[2016-10-23 00:30] #251 closed

[2016-10-23 01:12] SethTisue commented on #281
it's just part of the due diligence I would do on literally any library right even in the very early stages of deciding whether to add that library to my project. as a responsible project maintainer I need to know everything that I'm putting on my classpath. if library is being added three dependency levels deep, I need to know about it and research the implications of adding it to my project. mig

[2016-10-24 08:26] MasseGuillaume opened #284 "Filter by binary version"
Release Candidates and Milestones show full version: 2.12.0-RC2
Otherwise: 2.11

We can also show full versions: 2.11.8

[2016-10-24 19:22] heathermiller opened #285 "Formatting broken in sbt/amm/maven/etc box"
It breaks pages:
<img width="641" alt="screen shot 2016-10-24 at 3 21 34 pm" src="https://cloud.githubusercontent.com/assets/687163/19660431/bb7ea8f2-99fd-11e6-80bf-ed59e5d6fa15.png">

[2016-10-25 09:26] jvican commented on #281
I agree this would be super useful. I would personally use it on a daily basis.

[2016-10-27 07:50] MasseGuillaume opened #287 "Lazyly index GitHub projects"
@olafurpg created a new Scala project on Github: https://github.com/olafurpg/tiny-router.

It would be cool to index projects on the fly. For example, if we access: https://index.scala-lang.org/olafurpg/tiny-router we can still index the Github repository.

[2016-10-29 13:30] dylemma commented on #273
Sorry for the delay - yes it works! Thanks!

[2016-11-03 12:28] MasseGuillaume commented on #147
duplicates #95

[2016-11-03 12:28] #147 closed

[2016-11-03 12:30] MasseGuillaume opened #288 "Display which targets are library supports"
splitting from #81

- [ ] I would be really nice to see immediately what Scala versions libraries support (e.g., 2.10/2.11/..., Scala.js) + target logos
  - targets in [project](https://github.com/scalacenter/scaladex/blob/master/model/src/main/scala/ch.epfl.scala.index.model/Project.scala#L45) (ex: scala_2.11, scala.js_0.6)

- [ ] improve the front page ui with some target logos

[2016-11-03 12:31] #81 closed

[2016-11-03 12:48] MasseGuillaume commented on #282
@joshlemer I'm currently collaborating with the Sonatype team on this issue (They own maven central). They will push pom files directly to Scaladex when they receive a Scala pom. They are currently testing out our api. Stay tuned.

[2016-11-03 12:56] MasseGuillaume commented on #140
* [ ] I think we could use it as a sorting field in the search result page.
* [ ] We can also add another section to the front page, currently we have "Recent Projects" and "Recent Releases". It would make sense to add a section "Most depended-upon packages" (see npmjs: https://www.npmjs.com/#pane-most-depended-upon)

[2016-11-03 12:59] MasseGuillaume commented on #127
I'm splitting this issue into
* #140
* #288

[2016-11-03 12:59] #127 closed

[2016-11-03 15:09] SethTisue commented on #288
especially timely right now, with 2.12.0 just released!

[2016-11-03 15:47] MasseGuillaume commented on #288
"top priority" ;-)

[2016-11-03 16:08] #285 closed

[2016-11-05 16:04] MasseGuillaume opened #290 "Edit Deleted repos"
for example user @larsrh cannot edit https://index.scala-lang.org/larsrh/scalaz-specs2 since he deleted the repo on Github.

[2016-11-07 09:23] Atry commented on #282
https://github.com/ThoughtWorksInc/sbt-api-mappings, https://github.com/ThoughtWorksInc/sbt-scala-js-map, https://github.com/ThoughtWorksInc/sbt-scala-js-map, https://github.com/Atry/sbt-haxe and https://github.com/Atry/pttrt is also not indexed yet.

[2016-11-07 09:42] MasseGuillaume commented on #282
@Atry sbt plugins are not indexed in general see https://github.com/scalacenter/scaladex/issues/191

[2016-11-07 09:49] Atry commented on #282
These plugins are not published via Ivy2.
They are hosted on Maven Central as well: https://repo1.maven.org/maven2/com/thoughtworks/sbt-api-mappings/sbt-api-mappings_2.10_0.13/1.0.0/

[2016-11-07 10:13] MasseGuillaume commented on #282
@Atry oh ok. Then it's because it was not proxied by Bintray jcenter. Our contribution with Sonatype will solve this issue.

[2016-11-07 10:19] Scyks opened #291 "Fetch Github Readme in edit Project"
It would be nice to have a button/ trigger to refetch the Github readme. This could be helpful when the documentation of the project was changed.

In my case, i'd like to update the readme with deprecated / moved infos and don't wanna release again only for that reason.

[2016-11-07 10:48] heathermiller commented on #291
Agree 100% that this is problematic.

I really think it would be best to just to just fetch the README for everyone who loads the page.

We should still fetch all READMEs daily (as we currently do) so we can index on them offline. Rather than displaying this README to users, we should fetch a new README on page load. Else people see stale READMEs right after they update their project pages and thi

[2016-11-07 11:10] pjan opened #292 "Publish to scaladex fails / doesn"
When following the documentation, and adding the following to my `build.sbt`, I get the response:

[2016-11-07 11:14] #292 closed

[2016-11-07 11:40] pjan opened #293 "Publishing to scaladex not working"
Been trying to publish to scaladex according to the documentation in github,
but they don't appear on the index. Anything I can do to help you debug this?

(talking about `io.pjan % akka-d3 %% 0.1.0` (pjan/akka-d3 on gh). Has been published on maven.

[2016-11-07 11:43] MasseGuillaume commented on #292
@pjan closed by mistake ?

[2016-11-07 11:45] MasseGuillaume commented on #293
@pjan thanks for letting me know. I'm investigating what went wrong.

[2016-11-07 11:50] Scyks commented on #291
But fetching the Readme everytime a user loads the page have an impact on page load speed.
Github's API is fast, but still.

I'd rather recommend your second solution to fetch it daily, but then we might create a huge load which might be useless because nothing changes. Also this can have a Problem for projects which are developing in master and changing the readme to the upcoming releases. Then S

[2016-11-07 23:09] holograph commented on #293
Same in my case, I haven't reported 'cause I'm struggling with a different issue but at least a few publishing attempts ("com.wix" % "accord-core" %% "0.6", specifically with Scala 2.12) had no visible effect.

[2016-11-09 12:23] MasseGuillaume commented on #288
![Scala.js logo](https://avatars3.githubusercontent.com/u/6039724?v=3&s=400)
![JVM logo](http://thjug.com/assets/logo.png)

[2016-11-09 13:36] cocevk opened #295 "Scaladex site not working"
Probably not the best place to submit this...

HTTP Request:

https://index.scala-lang.org

Response:

502 Bad Gateway

[2016-11-09 13:38] MasseGuillaume commented on #295
@cocevk really sorry I'm redeploying right now. Should not be long.

[2016-11-09 13:39] cocevk commented on #295
@MasseGuillaume so no problem if I submitted the bug here?

[2016-11-09 13:40] MasseGuillaume commented on #295
@cocevk no problem at all. We just did not had the time to setup a 2nd server to redeploy without interruption. It's something work considering.

[2016-11-09 13:52] MasseGuillaume opened #296 "deploy without downtime"

[2016-11-09 13:52] MasseGuillaume commented on #295
see #296

[2016-11-09 13:52] #295 closed

[2016-11-10 12:25] MasseGuillaume opened #297 "add resolver in publish api"

[2016-11-13 10:30] MasseGuillaume commented on #256
https://github.com/scalacenter/scaladex/commit/c2b865ebd10a280d8bf085d80f7a62e89b5778a2

[2016-11-13 10:30] #256 closed

[2016-11-13 10:30] MasseGuillaume commented on #237
https://github.com/scalacenter/scaladex/commit/c2b865ebd10a280d8bf085d80f7a62e89b5778a2

[2016-11-13 10:30] #237 closed

[2016-11-17 10:33] MasseGuillaume commented on #248
done :-) [https://duckduckgo.com/?q=!scaladex akka](https://duckduckgo.com/?q=!scaladex akka)

[2016-11-17 10:33] #248 closed

[2016-11-23 13:48] MasseGuillaume opened #299 "akka-http-extensions is not indexed"
https://github.com/antonkulaga/akka-http-extensions

[2016-11-25 10:03] MasseGuillaume opened #300 "run Bintray indexing with a scheduler"
The Bintray indexing is trigger by Jenkins daily. We could set a scheduler in the webapp itself.

[2016-12-02 18:44] NickShadder opened #301 "Internal error when the search string contains more than one colon"
To reproduce [search for `::`](https://index.scala-lang.org/search?q=%3A%3A).

[2016-12-05 09:23] jypma opened #302 "Index some java artifacts"
[ts-reaktive](https://github.com/tradeshift/ts-reaktive) is a mixed multi-module Scala/Java SBT project. Some artifacts are Scala, some artifacts are Java-only. It's currently Java-focused, but we expect to add more Scala DSLs.

It's a bit unfortunate that its Java side seems to be ignored on its [Scaladex page](https://index.scala-lang.org/tradeshift/ts-reaktive). Now I realize this is a _Scala_

[2016-12-05 09:27] patriknw commented on #302
This is important for [Akka community page](http://akka.io/community/), which should be able to list java and scala projects.

[2016-12-05 09:27] ktoso commented on #302
Another known example of such library (written in Java, because we needed it to not depend on any given scala version) is the widely used https://github.com/typesafehub/config which we'd love to be listed in scalaindex as well. Akka and many many other projects use it as the configuration lib.

Would there be a way to somehow tag such libraries to have them included in scalaindex?

[2016-12-05 09:38] MasseGuillaume commented on #302
I will need to tweak things a bit but it should be possible.

We search Bintray for artifact containing the scala binary version in it's path: for example _2.11. Some artifacts don't use this convention and we have this workaround:
https://github.com/scalacenter/scaladex-contrib/blob/master/non-standard.json#L15
we can add for example:  `"com.typesafe config": "java"`

From here we just make the S

[2016-12-05 11:31] ktoso commented on #302
I'm not quite clear what are the next steps here?

[2016-12-05 12:11] MasseGuillaume commented on #302
Hey @ktoso,

I currently don't have the time to implement this right now. As soon I have some hacking time on Scaladex, I can add this feature. It's about 1 day of implementation time.

Meanwhile, you can add the java projects you wish we index in [non-standard.json](https://github.com/scalacenter/scaladex-contrib/blob/master/non-standard.json#L15)

[2016-12-05 12:18] MasseGuillaume commented on #301
Thanks for reporting @NickShadder

It's a duplicate: https://github.com/scalacenter/scaladex/issues/196

[2016-12-05 12:18] #301 closed

[2016-12-05 12:23] ktoso commented on #302
With the "pom" option? I'm not sure what to put there, are those modes documented somewhere?

[2016-12-05 12:23] ktoso commented on #302
I see, it is https://github.com/scalacenter/scaladex-contrib#index-artifacts-which-are-published-in-java-style

Thanks!

[2016-12-06 16:01] tpolecat opened #303 ""relevant" results aren't"
When you search for `database` the "relevant" results are a bunch of noise. Anorm is the top recognizable result at 6, but it's a fork of the real one at 8; doobie is at 10; and Slick is down at 45.

I suggest you turn that option off and default to something like stars which at least has some relationship with reality.

[2016-12-06 16:12] MasseGuillaume commented on #303
You can edit your projects to add keywords. I did just that and your project is on the top of the list: https://index.scala-lang.org/search?q=database

[2016-12-06 16:18] heathermiller commented on #303
@MasseGuillaume, hang on. Before closing, let's ask @tpolecat if this solution is one that he's satisfied with.

I think what he's saying is that a bunch of things that aren't really related to databases show up in the search results, so he's suggesting that we think about tweaking how "relevant" results are calculated. This is less about doobie and more about the relevance of the results in gener

[2016-12-06 16:43] tpolecat commented on #303
Right, thanks @heathermiller. My issue isn't with doobie not being at the top (it shouldn't be, although it should be on the first page) but that Slick is at 45th. In the absence of curation (which is the case for most libraries in Scaladex) it seems like the relevance algorithm doesn't have much to work with and it's giving very misleading results.

So yes, I think it needs to be tweaked until it

[2016-12-06 17:01] MasseGuillaume commented on #303
It look like slick was tagged with db not database. I'm renaming all db to database.

[2016-12-06 18:40] tpolecat opened #304 "scaladex should be mentioned on scala-lang.org"
I can't find a link to Scaladex from scala-lang.org or scala.epfl.ch … seems like it should be front and center if we want people to use it.

[2016-12-06 19:37] heathermiller commented on #304
Yep, good point! Adding this to my list of todos for the next scala-lang update (soon).

[2016-12-06 19:39] heathermiller commented on #303
@MasseGuillaume, I think I side a bit more with @tpolecat here. While I do agree that people should be a bit more proactive about tagging their libraries, Scaladex can also go a long way by tweaking how the results are calculated. In particular, I think that considering stuff like stars might be a good source of information when ranking relevance.

Where is relevance determined right now? I've see

[2016-12-07 08:01] MasseGuillaume commented on #304
It's a bit hidden: http://scala-lang.org/community/#community-libraries-and-tools

[2016-12-07 09:55] MasseGuillaume commented on #302
@jypma can you make sure all ts-reaktive are listed here:
https://github.com/scalacenter/scaladex-contrib/pull/18/files#diff-8895eca74dad77edf4c2ea0b82cd983aR17

[2016-12-16 21:23] intracer opened #307 "Some artifacts are missing"
See https://index.scala-lang.org/deanwampler/command-line-arguments, Only 2.10 artifacts are shown

It has 2.11 artifacts: https://mvnrepository.com/artifact/com.concurrentthought.cla/command-line-arguments_2.11 and 0.3.0 version, but Scaladex shows only 2.10 and 0.2.1

[2016-12-28 21:03] vossad01 opened #309 ""Contributors Wanted" badge does not provide explanation"
Ideally, the "Contributors Wanted" badge should be hyperlinked to a project-specific page that directs a user how to contribute.

This may be:

- The Project's Issue tracker
- The Project's CONTRIBUTING.md file
- Some other project-specific resource that gives direction on how to get involved.

In the absence of such direction the badge does not really provide much information and may even be hurt

[2016-12-29 11:44] heathermiller commented on #309
I agree that we should give the library author an option of something to link to when someone clicks on the "contributors wanted" badge. Makes sense 👍

Though to respond to this point:

Nah, actually this isn't true. There's actually numbers and research done on this (I'd have to dig around for a while to find citations for you), but it's actually very common for companies or individuals to post c

[2016-12-29 12:15] MasseGuillaume commented on #307
Artifacts for 2.11 are now indexed.

[2016-12-29 12:32] intracer commented on #307
ok, it now shows 2.11 artifacts, but not all versions:

There are  6 versions (0.4.0, 0.3.0, 0.2.1, 0.2.0, 0.1.1, 0.1.0) for 2.11:
https://mvnrepository.com/artifact/com.concurrentthought.cla/command-line-arguments_2.11

And only 2 versions (0.4.0 and 0.2.1) for 2.10
https://mvnrepository.com/artifact/com.concurrentthought.cla/command-line-arguments_2.10

And Scaladex shows for 2.11 only the two v

[2016-12-29 12:48] MasseGuillaume commented on #307
You are right. We are still missing some release.

We have two way of indexing: search on Bintray and get new releases from Sonatype (Maven Central). Bintray has a repository called JCenter, it's almost a proxy of Maven Central. We will only see in the search a release that was proxied to a user.

[2016-12-29 12:59] intracer commented on #307
Should we open an issue to track that?

[2016-12-29 13:55] MasseGuillaume commented on #302
@ktoso now live: https://index.scala-lang.org/typesafehub/config

thanks a lot!

[2016-12-29 14:06] MasseGuillaume commented on #307
Let me ask Sonatype if they can give send a batch update of previous releases.

[2016-12-29 15:39] MasseGuillaume commented on #302
@jypma java projects are now listed https://index.scala-lang.org/tradeshift/ts-reaktive/ts-reaktive-actors

[2016-12-29 15:39] #302 closed

[2016-12-29 15:41] MasseGuillaume commented on #309
we could link to the following search:
https://index.scala-lang.org/search?q=contributorsWanted%3Atrue

[2016-12-29 18:59] vossad01 commented on #309
@MasseGuillaume I think that is best for now as it assigns some more meaning to the badge.

My best ideas on how to improve the help wanted badge towards making it useful are in the OP.

[Up For Grabs [.net]](http://up-for-grabs.net/#/) is the dominant player I know in this space.  It establishes a convention and requires a commitment in grooming issues.  I have looked in the past at submitting mo

[2016-12-29 19:00] heathermiller commented on #309
I'd suggest we just add a radio select to the edit page, if "contributors wanted" is selected. We could let people select "CONTRIBUTING.md" or "Other" and if "Other" is selected, we could have a field containing where to link to.

WDYT @MasseGuillaume and @vossad01?

[2016-12-29 19:02] heathermiller commented on #309
Ah, good idea @vossad01 to do something similar to _Up for Grabs_ or _First Timers Only_. We could just query a site for tickets with these tags and have another index page indexing the projects with such projects.

Cool idea! Maybe we should rename this ticket.

[2016-12-29 19:58] vossad01 commented on #309
@heathermiller That sounds like a good plan, but I don't fully understand your vision.  Do you think you could create a new issue for it?

I think getting more Scala projects listed on _Up For Grabs_ would be beneficial and Scaladex may be a good way to go about making that happen and showcase Scala projects with relevant issues.

What I am not sure about is if you are proposing removing the curre

[2016-12-29 20:07] MasseGuillaume commented on #309
I think we had a similar idea in the past: https://github.com/scalacenter/scaladex/issues/112

[2016-12-30 01:02] vossad01 opened #313 "Pressing "Back" after changing the "Artifact" does not restore the previous "Artifact""
Steps to reproduce:
 1. Got to https://index.scala-lang.org/akka/akka/akka-actor
 2. Choose "akka-camel" from the artifact selection box.
 3. Note that Statistics, Dependencies, and Dependents change
 4. Press Back
 5. Notice that Statistics, Dependencies, and Dependents change back but the artifact selection box still says "akka-camel."  The page is now in a state of presenting false information.

[2016-12-30 01:27] vossad01 opened #314 "Clarification of "Dependents", "Dependencies", and "Artifact Dependents""
Dependents, Dependencies, Artifact Dependents
Perhaps these are the established terms, well understood by those in the know, and there is nothing that can be done about non-intuitive behavior.  However, as is, it is the changing frames of reference make Scaladex and even individual pages within it confusing as I will try to show below using akka-actor as an example.

![image](https://cloud.githubu

[2016-12-30 01:43] vossad01 opened #315 "Implement the Shields specification for badges"
I think the badges being provided by Scaladex are a great idea.  However, they have the characteristic of not being especially clear as to what they mean.  The [shields.io project has a specification that seems fairly well respected and remedies this problem](https://github.com/badges/shields/blob/master/spec/SPECIFICATION.md).  I propose the scaladex badges be modified to implement the Shields sp

[2016-12-30 09:47] MasseGuillaume commented on #313
It look like a bug in bootstrap-select: https://github.com/silviomoreto/bootstrap-select/issues/1023

[2016-12-30 10:02] MasseGuillaume commented on #314
We use dependent to denote the opposite of dependencies. We could also use reverse dependencies.

They should be equal.

This could work too. Good idea.

[2016-12-30 11:42] heathermiller commented on #315
Couldn't we just add more information to these badges though? E.g.,:

[![Count Badge](https://index.scala-lang.org/count.svg?q=dependencies:akka/*&subject=akka|dependencies:&color=blue&style=flat-square&logo=data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTggMTkwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNTggMTkwIj48ZyBmaWxsPSIjZmZmIj48cGF0aCBvcGFjaX

[2016-12-30 11:46] heathermiller commented on #315
I get your point that in akka's README, it's probably already obvious that we're looking at akka. But I guess customizable badges are interesting for people to post on their homepages or resumes maybe? Just brainstorming here.

[2016-12-30 18:13] jypma commented on #302
Thanks a lot!

[2016-12-30 20:37] ktoso commented on #302
Awesome, thanks :)

[2017-01-01 10:33] Atry opened #316 "An admin of a repository should have the permission to edit settings for the repository on Scaladex"
I am one of the admin of https://github.com/ThoughtWorksInc/DeepLearning.scala, I expect that I can access https://index.scala-lang.org/edit/thoughtworksinc/deeplearning.scala , however, the page always shows a `Forbidden` for me .

[2017-01-02 08:45] heathermiller commented on #316
Ah, it must be the `.` in the name...

I suspect it's a quick fix! @MasseGuillaume WDYT?

[2017-01-02 16:13] vossad01 opened #317 "Invalid navigation paths presented in project select boxes"
Steps to reproduce:

- Got to https://index.scala-lang.org/akka/akka-http/akka-http-core
- Under the Scala version drop down choose "scala 2.11.0"
- Observe you are then redirected to a 404 Page Not Found page

[2017-01-02 18:07] vossad01 commented on #315
I think that the conventional and standard use cases are the best ones to optimize.  Consistency helps users cultivate feelings of familiarity and reduces the mental load of end-users.

If wanting to explicitly support the sample badge you gave, I would think that the best way to do so would be to represented the information in a 3-section badge.  I have only recall seeing one of those once and I

[2017-01-02 19:02] vossad01 opened #319 "Implement Cache Busting"
Publication of Scaladex after #311 was merged revealed that version updates may cause old resources (CSS) to be used against the new site.  Some implementation of cache busting should be implemented so that users users get the new version of resources when the site is updated.

This issue was created in response to https://github.com/scalacenter/scaladex/pull/311#issuecomment-269685239 which indic

[2017-01-02 19:17] MasseGuillaume commented on #316
hum yep it's because of some routing priority

[2017-01-02 23:03] vossad01 opened #320 "Loading of the artifact information select boxes is slow"
This is probably not an especially high priority but is worth tracking because of the usability impact.  When you navigate to a project page or change one of the values in the artifact select boxes, the (re)load of the artifact name, version, and scala version boxes are significantly slower than everything else.  So much so that it is would be conceivable for a to scroll past the relevant area bef

[2017-01-03 02:48] vossad01 commented on #314
The Dependents box shows **13 Dependents**

Tracked this part down.  The difference is because the lower filters out duplicates and in the case of akka-actor the following dependencies are in the Seq

ScalaDependency(Reference(hseeberger,akka-log4j,**akka-log4j, 1.2.1**,Some(ScalaTarget(2.12,None))),Some(compile))

I imagine cases such as the above can only happen because of transitivity?  A depen

[2017-01-03 18:18] vossad01 commented on #314
Thanks for the explainations.

Fixed.

I have an implementation for this.  I'd rather not unnecessarily pollute the number of search keywords.  If anyone has a better idea than "**depends-on:**" I would happily change the name now rather than it possibly changing in the future and both needing to be supported. "**uses:**"?  "**dependent-of:**"?

Can I get a hint on this one?  My searching has turn

[2017-01-04 22:24] vossad01 commented on #288
#81 indicated a desire for this information to also appear in the search results.  That request/requirement does not appear here.

[2017-01-05 16:11] vossad01 opened #326 "Display artifacts in search results instead of projects"
There is an inconsistency between the perspective of the Search Box and the Search Results.  The search box expects at "$project/$artifact" while the search results show "$organization/$project"

For example if I query for "depends-on:akka/akka-actor" I see the top result is "scala-academy/performance-analysis".
If I then query on "depends-on:scala-academy/performance-analysis" to see what "scala-

[2017-01-07 01:27] vossad01 commented on #326
Making my implementation suitable to submit a PR would require providing a passable implementation of pagination.  I think I know how I would to that, but based on the results, while I still think this is where Scaladex should am to get, I am not quite sure it is ready for this to be implemented yet based on this preview:

![screen shot 2017-01-06 at 18 36 40-fullpage](https://cloud.githubusercont

[2017-01-07 11:45] MasseGuillaume commented on #326
This is really cool. When I tried the second solution, the list was too long for some projects like akka (100 artifacts in one project)

[2017-01-07 15:19] vossad01 opened #327 "Support GitHub-style Emoji"
Since a large portion of the data on Scaladex is comes from GitHub there are cases where GitHub style emoji are used.  Formats such as such as `:smile:` or `:shipit:`.  These currently appear on Scaladex as text rather then the emoji rendering, :smile:, :shipit:

[Full(?) list of supported emoji.](http://www.webpagefx.com/tools/emoji-cheat-sheet/)

Repository for that website has a [list of librar

[2017-01-07 15:35] adamvoss opened #328 "Setup 301 redirects to canonical Scaladex"
[A short discussion was had on Gitter concerning SEO](https://gitter.im/scalacenter/scaladex?at=586eb49f7a3f79ef5ddee290).  Without a particular to need Scaladex viewable from multiple URLs (i.e. without a redirect), it would seem a 301 Moved Permanently is the best way to implement [the "canonical URL" recommendation](https://gitter.im/scalacenter/scaladex?at=586ecb82da229f8d5bebb16a), made by @d

[2017-01-07 16:10] adamvoss opened #329 "Prefer anchor links within Scaladex rather than directing to GitHub"
I notice that Scaladex provides the same anchor links at headings in README.md as GitHub, allowing easy linking to a specific section.

Example:
![image](https://cloud.githubusercontent.com/assets/965439/21743093/cce3a8c4-d4c0-11e6-949c-988e1b56e2ba.png)

Currently these links open a new tab/window which jumps to that section on the GitHub page.  It may be preferable if If these links these were r

[2017-01-07 23:04] vossad01 commented on #316
I was not able to reproduce any issues with a `.` in the name locally.

The page is accessible, so no issue with the Akka HTTP routing.  Repositories of mine with a `.` in the name appear correctly my UserState and `deeplearning.scala` is presented correctly with the dot in the name as the `repo`.

@Atry When you first signed in to Scaladex, did you grant it access to the "ThoughtWorksInc" organiz

[2017-01-07 23:08] Atry commented on #316
I guess I have grant the access to "ThoughtWorksInc" organization.

I am both the admin of https://github.com/ThoughtWorksInc/Binding.scala and https://github.com/ThoughtWorksInc/DeepLearning.scala and I can only access https://index.scala-lang.org/edit/thoughtworksinc/binding.scala . However https://index.scala-lang.org/edit/thoughtworksinc/deeplearning.scala is forbidded.

[2017-01-07 23:18] MasseGuillaume commented on #327
:1st_place_medal:

[2017-01-07 23:31] MasseGuillaume commented on #316
https://github.com/ThoughtWorksInc has a lot of repositories
we limit it to 5 pages to avoid timeout.
https://github.com/scalacenter/scaladex/blob/master/server/src/main/scala/ch.epfl.scala.index.server/Github.scala#L104

[2017-01-08 05:22] adamvoss opened #330 "Organization search is case-sensitive and not consistent with GitHub"
Searching for [organization:ThoughtWorksInc](https://index.scala-lang.org/search?q=organization%3AThoughtWorksInc) yields **0** results
Searching for [organization:thoughtworksinc](https://index.scala-lang.org/search?q=organization%3Athoughtworksinc) yields **19** results

However, the GitHub organization utilizes Pascal Case: https://github.com/ThoughtWorksInc

The simplest solution is probably t

[2017-01-10 13:36] MasseGuillaume opened #331 "Create shadow project page for unreleased projects"
/cc @olafurpg

[2017-01-10 18:05] #288 closed

[2017-01-10 19:04] adamvoss opened #333 "akka-http-session presents stale or incomplete version information"
[The Scaladex page for softwaremill/akka-http-session](https://scaladex.scala-lang.org/softwaremill/akka-http-session) lists only one artifact version and it targets 2.10.

Reading the projects README, it is clear that there are newer versions.

[The newer versions show up on sonatype](https://oss.sonatype.org/#nexus-search;quick~akka-http-session).  I note that the Scaladex page lists adding a bi

[2017-01-10 19:19] MasseGuillaume opened #334 "better error message for publish api"
BitBucket => 301, etc

[2017-01-11 12:42] jvican opened #335 "Results in search box are duplicated"
For some reason, I've started to experience this behaviour in Scaladex. It's weird because it was not happening before. Have a look at the following image:

![scaladex-issue png](https://cloud.githubusercontent.com/assets/2462974/21848962/9bf416a4-d803-11e6-8b43-a0e30b325846.png)

Search results are duplicated and I cannot browse them until the end, the cursor only allows me to go until the first

[2017-01-11 15:44] darkfrog26 opened #336 "Slow Refresh of Version"
On the right side of the page the version is very often far out of date.  I know that crawling is expensive, but this makes Scaladex far less useful as I have to double-check the versions stated before I actually use anything I find there.

One option for improvement might be to write some custom JavaScript (Scala.js of course) that uses the browser to validate the current version in the browser.

[2017-01-11 15:59] MasseGuillaume commented on #336
Can you give me examples of libraries not up to date.

[2017-01-11 16:04] darkfrog26 commented on #336
https://scaladex.scala-lang.org/outr/scribe

You can see maven-central says 1.3.2 but on the side the version is 1.2.6 and in the badge.

[2017-01-11 17:53] vossad01 commented on #335
`git bisect` points to this being introduced by de97136b81dc34ca7b369c3a4db5819c4c8b7d66

I may be wrong about that because I encountered some issues at first with unexpected caching switching between versions, but once I accounted for that it seemed to be the commit mentioned above.

[2017-01-11 18:01] vossad01 commented on #336
Conceptually, #333 presents the same problem.  Investigation would be needed to show if it represents a different root cause.

[2017-01-11 18:38] darkfrog26 commented on #336
I think it is likely the same bug.

[2017-01-12 14:54] MasseGuillaume opened #337 "keywords are not persisted properly"

[2017-01-14 14:05] adamw opened #339 "Macwire mixed with Clippy"
On MacWire's page:

https://scaladex.scala-lang.org/adamw/macwire

the RHS shows artifacts of softwaremill/clippy. Clippy itself isn't in the index at all.

[2017-01-14 16:39] vossad01 commented on #339
To clarify, the installation instructions on the adamw/macwire/plugin artifact gives the following installation instructions:

While the expected would be the following artifacts under "com.softwaremill.macwire":

 - core
 - macros
 - proxy
 - runtime
 - scopes
 - util

"softwaremill/scala-clippy" has specified incorrectly specified its `scm` to be the MacWire GitHub repository so the artifact for

[2017-01-14 17:18] MasseGuillaume commented on #339
@vossad01 correctly identified the problem.

You can override the bogus scm tag via a PR in https://github.com/scalacenter/scaladex-contrib/blob/master/claims.json#L870
"com.softwaremill.clippy *": "softwaremill/scala-clippy"

I'm investigating why macwire is not in the index.
It's available on maven central: http://search.maven.org/#artifactdetails%7Ccom.softwaremill.macwire%7Cutil_2.12%7C2.2.5%7

[2017-01-14 17:48] MasseGuillaume commented on #334
https://github.com/scalacenter/scaladex/commit/0ee4cc28567ba69426780d44881008e16a99036f

[2017-01-14 18:10] MasseGuillaume commented on #336
duplicate #333

[2017-01-14 18:10] #336 closed

[2017-01-14 18:13] #313 closed

[2017-01-14 18:13] #317 closed

[2017-01-14 18:28] #334 closed

[2017-01-14 19:17] vossad01 commented on #326
I'm fine with this being closed for now.  I am still of the opinion that when/if the data deficiencies are remedied searching on artifacts as this ticket proposed is likely the better approach.

[2017-01-14 19:21] vossad01 commented on #320
Fixed by #340

[2017-01-14 19:21] #320 closed

[2017-01-14 19:37] #267 closed

[2017-01-14 19:37] #140 closed

[2017-01-14 19:46] adamw commented on #339
Ah! Thanks for noticing that, a copy-paste error :) Didn't know this info is actually used anywhere ;)

I just pushed a change in clippy's build.sbt, should I do something on scaladex to fix the listings?

[2017-01-14 19:58] MasseGuillaume commented on #339
@adamw yep check first paragraph of above comment

[2017-01-14 20:01] adamw commented on #339
@MasseGuillaume ah sorry I somehow missed that :) I suspect this override is needed despite a fix in the source because of old released versions?

[2017-01-14 20:05] adamw commented on #339
Here's the PR, thanks for the help :)
https://github.com/scalacenter/scaladex-contrib/pull/19

[2017-01-15 08:56] larsrh commented on #314
There still appears to be some problem here. In [better-files](https://scaladex.scala-lang.org/pathikrit/better-files), there is one dependent listed, but when I click on "Artifact Dependents", I get a completely different result.

[2017-01-15 13:27] MasseGuillaume commented on #314
@larsrh the default release is `"com.github.pathikrit" %% "better-files-akka" % "2.16.0"` this is what you see on the right sidebar. The dependent section is about this release. If you click Artifact Dependents you see the dependent for `"com.github.pathikrit" %% "better-files-akka"` for all versions.

I think since I have to explain this, it shows that the UI can be improved and something is not

[2017-01-15 14:40] vossad01 commented on #314
Alright, I think I have have it figured out from what you said above.

The dependents box on an Artifacts Page shows all dependent **artifacts** of the currently **selected version** of the artifact.
The "depends-on" search (Artifact Dependencies) shows all **dependent projects** of **any version** of the artifact?

Do I have that correct?

[2017-01-15 14:52] MasseGuillaume commented on #314
@vossad01, No

[code]

With the currently deployed Scaladex (without https://github.com/scalacenter/scaladex/pull/340) this is what you see:

< Project Readme > | Release

[2017-01-15 15:00] vossad01 commented on #314
The dependents box on an Artifact's Page shows all dependent artifacts of the currently selected version **and Scala target** of the artifact.
The "depends-on" search (Artifact Dependencies) shows all dependent projects of any version **and any Scala target** of the artifact?

Does the bolded text fix it?

[2017-01-15 15:06] MasseGuillaume commented on #314
Yep

this is a release, we can call them release dependencies.

[2017-01-15 15:26] vossad01 commented on #314
I was aware I dropped that granularity in #325.  At the time I anticipated the solution would be to aggregate the information about all releases having the same artifact name and version.

However, it would be worth discussing, does there need to be a scaladex page per every Release?  Right now (unreleased 'master' branch) we have a page for every Artifact-version.  Technically I think the Release

[2017-01-15 17:13] adamvoss opened #349 "Is it possible to get download counts for Scaladex?"
Currently Scaladex has two data sources which allow for the download of artifacts: Bintray and Sonatype.

[Sonatype](http://oss.sonatype.org/) does not have any publicly accessible download statistics available.  According to the documentation, it seems only the owner of a package can get the statistics for it.  Therefore, unless Sonatype does something special for Scaladex, we cannot get statisti

[2017-01-15 17:22] adamvoss opened #350 "Should a user be able to choose which repository they want to download from?"
In the event the same artifact is published on Sonatype and Bintray, should this be in anyway reveled to the user?  Should they then be given the choice on where they want to install it from or is it acceptable for Scaladex to make the decision for them?

This would have implications for #349, on the outside chance any repository did ever provide download statistics.
#333 provides and example of a

[2017-01-15 18:31] adamvoss opened #351 "Does routing support Scaladex supporting SCM provideres other than GitHub?"
I this issue hopes address whether the current routing scheme has adequate support support alternatives to GitHub if desired later.  I am not meaning to advocate support for other platforms, but this question was relevant to a broader question of what and how things can be uniquely identified in Scaladex so I thought to raise it.

**tl;dr** so long as the bolded constraints shown below seem accept

[2017-01-15 18:44] adamvoss opened #352 "Index projecs not on GitHub (Bitbucket, etc)"
Does a facility need to exist for accessing artifacts having no SCM info?

This could be because the that information is unknown to Scaladex, the information is non-existent entirely, or the project utilizes an SCM platform that Scaladex does not support.

If this is desired, this could potentially be provided by changing the route Artifact Pages.

For example,

could become

Or some other variant

[2017-01-15 19:47] vossad01 commented on #95
I'm not entirely sure I understand that that would look like.  What would be accessible on the "old repo" page version page as opposed to the new?

I'm not sure it bears too much consideration, but I did think through the implication of this if Scaladex were to support other SCM providers.  The current routing scheme appears to not support moving from one SCM provider (ex. GitHub) to another (ex.

[2017-01-15 20:05] vossad01 opened #353 "Artifact naming by Dependents and Dependencies allows for ambuguity"
The **depends-on:** query (such as accessed  via "Artifact Dependencies") takes a parameter of form "$organization/$artifactName".  The dependents and dependency boxes on artifact pages also display this form.

This is not consistent with the hierarchy a user sees elsewhere in Scaladex which has the general form "$organization/$project/$artifactName/$version", as the $project level is omitted.  Th

[2017-01-15 20:20] adamvoss opened #354 "Aggregate information all like-named releases on artifact page"
A versioned artifact as shown on the artifact page, actually consists of multiple releases; one for each target version of Scala.  However, the right-hand side of the UI only displays information pertaining one of the releases for the currently selected version.  The user has no control to specify which Scala target they see nor may they realize there is data not being presented.

I propose aggreg

[2017-01-15 20:31] MasseGuillaume commented on #349
I spoke with Sonatype and they do no want to share this information.

[2017-01-15 20:34] MasseGuillaume commented on #350
In sbt Sonatype is available by default and Bintray is not, this is why we can favor Sonatype.

[2017-01-15 20:39] MasseGuillaume commented on #351
At the time I tested >95% poms was using github in its scm tag.

[2017-01-15 20:45] MasseGuillaume commented on #95
It won't give you a 404 if you have the old url. Maybe redirect you to the new org/repo page.

[2017-01-15 20:46] vossad01 opened #355 "Long descriptions can be clipped by the main content box"
While the top area will expand to allow for longer content, rendering of the negative margin for `content-project` causes the bottom to be cut off.

In this case I manually extended the description text in the dev console to illustrate.

![image](https://cloud.githubusercontent.com/assets/965439/21966008/b2c04b5c-db30-11e6-9a98-7303c611461d.png)

[Artifact pages are equally affected](http://scalad

[2017-01-15 20:47] MasseGuillaume commented on #352
Yeah, I think we should search artifacts not projects. let's give it a try.

[2017-01-15 20:49] MasseGuillaume commented on #353
Correct we should fully qualify the artifact: `$organization/$project/$artifactName`

[2017-01-15 20:51] adamvoss opened #356 "Responsive layout for page heading does not work well when logged in"
When not logged in, the site is maybe a little eager to get you to log-in but otherwise fine:
![image](https://cloud.githubusercontent.com/assets/965439/21966061/fe1272be-db31-11e6-8edf-60cadbd10ea3.png)

However, when you do log in things don't layout quite right in responsive mode:
![image](https://cloud.githubusercontent.com/assets/965439/21966051/d61c1508-db31-11e6-905d-b2a9099ebff5.png)

[2017-01-15 21:50] #272 closed

[2017-01-16 06:18] 2m commented on #272
This is great. Thanks!

[2017-01-16 08:14] heathermiller commented on #352
Are you suggesting to change the URL routing structure for **all** projects? (that is, projects with and without SCM info?)

I would advise against doing this for 100% of artifacts/projects, because we're using the orgname/projectname convention from GitHub, which people have gotten used to using. Let's not change what people have already adapted to.

If you're suggesting another convention for pr

[2017-01-16 08:19] heathermiller opened #357 "index.scala-lang now rewritten to scaladex.scala-lang"
Why was this change made? It's confusing–everywhere I had published that the _package index_ was `index.scala-lang.org`. Now the URL has changed. Why was this necessary?

[2017-01-16 08:20] heathermiller commented on #357
E.g., even on this repo's info page...
<img width="441" alt="screen shot 2017-01-16 at 9 19 50 am" src="https://cloud.githubusercontent.com/assets/687163/21975440/fc4eac68-dbcc-11e6-8131-b9dc86728553.png">

Can we please go back to being able to use index.scala-lang.org?

[2017-01-16 12:50] MasseGuillaume commented on #357
Let's only use https://scaladex.scala-lang.org now.

[2017-01-16 16:08] #355 closed

[2017-01-18 12:48] MasseGuillaume opened #362 "project's dependentCount should count how many projects depends on it."
[code]

scala/scala 80213
akka/akka 16407
apache/spark 5887
playframework/playframework 5932
scalaz/scalaz 6628
scalatest/scalatest 43121

should be <= 3000

[2017-01-18 12:50] MasseGuillaume opened #363 "supported targets in search result list should be ordered by version"
currently ordered by string

currently:
scala/scala 2.9, 2.8, 2.7, 2.6, 2.12, 2.11, 2.10

expected:
scala/scala 2.6, 2.7, 2.8, 2.9, 2.10, 2.11, 2.12

see https://github.com/scalacenter/scaladex/blob/master/model/src/main/scala/ch.epfl.scala.index.model/SemanticVersion.scala#L54

[2017-01-19 15:02] #363 closed

[2017-01-21 20:25] sjrd opened #366 "Cannot change the Default Artifact of a project"
The [Scala.js](https://scaladex.scala-lang.org/scala-js/scala-js) defaults to the `scalajs-cli` artifact, which is kind of absurd, because virtually no one uses that. The logical default artifact should be `scalajs-library`.

I tried changing that in the Edit view of the project (which I have access to). But despite changing the artifact in the relevant drop box, after clicking Update, the default

[2017-01-24 09:15] olafurpg opened #367 "Mac Cmd symbol"
<img width="574" alt="screen shot 2017-01-24 at 10 14 22" src="https://cloud.githubusercontent.com/assets/1408093/22241067/178fbf42-e21e-11e6-82a7-0acc9e0dbc9b.png">

[2017-01-24 09:17] MasseGuillaume commented on #367
https://github.com/scalacenter/scastie ;-)

[2017-01-24 09:17] #367 closed

[2017-01-24 09:17] olafurpg commented on #367
Whoops wrong project

[2017-01-25 09:48] heathermiller commented on #357
I really don't agree with this being closed. In our talks, blog articles, etc, we refer to index.scala-lang.org. Could you explain why this change was necessary?

[2017-01-25 10:02] julienrf commented on #357
My 2 cents: I also prefer keeping using `index.scala-lang.org`.

[2017-01-25 10:06] MasseGuillaume commented on #357
hehe ok sent an email to fabien

[2017-01-25 15:24] #357 closed

[2017-01-30 21:58] martijnhoekstra opened #371 "Investigate the possibly to include giter8 templates"
As per the gitter discussion - it would be good if there was an easy way to find giter8 templates, and scaladex seems like a good candidate.

[2017-01-31 15:55] #239 closed

[2017-01-31 15:58] heathermiller commented on #239
Woohoo!! 🎉 🍻 🍷 🎉
Thank you @lunaryorn!

[2017-01-31 16:01] MasseGuillaume commented on #239
Deploying now ;-)

[2017-01-31 16:12] lunaryorn commented on #239
@heathermiller You're welcome :blush:

[2017-01-31 17:47] MasseGuillaume commented on #371
that's a good idea.

We need to query the GitHub api with something like: https://github.com/search?l=Scala&q=%2A.g8&type=Repositories&utf8=%E2%9C%93

Where do you think it could fit in the UI?

I think it could be intertwined with projects in the search result view. https://index.scala-lang.org/search?q=

[2017-02-01 14:27] MasseGuillaume opened #374 "sbt plugin to search, install scala libraries"

[2017-02-01 15:21] martijnhoekstra commented on #371
UI wise, the smallest thing that's actually an improvement is probably have a filter whether you're searing for libraries or templates, intertwine in the result list but clearly mark templates and libraries differently.

[2017-02-01 17:02] MasseGuillaume opened #375 "cache github authentication"

[2017-02-03 16:12] julienrf commented on #337
I checked that the issue was closed by doing the following steps:
- I deployed scaladex ;
- I changed the keywords of some project ;
- I redeployed scaladex ;
- I checked that the keywords were still present.

[2017-02-03 22:08] MasseGuillaume commented on #337
Thanks @julienrf !

[2017-02-03 22:32] #375 closed

[2017-02-03 22:58] MasseGuillaume commented on #366
fun fact: `false < true`

[2017-02-03 23:00] #366 closed

[2017-02-03 23:12] MasseGuillaume opened #379 "find an alternative way to deploy"

[2017-02-03 23:17] MasseGuillaume commented on #366
https://index.scala-lang.org/scala-js/scala-js

[2017-02-04 09:44] heathermiller opened #380 "Merge GitHub topics with Scaladex keywords"
Would be nice if we could fetch the "topics" of a GitHub repository and then merge that with the Scaladex keywords. It'd probably improve search relevance... More data FTW 🙂

[2017-02-04 16:09] MasseGuillaume commented on #380
Yeah good idea.
It's not part of the Github API yet. I contacted them and they said:

[2017-02-04 16:24] heathermiller commented on #380
Aww 😢
Guess this goes on the backburner then.

[2017-02-05 16:25] SethTisue opened #381 "https://index.scala-lang.org is currently 502 Bad Gateway"
reported by @martijnhoekstra at https://gitter.im/scala/center?at=58974c869eb1bd81481b9db2

[2017-02-05 16:47] MasseGuillaume commented on #381
@SethTisue thanks ;-)

[2017-02-05 16:52] MasseGuillaume commented on #381
back online

[2017-02-05 16:52] #381 closed

[2017-02-06 13:39] MasseGuillaume commented on #95
The workaround is to use claim.json to override the repo

For example:

nrinaudo/tabulate moved to nrinaudo/kantan.csv

solution:

add `"com.nrinaudo tabulate_*": "nrinaudo/kantan.csv"` to [claims.json](https://github.com/scalacenter/scaladex-contrib/blob/master/claims.json)

[2017-02-07 08:58] jrudolph opened #382 "Login link / page doesn't work in all cases"
It seems the login resource at https://index.scala-lang.org/login only sometimes manages to do the redirect to github. In other cases, it will interpret the URL as a search as shown here:

![screenshot from 2017-02-07 09 53 56](https://cloud.githubusercontent.com/assets/9868/22684168/714f7e0e-ecd8-11e6-9103-f9c22f86cc46.png)

I tried with different browsers. With firefox and chrome clicking on the

[2017-02-07 09:51] MasseGuillaume commented on #382
Hum

When you [concat](https://github.com/scalacenter/scaladex/blob/master/server/src/main/scala/ch.epfl.scala.index.server/Server.scala#L66) routes are they match from top to bottom? The OAuth2 routes is responsible for the login.

[2017-02-07 10:03] jrudolph commented on #382
Yes, they match from top to bottom basically. The problem might also be that in https://github.com/scalacenter/scaladex/blob/master/server/src/main/scala/ch.epfl.scala.index.server/routes/Oauth2.scala#L23 the referer header is *required* to make the redirect. It might make sense to make that one optional and use a default target (e.g. the homepage) for the github request `state`.

[2017-02-08 09:44] julienrf commented on #284
I think we can close this issue.

[2017-02-08 09:49] julienrf commented on #299
This one is indexed: https://index.scala-lang.org/antonkulaga/akka-http-extensions

Do you have other examples of projects that are not correctly indexed, or can we close this issue?

[2017-02-08 12:27] #284 closed

[2017-02-08 12:28] MasseGuillaume commented on #299
The only artifact in https://index.scala-lang.org/antonkulaga/akka-http-extensions is
"org.w3" %% "ntriples" % "0.9.0"

I guess the author copy pasted the scm info.

[2017-02-08 12:35] #382 closed

[2017-02-10 11:43] intracer opened #387 "Scala libraries shown as java dependency and inconsistent dependents list"
https://index.scala-lang.org/strongtyped/active-slick shows

4 Dependencies
scala/scala-library v2.11.6 compile
Java Dependencies
com.typesafe.slick/slick_2.11 v3.1.0 compile
com.h2database/h2 v1.4.181 test
org.scalatest/scalatest_2.11 v2.2.4 test

slick and scalatest are shown as Java Dependencies
if you look for libraries that build upon slick
https://index.scala-lang.org/slick/slick
it shows 19

[2017-02-10 11:52] MasseGuillaume commented on #387
@intracer Thanks for reporting this issue!

It look like slick 3.1.0 is not indexed: https://index.scala-lang.org/slick/slick/slick?target=_2.11
What we see in https://index.scala-lang.org/slick/slick are forks (see #178)

[2017-02-14 09:31] intracer opened #388 "Handle renamed projects"
Example:
https://index.scala-lang.org/nrinaudo/kantan.csv
https://index.scala-lang.org/nrinaudo/tabulate
are the same project

[2017-02-14 11:28] heathermiller commented on #388
Oh shoot, good point. Good catch!

[2017-02-14 12:18] MasseGuillaume commented on #388
Hey @intracer thanks for letting us know.

It's a duplicate of #95

[2017-02-14 12:18] #388 closed

[2017-02-15 21:24] heathermiller opened #389 "Improve search relevance"
I can't find spark anymore... I have to search for Spark and then fiddle with the filters. Spark should really turn up on the first page when searching for "spark"

[2017-02-15 21:30] heathermiller opened #390 "Spacing weird for scala (jvm) and scala.js versions on search results page"
<img width="382" alt="screen shot 2017-02-15 at 10 29 40 pm" src="https://cloud.githubusercontent.com/assets/687163/22996222/5497320a-f3ce-11e6-83e4-427b16178b0a.png">

The spacing is broken. Seems like there's a tab indenting the first line of version #s, but none for the second line.

[2017-02-15 22:44] julienrf commented on #389
The score is highly dependent on keywords, I think that's the best way to avoid false positives, even though it requires manual editing of projects.

The other results for the "spark" query are not irrelevant. It is super hard to design a magic scoring function that always put your expected result first...

I added the "spark" keyword to the apache/spark project, in order to boost its score.

[2017-02-16 08:31] kzys commented on #389
Can we just use the number of stars as the default sort order?
https://index.scala-lang.org/search?q=spark&page=1&sort=stars

[2017-02-16 08:41] julienrf commented on #389
@kzys We tried that but then some projects that are not completely related to a given search query but have a lot of stars (e.g. playframework) appear at the top of the results. That does not work well either…

[2017-02-16 08:42] MasseGuillaume commented on #389
@heathermiller let's use this issue: https://github.com/scalacenter/scaladex/issues/303 and close this one as duplicate ?

[2017-02-24 13:54] MasseGuillaume opened #391 "weird Scala versions: 64.0, 13.0"
https://index.scala-lang.org/search?q=*&scalaVersion=64.0

Also: Java, JS and Native should not be in all caps

Java, Javascript, Native

[2017-03-01 13:22] olafurpg opened #393 "Query "scalafmt" results in "scalafx""
See https://index.scala-lang.org/search?q=scalafmt

<img width="1212" alt="screen shot 2017-03-01 at 14 22 16" src="https://cloud.githubusercontent.com/assets/1408093/23461505/820caa14-fe8a-11e6-865f-e8b19535772c.png">

I expected scalafmt to be at the top of the search list, esp. since scalafmt

- is tagged with the "scalafmt" keyword
- has more stars
- has more contributors

[2017-03-01 13:24] olafurpg commented on #393
These search results leak into scastie making it hard to add a dependency on scalafmt or scalafix

<img width="611" alt="screen shot 2017-03-01 at 13 33 45" src="https://cloud.githubusercontent.com/assets/1408093/23461541/a370cda2-fe8a-11e6-956c-239f5ce3a853.png">
<img width="628" alt="screen shot 2017-03-01 at 13 33 53" src="https://cloud.githubusercontent.com/assets/1408093/23461563/b794d83c-fe8

[2017-03-01 13:25] heathermiller opened #394 "Fix footer logos"
<img width="1230" alt="screen shot 2017-03-01 at 2 24 09 pm" src="https://cloud.githubusercontent.com/assets/687163/23461596/db8d0534-fe8a-11e6-9c46-690c3416d066.png">

The alignment is a bit funny. They're a bit too big, should probably be right aligned, and have issues on mobile.

[2017-03-01 13:35] MasseGuillaume opened #395 "Add regression testing for search relevance"

[2017-03-01 13:40] #379 closed

[2017-03-01 13:41] julienrf commented on #303
Test cases: [scalafix](https://index.scala-lang.org/search?q=scalafix), [doobie](https://index.scala-lang.org/search?q=doobie).

[2017-03-01 13:43] julienrf commented on #337
I think ElasticSearch and the scaladex-index repos are out of sync sometimes, which has the same effect as loosing keywords.

[2017-03-01 14:06] julienrf commented on #393
Related: #303

[2017-03-01 14:11] julienrf opened #396 "Pagination performs too many requests"
At [this place](https://github.com/scalacenter/scaladex/blob/0ee4cc28567ba69426780d44881008e16a99036f/data/src/main/scala/ch.epfl.scala.index.data/bintray/BintrayListPoms.scala#L99-L100) we compute the number of pages to load. However, `X-RangeLimit-Total` gives the number of results, not the number of pages. Hence, we perform way too many calls.

Eventually we want to use [BintrayClient.fetchPagi

[2017-03-01 20:27] tpolecat commented on #303
I renew my call to turn "relevant" off. It doesn't work.

[2017-03-02 08:11] jvican commented on #394
Scaladex uses Twirl for templating. Fixing this issue is probably some CSS tweaks away in this file https://github.com/scalacenter/scaladex/blob/master/template/src/main/twirl/ch.epfl.scala.index.views/main.scala.html#L109.

I propose that logs are made smaller and aligned in the same row, possibly equally along the footer.

[2017-03-02 08:14] jvican commented on #356
Fixing this issue would require some css changes in this file: https://github.com/scalacenter/scaladex/blob/master/template/src/main/twirl/ch.epfl.scala.index.views/main.scala.html#L76.

A web developer with some styling skills could helps us tackle this one by aligning the menu layout in the responsive mode. This probably requires fiddling with per-resolution css rules.

[2017-03-02 08:29] jvican commented on #396
This would probably require to change an API call, which would be quite easy! This would make the website faster on load times, which is important for UX. @julienrf can probably elaborate on this when this ticket is unblocked.

[2017-03-02 08:34] jvican commented on #353
@MasseGuillaume I couldn't find the place in scaladex where we are doing this. Would you mind referencing the file where your mentioned fix is required? Thanks!

[2017-03-02 08:43] MasseGuillaume commented on #396
@jvican this is when we index not when we load a page.

[2017-03-02 08:45] jvican commented on #330
I think the impact of this issue could be very big.

I suggest to lower case any search result in the backend, before hitting the Elastic Search API. Another possibility worth exploring is to check whether there are Elastic Search options to do this automatically. It's highly probable that such options exist, since case-insensitive options are often required.

I think that the starting point is [t

[2017-03-04 11:29] cvogt opened #397 "add scalafmt"
we are talking to it as a library from sbt and cbt, so it sounds like it should be in scaladex

[2017-03-04 11:32] heathermiller commented on #397
It's in there: https://index.scala-lang.org/olafurpg/scalafmt

If you searched for it and couldn't find it, seems like this is related to #389

[2017-03-04 11:47] heathermiller commented on #397
Closing. Reopen if I somehow misunderstood this ticket! :)

[2017-03-04 11:47] #397 closed

[2017-03-04 11:51] MasseGuillaume commented on #397
@heathermiller thanks!

[2017-03-04 22:00] cvogt commented on #389
this looks off
![image](https://cloud.githubusercontent.com/assets/274947/23582608/1df76388-00fc-11e7-95eb-4ee28f295f13.png)

[2017-03-04 22:01] cvogt commented on #389
scalafmt doesn't show anywhere in this list eventhough I typed the exact name

[2017-03-04 22:02] cvogt commented on #389
when I type enter it does show on position 8 of that list.

maybe project that have the exact search term contained in there name should show first?

[2017-03-04 22:02] cvogt commented on #397
@heathermiller can confirm. moved discussion to #389 thx!

[2017-03-07 13:53] julienrf commented on #337
We see that the keyword “spark” is set for the apache/spark project:

[code]

However:

![image](https://cloud.githubusercontent.com/assets/332812/23659221/b3e5e540-0345-11e7-96ed-7ff623bf4166.png)

So, clearly, Elastic Search “forgot” about this keyword in some way, though it is still in our index.

[2017-03-07 17:07] dwijnand commented on #191
:+1:

We'll probably be able to retire/decommission http://www.scala-sbt.org/0.13/docs/Community-Plugins.html if/when this ships.

[2017-03-08 09:36] julienrf opened #398 "Selecting a different artifact version leads to a Not-Found page"

[2017-03-14 10:22] olafurpg commented on #303
One more test case that I bumped into when adding a library in scastie

<img width="445" alt="screen shot 2017-03-14 at 11 16 57" src="https://cloud.githubusercontent.com/assets/1408093/23895934/e0e993e0-08a7-11e7-9a39-9290acac1ce2.png">

I think it's better to return the `json` repo for the query "json" if it allows for people to find projects by name. Currently, the top results for scalafmt, sca

[2017-03-16 08:12] travis032654 commented on #398
go to the project julienrf/enum
select scala-js 0.6 (scala 2.11)
select a different artifact version

the target is lost

[2017-03-16 10:01] travis032654 opened #400 "Invalid targets shown on project pages causing 404"
https://index.scala-lang.org/playframework/playframework/play?target=_sjs0.6_2.11

[2017-03-16 12:26] julienrf commented on #400
This one is similar to the other one: as long as there is no selected artifact you should not add it to the hidden input next to the target dropdown.

[2017-03-16 12:27] julienrf commented on #400
Selecting this target should lead to the following page: https://index.scala-lang.org/playframework/playframework?target=_sjs0.6_2.11

[2017-03-16 22:14] #398 closed

[2017-03-16 22:18] MasseGuillaume opened #401 "add a sbt plugin filter"

[2017-03-17 17:32] #400 closed

[2017-03-17 17:37] MasseGuillaume commented on #337
I moved the reindexing in the redeploy task. It's now indexing with the scaladex user and using the index folder in its home directory.

I think that was causing the issue.

[2017-03-17 17:37] #337 closed

[2017-03-17 17:40] #191 closed

[2017-03-17 17:42] MasseGuillaume commented on #304
It will be on the front page soon.

https://github.com/scala/scala-lang/pull/606
preview: https://scala-lang-site.herokuapp.com

[2017-03-17 20:27] julienrf commented on #282
@MasseGuillaume Do we still have this issue? Can you check with people from sonatype that they notify us also when an sbt plugin is released?

[2017-03-17 20:35] MasseGuillaume commented on #282
Yeah,

An old release in maven central not proxied on Bintray for example. Over time we will be more in sync with maven central and this issue will be less and less noticeable.

[2017-03-20 14:48] intracer opened #402 "Native link from main page does not filter"
Steps to reproduce
open https://index.scala-lang.org/
Click Scala-Native Versions: 0.1 (4)
Target url does not filter anything: https://index.scala-lang.org/search?q=*&scalaNativeVersion=0.1
Expected url: https://index.scala-lang.org/search?scalaNativeVersions=0.1&q=*&page=1

[2017-03-29 12:19] olafurpg commented on #389
Scalafmt does show up when searching for scalameta

<img width="860" alt="screen shot 2017-03-29 at 14 18 07" src="https://cloud.githubusercontent.com/assets/1408093/24454070/a31c7aac-148a-11e7-9a3a-ec29d55c4175.png">

I think the scalameta repo should be the top result, however.

[2017-03-29 15:18] MasseGuillaume opened #403 "Improve deployment to avoid downtime"

[2017-03-31 01:27] nafg commented on #403
Is that something anyone can help with? I know nothing about the current deployment setup so I can't suggest anything.

[2017-04-01 07:25] ShaneDelmore commented on #389
Can we give a heavy weight to matches in the name?  If I search for shapeless I should get shapeless, even if a library named ShapetyShapeShape mentions Shapeless 42 times in the read even and has more stars than Travis Brown has StackOverflow points. Is this controversial?

[2017-04-01 13:50] MasseGuillaume commented on #389
@ShaneDelmore The counter example is a library named json. Is it more relevant than circe ?

[2017-04-01 17:32] ShaneDelmore commented on #389
Yes. If I search for a library named json I would like it to show up before Circe. If I list the category json by popularity then I would expect Circe to be near the top. Has the counter example proved a larger problem than the current results ranking?

[2017-04-03 08:49] gerferra opened #404 "Cats scaladoc link returns AccessDenied error"
The scaladoc link on [typelevel/cats](https://index.scala-lang.org/typelevel/cats) links to https://www.javadoc.io/doc/org.typelevel/cats_2.12/0.9.0 which is returning an AccessDenied error:
[code]
The scaladoc link on the cats website is working fine: http://typelevel.org/cats/api/

[2017-04-03 14:19] MasseGuillaume commented on #404
It look like this artifact does not publish javadoc but cats-core does.

https://www.javadoc.io/doc/org.typelevel/cats-core_2.12/0.9.0

[2017-04-03 14:44] gerferra commented on #404
Now the scaladoc link directs to the cats-core artifact. So this is fixed up. Thanks :smile:

[2017-04-03 14:45] #404 closed

[2017-04-09 19:54] raboof opened #405 "Shows artifact information from another repository"
For example on https://index.scala-lang.org/scalapenos/stamina , the README shown is indeed the stamina readme, but the 'right side' of the screen defaults to showing the 'cakemix' artifact (which is in a different repository under the same organization).

I think I'd expect https://index.scala-lang.org/scalapenos/stamina to show the same as https://index.scala-lang.org/scalapenos/stamina/stamina

[2017-04-09 20:02] raboof opened #406 "FAQ: example sbt code for resolving through jCenter"
The FAQ at https://github.com/scalacenter/scaladex/wiki/FAQ shows `resolvers := Resolver.jcenterRepo`, that should be `resolvers := Seq(Resolver.jcenterRepo)`

Even then I'm not sure this works at all - it seemed to download through `repo1.maven.org` anyway the first time and then not download at all (as the resource was already cached)... perhaps we can recommend a better way?

[2017-04-10 07:56] raboof opened #407 "Badge svg HTTP cache"
It looks like the badge svg's (i.e. https://index.scala-lang.org/scalapenos/stamina/stamina/latest.svg) have cache headers set to 24 hours.

That would be fine if we're serving these directly to users, but it appears github is putting its own CDN in front of these (https://camo.githubusercontent.com/9bbd82be5c2ab6cf27ce503f89985fc198febaaa/68747470733a2f2f696e6465782e7363616c612d6c616e672e6f72672f

[2017-04-11 11:38] 2m opened #408 "Support `subject` parameter for the `latest` badge"
This would be useful for the multi-module projects like Alpakka. There is no one artifact named Alpakka but many smaller artifacts that are always released under the same version. So a badge like this would be useful to show in the Alpakka readme:

https://index.scala-lang.org/akka/alpakka/akka-stream-alpakka-amqp/latest.svg?subject=alpakka

Here I chose the first of the artifacts under Alpakka pr

[2017-04-11 12:32] #408 closed

[2017-04-24 17:51] SethTisue opened #411 "What links to use for 2.13 libraries list?"
none of the following links seem to work. these are based off 2.12 URLs that once worked. what URLs should I be using now? this is for use at https://github.com/scala/make-release-notes/blob/2.13.x/projects-2.13.md

### Scaladex

Scaladex, the index of Scala libraries, now offers searching by target version:

* [Scala modules for 2.13.0-M1](https://index.scala-lang.org/search?q=targets%3Ascala_2.1

[2017-04-25 09:02] raboof opened #412 "Cache invalidation"
scaladex saw version 10.0.5+20170317-1706 of akka-http-core on bintray (https://index.scala-lang.org/akka/akka-http/akka-http-core/10.0.5+20170317-1706), but that version was subsequently removed (https://dl.bintray.com/akka/maven/com/typesafe/akka/akka-http-core_2.11/).

Does it go away from scaladex automatically?

[2017-04-25 13:58] MasseGuillaume commented on #412
I don't know why Bintray allows you to remove releases but I think It's a bad idea. I prefer to leave them there.

[2017-04-25 14:14] raboof commented on #412
Hmm I suppose that makes sense - unfortunately in this case that was an 'accidental' push ;).

[2017-04-25 14:14] #412 closed

[2017-05-04 10:06] xuwei-k commented on #411
https://index.scala-lang.org/search?scalaVersions=2.13 ?

[2017-05-04 15:42] MasseGuillaume commented on #411
Correct ^

[2017-05-04 15:47] MasseGuillaume commented on #406
We now have updates directly from maven central. Only older artifact will need to use this method. Another way to do it would be to access the url in JCenter directly. (via a web browser for example)

[2017-05-04 17:31] SethTisue commented on #411
@MasseGuillaume will that return libraries published for _any_ Scala 2.13 milestone, or for _only the latest milestone_? it'll start to matter as soon as 2.13.0-M2 exists, since milestones aren't binary compatible with each other

[2017-05-04 17:33] MasseGuillaume commented on #411
It will be all 2.13 artifacts.

[2017-05-04 17:34] SethTisue commented on #411
ok, that's really not going to be useful at all for very much longer. can we reopen this?

[2017-05-04 17:37] SethTisue commented on #411
also, this link doesn't find anything, is the link wrong somehow? https://index.scala-lang.org/search?scalaVersions=2.13&keywords=scala-module

I'm trying to replace all of the following with working links that are M1 specific:

 * [Scala modules for 2.13.0-M1](https://index.scala-lang.org/search?q=targets%3Ascala_2.13.0-M1+AND+keywords:scala-module)
 * [Testing frameworks for 2.13.0-M1](https://i

[2017-05-04 17:41] MasseGuillaume commented on #411
It look like the tag scala-module does not exists.

maybe: https://index.scala-lang.org/scala

[2017-05-04 17:47] SethTisue commented on #411
how would I combine that with search by target Scala version?

[2017-05-04 17:51] MasseGuillaume commented on #411
https://index.scala-lang.org/search?scalaVersions=2.13&q=*+AND+organization%3Ascala&page=1

[2017-05-04 17:57] SethTisue commented on #411
that sort of works but not really... the scala modules appear at the top, but then there's ton of irrelevant search results that follow

[2017-05-04 23:00] ShaneDelmore opened #413 "Invalid navigation paths presented in drop down selectors"
For example when I search for enumeratum I am brought to the enumeratum entry with scala 2.12 selected.  If I switch to enumeratum-play I see 1.5.13 available (but it is not) and end up at a NotFound page: https://index.scala-lang.org/lloydmeta/enumeratum/enumeratum-argonaut/1.5.13

The only way to get the correct selection seems to be to switch scala major versions away and back to 2.12, for exam

[2017-05-15 09:38] MasseGuillaume opened #415 "filter out java library from the seach api"
https://index.scala-lang.org/api/search?q=config&target=JVM&scalaVersion=2.11.11

should not list typesafe config for example.

[2017-05-15 11:47] #415 closed

[2017-05-15 23:12] SethTisue commented on #411
@MasseGuillaume ping? on the one hand, it's not super urgent, but on the other, it would be really useful to me and to the community if we could straighten this out early in the 2.13 cycle

[2017-05-16 07:46] MasseGuillaume commented on #411
I think this is the link you want: https://index.scala-lang.org/search?q=organization%3Ascala+AND+scalaVersions%3D2.13

then on each project page the target dropdown (top right) shows the binary version supported

https://index.scala-lang.org/scala/scala-parser-combinators

[2017-05-16 07:55] lrytz commented on #411
@MasseGuillaume once 2.13.0-M2 is available there's not way to narrow the search to specific milestone or RC. The 2.13 binary version only starts once the final 2.13.0 is released, pre-releases are all binary incompatible.

[2017-05-16 08:02] MasseGuillaume commented on #411
I understand the binary incompatibility.

What, I am saying above is that you can narrow down projects release for 2.13.X then look in each individual project for the target (where I correctly filter by binary version).

For example:
from https://index.scala-lang.org/search?q=organization%3Ascala+AND+scalaVersions%3D2.13
you can identify scala-parser-combinators
and we can see from https://index.s

[2017-05-16 14:53] SethTisue commented on #411
I'm afraid that's really not very useful at all. it would be _hugely_ more useful if I could search for a specific milestone. is that not, or could not that be, supported?

[2017-05-17 06:33] MasseGuillaume commented on #411
Yeah, we can add this. Is the goal to track the latest scala version adoption?

[2017-05-17 14:19] SethTisue commented on #411
The primary  goal is to find out what libraries are available for a particular Scala pre-release, with what version number. This will be helpful to library and application authors wanting to try a pre-release. Adoption of the pre-releases is often slow and I think one reason for that is just that it's really tedious to find out what libraries are available and what version numbers to use in order

[2017-05-22 14:19] MasseGuillaume commented on #380
Now available: https://developer.github.com/v4/reference/object/repositorytopic/

[2017-05-22 14:26] heathermiller commented on #380
Finally! 😃

[2017-05-22 16:00] raboof commented on #407
Not sure if this was fixed or never a problem after all - I now see a '307 temporary redirect' without cache headers so this seems just fine!

[2017-05-22 16:00] #407 closed

[2017-05-22 22:51] darkfrog26 commented on #95
Is this being worked on?  I'm experiencing problems with a project that I renamed nearly a month ago and it still shows as the original name.

[2017-05-24 12:43] #271 closed

[2017-05-31 18:24] sbrunk commented on #154
I mistakenly had a parameter made non-optional. Creating a new PR to fix that.

[2017-06-03 20:38] MichaelViveros opened #418 "Broken links for a project's website"
Some of the Website links on a project's page are broken, they lead to a Not Found page.

Ex. Clicking Website link in https://index.scala-lang.org/scalamolecule/molecule leads to https://index.scala-lang.org/scalamolecule/scalamolecule.org
<img width="806" alt="screen shot 2017-06-03 at 4 31 15 pm" src="https://cloud.githubusercontent.com/assets/8866443/26756889/25b9689e-487a-11e7-842c-5386b77564

[2017-06-04 15:20] alexandru opened #419 "Bug: Latest version incorrectly reported for Monix"
See:

- https://index.scala-lang.org/monix/monix/monix
- https://index.scala-lang.org/monix/monix/monix/latest.svg

Values:

- reported: `2.1.2`
- expected: `2.3.0`

NOTE: this is the main project and the delivered artefact is the POM itself (with no JARs). Maybe this is the issue.

[2017-06-14 07:16] olafurpg opened #420 "Edit page "default artifacts" lists only single artifact"
On https://index.scala-lang.org/scalacenter/scalafix there are several modules

<img width="207" alt="screen shot 2017-06-14 at 09 13 47" src="https://user-images.githubusercontent.com/1408093/27119888-e56ca6aa-50e1-11e7-9b9e-8d16a5634acc.png">

When I edit the page to exclude artifacts and choose a default one I can only pick scalafix-testkit

<img width="282" alt="screen shot 2017-06-14 at 09 15

[2017-06-14 07:17] olafurpg commented on #389
The search results for "scalafix" lists scalacenter/scalafix at 11th place https://index.scala-lang.org/search?q=scalafix

<img width="780" alt="screen shot 2017-06-14 at 09 11 10" src="https://user-images.githubusercontent.com/1408093/27119787-7f0250f4-50e1-11e7-98ef-fe9a92582eb1.png">

[2017-06-14 07:21] heathermiller commented on #389
This issue of search relevance really needs to be resolved. This is crippling Scaladex.

[2017-06-19 13:25] #380 closed

[2017-06-20 08:42] MasseGuillaume opened #422 "add link to grant more organization for github authentication"
/cc @raulraja

To reproduce:

Steps:
Login into scaladex with GitHub.
Create an organization with an associated repository. (acme/foo)
Publish an artifact for this repository.
Search for your artifacts.

Result:
This repository (acme/foo) does not appear.

Expected:
This repository should be there.

Note:
This is how Travis solves this issue:

On the sidebar there is a link to the GitHub OAuth app

[2017-06-20 15:37] MasseGuillaume opened #423 "bump to scala 2.12"

[2017-06-20 16:01] MasseGuillaume commented on #423
fixed in https://github.com/scalacenter/scaladex/pull/424

[2017-06-20 16:01] #423 closed

[2017-06-21 17:24] Atry opened #425 "Scala dependencies are shown as "Java Dependencies""
https://index.scala-lang.org/thoughtworksinc/deeplearning.scala/plugins-builtins
![screen shot 2017-06-22 at 00 07 05](https://user-images.githubusercontent.com/601530/27394507-0170fa42-56df-11e7-9bd2-fab3238fb410.png)

[2017-06-22 11:51] MasseGuillaume opened #428 "use scopt or similar library for command line args parsing"
Entry points:

* https://github.com/scalacenter/scaladex/blob/master/server/src/main/scala/ch.epfl.scala.index.server/Server.scala#L23
* https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/Main.scala#L43

[2017-06-27 12:56] #15 closed

[2017-06-27 12:57] #180 closed

[2017-06-27 12:58] MasseGuillaume commented on #293
Sonatype is now pushing new releases directly to scaladex. You don't need to publish to Scaladex anymore.

[2017-06-27 12:58] #293 closed

[2017-06-27 12:59] MasseGuillaume commented on #350
This is a rare case. I'm closing this without a solution.

[2017-06-27 12:59] #350 closed

[2017-06-27 14:35] olafurpg commented on #389
Searching for "shapeless" does not list https://github.com/milessabin/shapeless on the front page https://index.scala-lang.org/search?q=shapeless at the moment.

[2017-06-27 14:49] kailuowang opened #430 "Seems the index is off? Cannot find typelevel/cats"

[2017-06-27 15:28] MasseGuillaume commented on #430
![cats](http://weknowmemes.com/wp-content/uploads/2013/04/have-you-seen-this-cat.jpg)

Let me see what I can do.

[2017-06-27 15:32] MasseGuillaume commented on #389
And someone lost his cat: https://github.com/scalacenter/scaladex/issues/430.

I'm taking a look.

[2017-06-27 15:54] MichaelViveros opened #431 "Github API Errors"
@heathermiller @MasseGuillaume Hitting the GraphQL API for getting a project's topics causes some errors that need to be fixed in order to allow live updates to work (refreshing a project's repo info and topics each time the project's page is loaded).

Known Errors:

1. Rate Limit Expired - expected error when [5000 limit](https://developer.github.com/v4/guides/resource-limitations/#rate-limit) is

[2017-06-27 20:51] MichaelViveros commented on #431
I actually just heard back from github support and they sent me a very detailed email about the GraphQL errors so I can read that over and see if I can update the code using the graphql api to download topics accordingly. I'll update this issue with anything useful I find.

[2017-06-28 12:12] MasseGuillaume commented on #430
I found the error. I upgraded the elasticsearch version and it cannot index documents with empty keys. The empty key in question is the documentation link. The key is the label for the link and it's empty.

I'm going to set the label field required in the ui and manually fix it.

[2017-06-28 12:12] MasseGuillaume commented on #389
@olafurpg found the problem:

[2017-06-28 12:16] #430 closed

[2017-06-28 13:04] MasseGuillaume commented on #430
It's now working properly: https://index.scala-lang.org/typelevel/cats

[2017-06-28 14:05] kailuowang commented on #430
thanks!

[2017-06-28 18:22] Sciss opened #433 "Front page title nondescript and shows up in Google results"
I tried to create a pull request, but sorry it seems I can't test without downloading the entire -index.git as well. But I think this is the line we're looking at:

https://github.com/scalacenter/scaladex/blob/b24a6cfbb5c768745e46ff5481f50d0a059625a8/template/src/main/twirl/ch.epfl.scala.index.views/frontpage.scala.html#L19

If I google for "Scala libraries" - https://www.google.at/search?q=Scala+

[2017-06-28 22:52] lossyrob opened #434 "GeoTrellis shows only bintray custom build version; should be latest maven central version"
[GeoTrellis]() shows up on scaladex, but lists the latest version as a custom build that one of our developers pushes to a bintray. Is there a way to modify it so it shows only official releases on sonatype, the latest of which is currently `1.1.1`? I wouldn't want users getting confused.

[2017-06-30 11:30] #154 closed

[2017-06-30 11:30] #393 closed

[2017-06-30 11:41] MasseGuillaume commented on #282
https://github.com/ThoughtWorksInc/sbt-api-mappings
https://index.scala-lang.org/thoughtworksinc/sbt-api-mappings

https://github.com/ThoughtWorksInc/sbt-scala-js-map
https://index.scala-lang.org/thoughtworksinc/sbt-scala-js-map

https://github.com/Atry/pttrt
https://index.scala-lang.org/atry/pttrt

https://index.scala-lang.org/joshlemer/multiindex

sbt-haxe is not in https://bintray.com/sbt/sbt-p

[2017-06-30 11:41] #282 closed

[2017-06-30 11:45] MasseGuillaume commented on #299
https://bintray.com/denigma/denigma-releases/akka-http-extensions#files/org%2Fdenigma%2Fakka-http-extensions_2.12%2F0.0.15

[code]

[2017-06-30 11:46] #420 closed

[2017-06-30 11:47] MasseGuillaume commented on #425
this was fixed somehow

[2017-06-30 11:47] #425 closed

[2017-06-30 11:48] MasseGuillaume commented on #387
looks good now

[2017-06-30 11:48] #387 closed

[2017-06-30 11:53] MasseGuillaume commented on #333
I changed the default artifact to core. The information is now correct.

[2017-06-30 11:53] #333 closed

[2017-06-30 11:56] MasseGuillaume commented on #112
this is now the scope of @MichaelViveros 's GSOC project.

[2017-06-30 11:58] MasseGuillaume commented on #280
we are now fetching tags (topics) from GitHub.

[2017-06-30 11:58] #280 closed

[2017-06-30 11:58] #214 closed

[2017-06-30 11:59] #339 closed

[2017-06-30 12:01] #329 closed

[2017-06-30 12:03] #328 closed

[2017-06-30 12:04] #349 closed

[2017-06-30 12:05] #352 closed

[2017-06-30 12:05] #351 closed

[2017-06-30 12:09] MasseGuillaume opened #435 "empty search should return all results"

[2017-06-30 12:12] MasseGuillaume commented on #307
It's not possible to have the older releases.

[2017-06-30 12:12] #307 closed

[2017-06-30 12:13] MasseGuillaume commented on #297
only Sonatype is using this api. we don't need a resolver since it's implicitly on maven central.

[2017-06-30 12:13] #297 closed

[2017-06-30 12:52] MasseGuillaume commented on #418
Duplicates #413

[2017-06-30 12:56] MasseGuillaume commented on #406
I removed the jcenter bit from the FAQ. We are now receiving new releases directly from Sonatype. This should not be a problem anymore.

[2017-06-30 12:56] #406 closed

[2017-06-30 13:01] MasseGuillaume commented on #405
This is a typo in cakemix POM.
https://repo1.maven.org/maven2/com/xebia/cakemix_2.12/1.0.0/cakemix_2.12-1.0.0.pom

fixed in: https://github.com/scalacenter/scaladex-contrib/commit/32ce49390a7f6dde4a9f53a6ca18b664e9ccb90a

[2017-06-30 13:01] #405 closed

[2017-06-30 13:22] raboof commented on #405
Aha I didn't expect that information to come from there. Isn't that kind of dangerous?

Proposed the fix upstream, also (https://github.com/xebia/cakemix/pull/12/files)

[2017-06-30 14:08] MasseGuillaume commented on #405
yep https://github.com/scalacenter/scaladex/issues/178

we should blacklist eveything and make shure developpers claim their repository.

[2017-07-02 13:16] MasseGuillaume commented on #413
Another way to reproduce it:
go to typelevel/cats
select cats-js

[2017-07-02 14:48] #413 closed

[2017-07-02 14:48] #435 closed

[2017-07-02 15:05] #418 closed

[2017-07-03 09:52] julienrf opened #436 "Suggest using topics"
If a user searches “foo” and “foo” is known to be a project topic we should add a message “did you mean topics=foo?”

For instance, when one searches for “[json](https://index.scala-lang.org/search?q=json)” we would add the message “did you mean [topics=json](https://index.scala-lang.org/search?topics=json)”.

[2017-07-03 11:56] #299 closed

[2017-07-03 13:20] MichaelViveros commented on #418
This still isn't working:
* Website link for https://index.scala-lang.org/scala/pickling/scala-pickling/0.11.0-M2?target=_2.11 redirects to https://index.scala-lang.org/scala/pickling/scala-pickling/lampwww.epfl.ch/~hmiller/pickling
* Website link for https://index.scala-lang.org/scalamolecule/molecule/molecule/0.12.2?target=_2.12 redirects to https://index.scala-lang.org/scalamolecule/molecule/mo

[2017-07-03 14:36] MasseGuillaume commented on #418
it look like I forgot to deploy it.

[2017-07-04 08:18] julienrf opened #437 "RSS feed to subscribe to new releases of a project"
Would be nice to have a way to be notified when a project has new releases. One approach could be to generate an RSS feed for each project, containing its releases.

[2017-07-04 08:27] MasseGuillaume commented on #437
related: https://github.com/scalacenter/scaladex/issues/29

[2017-07-04 08:27] jarrodwb commented on #437
RSS would be great. There is also a new format called [Json Feed](https://jsonfeed.org/version/1) that may be a bit easier to implement. [Feedbin](https://github.com/feedbin/feedbin) already [supports](https://feedbin.com/blog/2017/05/22/feedbin-supports-json-feed/) it.

[2017-07-04 08:43] heathermiller commented on #437
This is a great idea! The signal-to-noise ratio would also be a lot better than what's proposed in #29.

[2017-07-04 08:46] heathermiller commented on #437
Though I wonder if there's an even more universally-friendly way than RSS. RSS readers are (unfortunately) on their way out as a way to subscribe to feeds...

[2017-07-04 08:47] heathermiller commented on #437
Perhaps another idea would be to let people who login click a button to subscribe to a library. Then we could maybe add a job to send out email notifications to individual users once a week or so listing all of the releases for libraries they subscribe to in the last week.

[2017-07-04 08:49] jarrodwb commented on #437
Maybe we could do both. I am still very much addicted to my RSS reader. Maybe this just shows my age. :scream_cat:

[2017-07-04 09:47] MasseGuillaume commented on #291
I will use the GitHub api on the client side to fetch the latest information. The server will render with the information it has and then the client will rerender with the updated information.

[2017-07-04 10:11] MasseGuillaume commented on #335
it look like this was fixed

[2017-07-04 10:11] #335 closed

[2017-07-04 12:06] #291 closed

[2017-07-04 12:49] #391 closed

[2017-07-04 13:01] #196 closed

[2017-07-04 15:00] MichaelViveros opened #441 "Resetting Custom Scala Doc doesn't work"
**Problem:** If you go to the edit project page, set Custom Scaladoc Link to some url, click update, edit the project again, reset the Custom Scaladoc Link to nothing, click update, the UI still has the old link in the Documentation section. And if you go back to the edit project page, the old link shows up in Custom Scaladoc Link even though you just reset it to nothing.

I found this issue becau

[2017-07-04 15:07] MasseGuillaume commented on #441
@MichaelViveros thank for this detailed explanation. I think it would make sense to create a PR for this.

It can cause errors like https://github.com/scalacenter/scaladex/issues/430#issuecomment-311641444

[2017-07-05 08:17] heathermiller opened #443 "Filters not working on front page"
Scala Native filter on front page is broken (#402 reports this). You have to then select Scala Native again on the next page.

**This is probably also the case for other links on the front page as well, I didn't test them all.**

[2017-07-05 08:18] MasseGuillaume commented on #443
duplicates #402

[2017-07-05 08:19] heathermiller commented on #443
Please check that other links aren't also broken. Thanks.

[2017-07-05 08:26] #441 closed

[2017-07-05 08:54] MasseGuillaume opened #444 "publish semantic versionning library"
currently sits at https://github.com/scalacenter/versions

we could delete that repo and create an sbt project in scaladex itself.

[2017-07-05 08:57] MasseGuillaume commented on #419
The monix jvm artifact 2.3.0 is missing from Scaladex.

http://search.maven.org/#artifactdetails%7Cio.monix%7Cmonix_2.12%7C2.3.0%7Cpom

[2017-07-05 13:03] MasseGuillaume commented on #419
hum it look like jvm releases are not indexed for the monix artifact. Since 2.1.2

[2017-07-05 14:19] MasseGuillaume commented on #419
It looks like what you said above is correct. If we compare

http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22io.monix%22%20AND%20a%3A%22monix_2.12%22
https://index.scala-lang.org/artifacts/monix/monix

we see there is no release in scaladex when the jar is missing

for scalajs there jar is present on both scaladex and maven search
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22io.monix%22%2

[2017-07-05 14:37] #402 closed

[2017-07-05 14:37] #433 closed

[2017-07-05 14:59] alexandru commented on #419
@MasseGuillaume what happened since 2.1.2 is that main package (io.monix %% monix) has switched to `<packaging>pom<packaging>`, no longer delivering a JAR file, because it would be empty and cause problems with Android AFAIK.

In other words I don't think it is Sonatype to blame. In case Scaladex expects a JAR, then it shouldn't do that.

[2017-07-05 15:03] MasseGuillaume commented on #419
ohh I think I found the issue: https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/project/ProjectConvert.scala#L107

Thanks for pointing the packaging.

[2017-07-05 15:05] #419 closed

[2017-07-05 15:26] MasseGuillaume commented on #95
@darkfrog26 I finally have some time to work on this. It should be fixed this week.

[2017-07-05 15:29] MasseGuillaume commented on #443
https://github.com/scalacenter/scaladex/commit/8f4f5d6c000f336c41a48f27077f4fd609f79f79

[2017-07-05 15:29] #443 closed

[2017-07-05 17:10] darkfrog26 commented on #95
@MasseGuillaume awesome...thanks for the update.

[2017-07-06 15:42] #95 closed

[2017-07-06 15:43] MasseGuillaume commented on #95
Fixed locally. I'm redeploying tomorrow.

[2017-07-07 08:35] MasseGuillaume commented on #95
@cvogt

The history is now merged:

https://index.scala-lang.org/search?q=play-json-extensions

Shows only the new project

https://index.scala-lang.org/xdotai/play-json-extensions/play-json-extensions/0.7.0?target=_2.11

The project merge the older artifacts

https://index.scala-lang.org/cvogt/play-json-extensions

the url /org/repo/ is redirected to the new repo

[2017-07-07 08:52] MasseGuillaume opened #447 "Create a subset of scaladex-index"
scaladex-index is fairly large (1GB, 200 000 releases)

It would be helpful to select a subset of releases to work with locally and for testing on travis-ci.

[2017-07-07 09:33] MasseGuillaume commented on #119
@MichaelViveros
Your PR grep the readme for gitter badge. You can have a gitter room without adding a badge. I suggest we do an http request to know if the room exist or not:

[code]

Last time I check it was the only way to check if the room exists or not.

[2017-07-07 12:29] MasseGuillaume opened #449 "Use a database"
A lot of information is stored in files (Github, Poms, Poms metadata, etc). We could store this is a database.

This branch start implementing flyway migrations and postgresql: https://github.com/scalacenter/scaladex/commits/feature/sql

[2017-07-07 12:31] MasseGuillaume commented on #157
A staled branch attempting to fix this issue: https://github.com/scalacenter/scaladex/commits/feautre/157-selenium-test

[2017-07-07 19:54] arpanchaudhury opened #450 "Mismatch of license for agoda-com/kafka-jdbc-connector"

[2017-07-09 13:52] MasseGuillaume opened #452 "images are broken when rendering on the client"
see https://index.scala-lang.org/wix/accord/accord-core/0.6.1?target=_2.12

[2017-07-10 07:06] MasseGuillaume opened #453 "filters on mobile should be displayed differently"
on mobile, you have to scroll the filters to get to the first result. They could be folded or displayed after the result list.

[2017-07-10 07:10] MasseGuillaume commented on #450
The release was made under the MIT license https://github.com/agoda-com/kafka-jdbc-connector/blob/master/build.sbt#L33
The repo is under the Apache2 License.

[2017-07-10 14:31] #447 closed

[2017-07-10 15:47] MichaelViveros commented on #431
@heathermiller @MasseGuillaume

These errors happen for both the Github REST API and the Github GraphQL API.

Github support confirmed that the Abuse Detection Mechanism is triggered by hitting the abuse rate limit which happens when you make too many requests in a short period of time. I verified that both the old code for hitting the REST API (downloading repo info, readme, contributors) and the

[2017-07-11 07:29] MasseGuillaume opened #455 "search api is not filtering scala targets"
[code]

[2017-07-11 07:44] MasseGuillaume commented on #434
@lossyrob

I can add an option to filter version to only show: 1.0.0, 1.0.0-RC1 and 1.0.0-M2. By default, there is an option to show the latest stable release (pick 1.0.0 over 1.1.0-M1).

This is the current version list:

[code]

It would show:

[code]

1.1.1 would be selected

does that make sense?

[2017-07-11 07:48] MasseGuillaume commented on #394
fixed in https://github.com/scalacenter/scaladex/commit/d93881979445c0c0aba584032a53bde936c553fc

[2017-07-11 07:48] #394 closed

[2017-07-11 13:22] lossyrob commented on #434
Yes, that would be ideal. Thank uou!

[2017-07-11 13:45] MasseGuillaume opened #457 "create annother set of credential for dev server"

[2017-07-11 13:53] MasseGuillaume commented on #455
test case: https://github.com/scalacenter/scaladex/pull/456/files#diff-abb789f1f4fa8522ec5f70e2dd70d103R113

[2017-07-11 14:21] #395 closed

[2017-07-11 14:34] MasseGuillaume commented on #389
I added [test for relevance](https://github.com/scalacenter/scaladex/blob/master/server/src/test/scala/ch.epfl.scala.index.server/RelevanceTest.scala#L21)

[`first(query)(org/repo)`](https://github.com/scalacenter/scaladex/blob/398eb176d944c6476ffb5394d6f3a65252ec37b3/server/src/test/scala/ch.epfl.scala.index.server/RelevanceTest.scala#L37): org/repo should be the first result when searching for q

[2017-07-11 14:36] MasseGuillaume commented on #303
Let's merge this issue with this one https://github.com/scalacenter/scaladex/issues/389

I added test cases for relevance issues pointed out in this issue: https://github.com/scalacenter/scaladex/issues/389#issuecomment-314463810. I would be really cool if you guys could review the test.

[2017-07-11 14:36] #303 closed

[2017-07-12 11:54] #455 closed

[2017-07-12 11:57] MasseGuillaume commented on #455
related: https://github.com/scalacenter/scastie/issues/255

[2017-07-12 14:02] #434 closed

[2017-07-12 14:30] heathermiller opened #460 "Search bar on front page appears to do nothing for a few seconds"
Steps to reproduce:

1. Type something into the search bar on the front page.
2. Use the down arrow key to select the library you want.
3. Press enter.
4. Be confused about why nothing appears to happen for a few seconds.

It takes a few seconds for anything to happen. Every time I visit Scaladex recently, I first think that the JS on the front page is broken. After a second or two, I notice the b

[2017-07-12 14:34] heathermiller opened #461 "Sorting buttons broken on search results page"
Steps to reproduce:

1. Click a topic on the front page.
2. On the search results page, select the button to order results by stars.
3. Observe that the original query gets lost. You now see all projects ordered by star count rather than the ones in the topic that you originally selected.

[2017-07-13 08:16] MasseGuillaume opened #462 "missing release for wix/accord"
0.7 available since the 9th of July
https://repo1.maven.org/maven2/com/wix/accord-core_2.12/

not on scaladex yet

/cc @holograph

[2017-07-13 08:28] holograph commented on #462
Thanks! Was just about to do that :-)

[2017-07-14 01:53] Atry opened #463 "README.md is improperly rendered as raw HTML"
![screen shot 2017-07-14 at 09 51 25](https://user-images.githubusercontent.com/601530/28194985-3eaf65e0-687a-11e7-8d9d-9e99be6349a3.png)

[2017-07-14 07:34] heathermiller commented on #463
Looks OK for me. Indeed I see the HTML rendering (as you have shown) for maybe some milliseconds before the HTML is properly rendered. But as soon as the page is finished loading it looks like this for me:

<img width="1274" alt="screen shot 2017-07-14 at 9 32 52 am" src="https://user-images.githubusercontent.com/687163/28202850-74ef15cc-6877-11e7-9158-023bfa0c0ecd.png">

[2017-07-14 07:34] heathermiller commented on #463
(The images aren't loading, which @MasseGuillaume knows about and will fix soon, I'm sure)

[2017-07-14 07:38] Atry commented on #463
Have a look at the HTML source of the Scaladex page, then you will see the README.md is rendered as "one character per line".

[2017-07-14 08:55] MasseGuillaume commented on #463
@Atry is hiting the api Githu api limit this is why the result is different. The fallback is the Readme from the server. The readme from the server was not read correctly, I need to reindex.

[2017-07-14 12:17] MichaelViveros commented on #463
@MasseGuillaume Has #451 been deployed? That should fix it

[2017-07-18 16:17] MasseGuillaume opened #464 "Code generate models for GitHub's GraphQl"
GraphQl has a type system and case classes can be automatically generated. This project is an early attempt at this: https://github.com/mediative/sangria-codegen

[2017-07-19 11:10] Zhen-hao opened #466 "Backward compatibility for keywords search"
https://index.scala-lang.org/search?q=keywords%3Aakka-persistence-plugin&page=1&sort=relevant

[2017-07-19 11:15] MasseGuillaume commented on #466
keywords was renamed to topics
https://index.scala-lang.org/search?topics=akka-persistence

This link is in the akka Doc ?

[2017-07-19 11:30] MasseGuillaume commented on #466
Thanks for pointing this out. It look like this comes from http://akka.io/community/

We renamed keywords to topics. The correct link should now be: https://index.scala-lang.org/search?topics=akka-persistence

However the badge url is incorrect for some reason: <img src="https://index.scala-lang.org/count.svg?q=topics:akka-extension&subject=akka-extension">