[2017-07-19 13:09] Zhen-hao commented on #466
I was using the link on this page http://akka.io/community/?_ga=2.103679618.308253065.1500461703-687766604.1494258454

Thanks for the new link!

[2017-07-19 13:11] MasseGuillaume commented on #466
@Zhen-hao it's the same link. It's a valid issue to resolve on our side.

[2017-07-19 14:53] MichaelViveros commented on #466
@MasseGuillaume So urls using `keywords` should be mapped to `topics` in scaladex?
Ex. https://index.scala-lang.org/search?q=keywords:akka-persistence-plugin should be mapped to https://index.scala-lang.org/search?topics=akka-persistence-plugin?

The links on http://akka.io/community/ will still lead to empty results since the keyword `akka-persistence-plugin` is replaced by the topic `akka-persis

[2017-07-19 14:55] heathermiller commented on #466
Perhaps the solution is some kind of routing trick that rewrites `q=keywords` to `topics=`?

[2017-07-25 12:30] holograph commented on #463
The issue strikes again; see https://index.scala-lang.org/wix/accord/accord-api, right now it shows raw markdown - not limited to just images...

[2017-07-25 12:32] holograph commented on #462
I released 0.7.1 and it's already on Central (also reported correctly by `shields.io`), no changes on the index as of yet.

[2017-07-25 14:22] MasseGuillaume commented on #462
@holograph It's currently reindexing. I will check in a couple of hours if it fix the issue.

0.7.1 is in maven central indeed: http://search.maven.org/#artifactdetails%7Ccom.wix%7Caccord-core_2.12%7C0.7.1%7Cjar

[2017-07-25 14:48] MasseGuillaume commented on #462
@holograph it's now available: https://index.scala-lang.org/wix/accord/accord-api/0.7.1?target=_2.12

[2017-07-25 14:48] #462 closed

[2017-07-25 14:50] MasseGuillaume commented on #463
Now fixed, thanks @MichaelViveros !

[2017-07-25 14:52] MasseGuillaume commented on #463
ops, I closed this one to quickly. If I disable javascript I still see the issue.

[2017-07-26 13:25] MasseGuillaume opened #468 "DNS for library names"
Maven uses groupId/artifactId/version to resolve dependencies. This approach guarantees uniqueness and delegate to name servers the problem to sort out unique names. However, as a developer, it's really hard to remember those coordinate. For example, what is the groupId for Shapeless?

Scaladex provides a way to solve this. You can search for Shapeless and find it's coordinate. However, the search

[2017-07-26 18:57] MichaelViveros commented on #452
The first image in that readme is a relative link to `assets/accord-logo-light.png` (see the [raw markdown](https://raw.githubusercontent.com/wix/accord/master/README.md)).

Other repos whose images get properly rendered in their scaladex page have absolute links. Ex. https://index.scala-lang.org/thoughtworksinc/deeplearning.scala/any/1.0.0-M0?target=_2.11, first image in readme links to http://de

[2017-07-26 19:00] MichaelViveros opened #469 "scala/scala project page sometimes throws an error (503)"
https://index.scala-lang.org/scala/scala/scala-library/2.12.2?target=_2.12.2

<img width="1280" alt="screen shot 2017-07-26 at 2 49 44 pm" src="https://user-images.githubusercontent.com/8866443/28638453-e8cb0510-7212-11e7-9541-dfc6b20b1eb6.png">

Doesn't always happen.

Didn't see any error in `server.log` @ index.scala-lang.org. Might be due to code that was added to get the readme client-side (s

[2017-07-27 12:07] holograph commented on #463
In my case, it happens about 50% of the time (usually consistent for any given session)

[2017-07-27 12:09] MasseGuillaume opened #471 "Dotty artifact name convention"
http://search.maven.org/#artifactdetails%7Cch.epfl.scala%7Ccollection-strawman_0.1%7C0.2.0%7Cjar

it uses low number such as:

collection-strawman_0.1
collection-strawman_0.2.0-RC2
...

[2017-07-27 12:13] MasseGuillaume commented on #463
@holograph if you login with GitHub it should work 100% of the time.

[2017-07-27 12:14] MasseGuillaume opened #472 "Api vs html results for collection-strawman"
https://index.scala-lang.org/api/search?q=collection-strawman&target=JVM&scalaVersion=2.12
gives multiple results

https://index.scala-lang.org/search?q=collection-strawman
gives only one result

I prefer the html result.

[2017-07-27 12:18] holograph commented on #463
@MasseGuillaume I'm more worried about potential users that aren't very likely to be logged in :-)

[2017-07-27 12:21] MasseGuillaume commented on #411
This is an issue for Scastie as well. We search for 2.13.0-M1 and get no results.

https://index.scala-lang.org/api/search?q=collection-strawman&target=JVM&scalaVersion=2.13.0-M1
vs
https://index.scala-lang.org/api/search?q=collection-strawman&target=JVM&scalaVersion=2.13

[2017-07-27 13:14] MichaelViveros opened #473 "Searching with filter selected doesn't narrow down results"
Ex. Select filter targetType=Js, enter "quill" into the search box, 1012 results, https://index.scala-lang.org/search?q=quill&targetTypes=Js
This is the same number of results as just selecting filter targetType=Js (and not entering anything into the search box), https://index.scala-lang.org/search?q=&targetTypes=Js

The search term does result in projects matching it being displayed first (top 2

[2017-07-27 14:24] MasseGuillaume commented on #473
:+1: indeed this is bogus. Thanks for reporting.

[2017-07-28 07:40] heathermiller commented on #463
@MasseGuillaume what's the deal with falling back to the server when the API limit is reached?

[2017-07-28 09:40] MasseGuillaume opened #474 "Potential critical bug when scaladex disconnect from elasticsearch"
Yesterday Scaladex crashed. One thing I noticed in the log is that the last event logged was a connection failure with elasticsearch. It would be useful to test if indeed, a connection failure with a remote elasticsearch instance cause the server to crash.

[2017-07-28 09:41] MasseGuillaume commented on #463
@heathermiller taking a look

[2017-07-28 10:21] MasseGuillaume opened #477 "Setup cron job for bintray/github indexing"
I sent an email to our sysadmin to set a cron job each day at 10h30 Swiss time.

[2017-07-28 10:52] #463 closed

[2017-07-28 14:24] MichaelViveros commented on #469
Throwing it all the time now

[2017-07-28 14:58] MasseGuillaume commented on #469
@MichaelViveros taking a look thanks.

[2017-07-28 15:19] MasseGuillaume opened #478 "PublishProccess Back Pressure"
PublishProcess is too slow under a big load.

It loads Poms, fetch GitHub info and index in elasticsearch.

We should write the pom to disk as soon as possible and schedule an update for github and elasticsearch in bulk.

[2017-07-28 15:22] MasseGuillaume commented on #469
It looks like 2.12.3 releases are coming strong and there is a lot of writes on elasticsearch. scala/scala has reverse dependencies on every project and always take more time to load. since elasticsearch has more work to do, it times-out. Maybe we should do a special case for this project and not compute the reverse dependencies at all.

[2017-07-28 16:00] #469 closed

[2017-08-01 15:22] MasseGuillaume opened #479 "migrate upickle to play-json"
upickle is deprecated https://github.com/lihaoyi/upickle-pprint

[2017-08-05 18:26] MichaelViveros opened #480 "Autocomplete does not take into account Filters"
Ex. Select filter for "akka" Topic, type "scala" into search box, autocomplete results show scala/scala as first result even though it doesn't have "akka" as a Topic.

<img width="1280" alt="screen shot 2017-08-05 at 2 25 21 pm" src="https://user-images.githubusercontent.com/8866443/28997739-f21faa06-79e9-11e7-876f-11d007b49f11.png">

If the search box is always supposed to be a global search (no

[2017-08-09 14:52] kailuowang opened #481 "Question, how often is scala dex updated?"
I noticed that the projects that I have haven't been updated on scaladex for weeks. We are using the scaladex badge which thus indicates outdated release versions.

[2017-08-09 14:57] MasseGuillaume commented on #481
I turned off indexing for this week because of this issue: https://github.com/scalacenter/scaladex/issues/478

I'm turning the indexing back on, sorry about that!

[2017-08-09 15:01] kailuowang commented on #481
thanks!

[2017-08-09 15:01] #481 closed

[2017-08-09 15:05] MasseGuillaume commented on #481
@kailuowang what is the specific repo that is out of date?

[2017-08-09 15:12] kailuowang commented on #481
thanks for asking, the one I care the most is typelevel/cats.

[2017-08-09 15:25] MasseGuillaume commented on #481
oh I see, 1.0.0-MF is not a valid semantic version. let me see what I can do.

[2017-08-09 15:31] MasseGuillaume commented on #481
This would be a valid semantic version: `1.0.0-M1+final`

Since it's too late, I will see if I can add an exception for cats without breaking the ordering for other libraries.

[2017-08-09 15:57] kailuowang commented on #481
yah! thanks so much!

[2017-08-09 15:59] MasseGuillaume commented on #481
np, it might not update now on the readme because of GitHub image proxy: https://help.github.com/articles/about-anonymized-image-urls/

[2017-08-11 08:38] #436 closed

[2017-08-11 08:47] #461 closed

[2017-08-11 09:01] #431 closed

[2017-08-11 19:05] MichaelViveros opened #487 "Error with beginner issue title containing quotation mark"
Ex. scalacenter/scaladex, Scala Spree issues, Strategy to determine libraries with "Help wanted" #112

When going to project edit page for scaladex, clicking Update, server throws error about parsing json near quotation mark.

<img width="1280" alt="screen shot 2017-08-11 at 2 50 37 pm" src="https://user-images.githubusercontent.com/8866443/29228078-6279d25c-7ea6-11e7-8a8d-dcdc3032dee8.png">

[2017-08-15 04:45] gigiyy opened #488 "the group id for scalatest artifact is "org.pageobject.patch.org.scalatest""
is it due to some configuration error? couldn't find it on other packages though.

URL: https://index.scala-lang.org/scalatest/scalatest/scalatest/3.0.3?target=_2.12

[2017-08-15 12:41] MasseGuillaume commented on #488
Thanks for reporting.

This is due to: https://github.com/scalacenter/scaladex/issues/178

[2017-08-15 12:41] #488 closed

[2017-08-15 12:43] MasseGuillaume commented on #178
scalatest is now org.pageobject.patch.org.scalatest at version 3.0.3. Where the current version is 3.0.1

[2017-08-15 12:45] MasseGuillaume commented on #178
I'm bumping this to the next item to work on due to it's severity. I'm currently on working on Scastie embedding. I can start working on this issue in ~ 2weeks.

[2017-08-15 12:47] MasseGuillaume opened #489 "Incorrect supported Scala version for Doobie."
https://github.com/scalacenter/scastie/issues/317

[2017-08-15 12:49] MasseGuillaume commented on #466
Look like http://akka.io/community/ has updated their page.

[2017-08-15 12:49] #466 closed

[2017-08-15 12:50] MasseGuillaume commented on #304
This is now live!

[2017-08-15 12:50] #304 closed

[2017-08-15 12:51] MasseGuillaume commented on #112
This is now live! Check it out.

[2017-08-15 12:51] #112 closed

[2017-08-29 15:55] #487 closed

[2017-08-30 03:27] smarter opened #492 "org.json4s.ParserUtil$ParseException when updating a page"
I changed a few things in https://index.scala-lang.org/edit/lampepfl/dotty then pressed "Updated" and I got:
[code]

[2017-08-30 08:08] MasseGuillaume commented on #492
https://github.com/scalacenter/scaladex/blob/a53016f336d67a0880817b66f3bd4cb60f65fab0/server/src/main/scala/ch.epfl.scala.index.server/routes/ProjectPages.scala#L293

@MichaelViveros It looks like it's failing to parse Github issues. Can you take a look?

@smarter Can you tell us what is the label you are setting for the `Beginner Issues Label` ?

[2017-08-30 08:17] smarter commented on #492
I didn't change it, it's exp:novice

[2017-08-30 14:18] MichaelViveros commented on #492
@MasseGuillaume This is the same error as #487, once you deploy #491 it will be fixed on the server so that users won't run into this problem.

The problem is with https://github.com/lampepfl/dotty/issues/1673 which has a quote in the title (Documentation needs "Getting started" for users).

[2017-08-30 14:20] MasseGuillaume commented on #492
@MichaelViveros Awesome!

[2017-08-30 14:30] MasseGuillaume commented on #492
@smarter @MichaelViveros

I deployed @MichaelViveros  fix and it's working correctly now.

I also took the liberty to filter version so it only shows: 0.3.0-RC1, 0.2.0-RC1 and 0.1.0-RC1 (valid semantic versions)

[2017-08-30 21:41] kailuowang opened #494 "Quick question: how is "Most depended-upon Projects" computed?"
Just curious, it's not very important.
Does it count internal dependencies?  Does it count each module dependency from a repo or count all module dependencies from a single repo as 1?
For example, if both `projectA/module1` and `projectA/module2` depends on `projectB`, does it count as 2 or 1 for `projectB` in the most depended-up rank?
Thanks!

[2017-08-31 12:08] MasseGuillaume commented on #494
https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/project/ProjectConvert.scala#L502-L504

It counts each internal and external dependencies. (projectB has a cost of 2 in your example)
It does not count transitive dependencies.

I think it would make more sense to set a cost of 1 to projectB. I will experiment with a graph to see how it affects the ran

[2017-08-31 13:00] kailuowang commented on #494
Yeah I agree that would be really interesting to find out

[2017-09-20 09:23] megri opened #496 "/api/ doesn't accept `Accept: application/json` and returns JSON-formatted data with `Content-type: text/plain`"

[2017-09-20 17:56] kailuowang commented on #494
@MasseGuillaume hey I am just curious if you tried it out.
In the [line](https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/project/ProjectConvert.scala#L502-L504) you gave above, would it be a sensible thing to change
[code]
 to
[code]
?

[2017-09-20 19:27] MasseGuillaume commented on #494
Yes this looks reasonable. I will give it a shot.

On Wed, 20 Sep 2017 at 19:56, Kai(luo) Wang <notifications@github.com>
wrote:

--
-Gui

[2017-09-21 12:07] adamw opened #497 "Searching for sttp opens to an old version"
When searching for "sttp" and choosing the first result, it opens release 0.0.6, instead of the latest 0.0.14 (you can navigate and choose it from the dropdown).

Also, for some reason it says "2 releases", while there were a couple more

[2017-09-21 12:14] MasseGuillaume commented on #497
https://index.scala-lang.org/artifacts/softwaremill/sttp

It looks like the last artifact we have are

* async-http-client-backend-cats
* async-http-client-backend-future

at version 0.0.14

It looks like maven central has all artifacts:

http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.softwaremill.sttp%22

I think the issue is the email field: <email/>

https://repo1.maven.org/maven2/com/so

[2017-09-21 12:15] MasseGuillaume commented on #497
hum or not

http://search.maven.org/#artifactdetails%7Ccom.softwaremill.sttp%7Casync-http-client-backend-cats_2.11%7C0.0.14%7Cjar

we did index this

[2017-09-21 12:32] adamw commented on #497
The main artifact is `core` and looking at https://index.scala-lang.org/artifacts/softwaremill/sttp for each version there's a random subset of artifacts included.

So you think there's something wrong with the pom? All the validations at sonatype pass

[2017-09-21 12:33] MasseGuillaume commented on #497
I found the 0.0.14 pom: https://github.com/scalacenter/scaladex-index/blob/master/poms/maven-central/sha/9c47e253b7358fcc8850a04dc20ccd512871cd2e.pom

[2017-09-21 12:35] MasseGuillaume commented on #497
ops I mean  https://github.com/scalacenter/scaladex-index/blob/master/poms/maven-central/sha/54ee5e78923e4dc8cb067c9298cb5274448e028d.pom

[2017-09-21 12:45] MasseGuillaume commented on #497
I'm reproducing the indexing locally for sttp, I should have a fix soon.

[2017-09-21 12:45] adamw commented on #497
thanks!

[2017-09-21 13:39] MasseGuillaume commented on #494
Original

* akka/akka
* scala/scala
* apache/spark
* typesafehub/config
* typelevel/cats
* json4s/json4s
* locationtech/geotrellis
* milessabin/shapeless
* apache/flink
* typesafehub/scala-logging
* lihaoyi/acyclic
* propensive/rapture

Excluding internal dependencies:

* +++ scala-js/scala-js
* = scala/scala
* = apache/spark
* ＋ typelevel/cats
* ＋ milessabin/shapeless
* ＋ circe/circe
* ＋ json4s/j

[2017-09-21 13:39] #494 closed

[2017-09-21 13:41] MasseGuillaume commented on #497
It works fine locally. I'm reindexing the server.

[2017-09-21 13:45] kailuowang commented on #494
This does make more sense to me. Thanks so much for the work and this awesome project,  @MasseGuillaume !

[2017-09-21 14:08] MasseGuillaume commented on #494
Way better: https://index.scala-lang.org/search?q=*&sort=dependentCount

Thanks for your time!

[2017-09-21 14:09] MasseGuillaume commented on #497
All in order now: https://index.scala-lang.org/softwaremill/sttp

[2017-09-21 14:09] kailuowang commented on #494
hmm, that's not the ranking you listed above...

[2017-09-21 14:14] MasseGuillaume commented on #494
Indeed, I was working with a smaller index:

https://github.com/scalacenter/scaladex-small-index

It's a bit faster to develop with this. But the trend is the same, projects like scalameta or geotrellis got out of the way. (They publish nightly, thus have lots of internal dependencies)

[2017-09-21 14:19] kailuowang commented on #494
ah. got it. Thanks it indeed looks much better.

[2017-09-21 15:40] adamw commented on #497
Great, thanks! So no changes on my side needed for the future?

[2017-09-21 15:41] MasseGuillaume commented on #497
Yep, everything is good on my side. I did not find the root of the problem, however.

[2017-10-03 20:43] SethTisue commented on #411
@MasseGuillaume this is still on your radar, I hope...?

[2017-10-04 07:39] MasseGuillaume commented on #411
@SethTisue I cant do this immediately, I added a bookmark, I will do it as soon as I have time.

[2017-10-04 08:43] #411 closed

[2017-10-04 08:43] MasseGuillaume commented on #411
@SethTisue here you go, I'm deploying now.

[2017-10-04 09:02] #401 closed

[2017-10-04 09:03] MasseGuillaume commented on #354
Here you go: https://index.scala-lang.org/artifacts/scalaz/scalaz

[2017-10-04 09:03] #354 closed

[2017-10-04 09:54] MasseGuillaume commented on #411
https://index.scala-lang.org/search?q=fullScalaVersion%3A2.13.0-M1+AND+NOT+fullScalaVersion%3A2.13.0-M2&scalaVersions=2.13

hehe !

[2017-10-04 13:17] MasseGuillaume opened #500 "Add a keyboard shortcut to jump to search bar"

[2017-10-04 13:19] MasseGuillaume opened #501 "Display latest version of the default artifact in the search result list"
For example:

searching for https://index.scala-lang.org/search?q=akka

should show 2.5.6 for the first result

this has to precomputed on Project to be efficient.

[2017-10-04 19:45] SethTisue commented on #411
@MasseGuillaume thank you so much! this is now used in scala/make-release-notes@e2ef4dd575cf6da7b9aceb57e382b059bb4beeef  🎉

[2017-10-06 05:29] MasseGuillaume opened #502 "No license in sbt plugins"
sbt does not publish the license in the ivy file

https://github.com/sbt/sbt/issues/3026#issuecomment-334661541

However, sbt-bintray will set the license on the bintray repository

[2017-10-06 09:26] MasseGuillaume opened #503 "BintrayDownloadSbtPlugins should also read maven style (poms)."
When we search Bintray for plugins under https://bintray.com/sbt/sbt-plugin-releases/ we assume ivy releases.

plugins can publish with maven style, for example:

https://bintray.com/laughedelic/sbt-plugins/literator

[2017-10-06 22:24] laughedelic commented on #503
Isn't it published ivy style? In the [Files tab of the 0.7.1 version](https://bintray.com/laughedelic/sbt-plugins/literator/0.7.1#files) I see

[code]

The v0.7.0 is published maven style, but this was exactly the [reason](https://github.com/laughedelic/literator/releases/tag/v0.7.1) I published 0.7.1.

[2017-10-07 11:15] MasseGuillaume commented on #503
Aw, good catch. So by default sbt has a ivy resolver for sbt/sbt-plugin-releases ?

[2017-10-07 23:03] laughedelic commented on #503
sbt-bintray sets `publishMavenStyle` depending on the value of `sbtPlugin`. So it should publish plugins ivy-style. And yes, as far as I know there is an ivy resolver in for sbt-plugin-releases in the default resolver chain.

[2017-10-16 14:45] #356 closed

[2017-10-16 14:46] #500 closed

[2017-10-17 23:07] MasseGuillaume commented on #362
https://github.com/scalacenter/scaladex/commit/f2473866e20ec0b5a750edf0ff5051a86f65d689

[2017-10-17 23:07] #362 closed

[2017-10-19 12:13] piotrkwiecinski commented on #453
I reckon collapsible filters may be better choice. They should also be clickable on full width as for now you have to hit text to select them on mobile.

I may have time over the weekend to play around with it and propose something.

[2017-11-03 15:58] MasseGuillaume commented on #444
https://github.com/scalacenter/versions

[2017-11-03 22:55] MasseGuillaume commented on #496
This look like it's fixed:

curl -vvv https://index.scala-lang.org/api/search?q=cats&target=JVM&scalaVersion=2.12.4

[code]

[2017-11-03 22:56] #496 closed

[2017-11-04 09:31] nekonyuu commented on #479
This was a bit done (finished?) by the PR #507.

[2017-11-04 17:34] MasseGuillaume commented on #479
@nekonyuu right, completely done

[2017-11-04 17:34] #479 closed

[2017-11-06 07:47] MasseGuillaume commented on #478
Thanks @rjsvaljean!

[2017-11-06 07:47] #478 closed

[2017-11-06 07:49] MasseGuillaume commented on #330
both https://index.scala-lang.org/search?q=organization%3AThoughtWorksInc and https://index.scala-lang.org/search?q=organization%3Athoughtworksinc yield the same result now. Thanks @AndySardina!

[2017-11-06 10:02] leonardehrenfried commented on #478
Does this mean that auto-indexing has resumed again?

[2017-11-06 10:09] MasseGuillaume commented on #478
@leonardehrenfried for maven central yes :)

[2017-11-12 11:13] peter-empen opened #509 "Inproper search results"
This is related to #389 but I feel even worse since misleading:

1. search for "graph": the second hit is "lewismj / cucumber". This project has nothing to do with graphs, right? Also, I'd expect "scala-graph" to pop up in the hit list but it doesn't. Note that "gremlin-scala" is a proper hit.
1. search for "scala-": no project starting with "scala-" is found. It seems there is an issue with dashe

[2017-11-16 12:20] MasseGuillaume commented on #509
1. This is due to an artifact called graph: https://index.scala-lang.org/lewismj/cucumber/graph/0.0.6?target=_2.12. When you search for graph you see a: `Did you mean topics=graph?`.

2. The search result comes from the [query-string-syntax](https://www.elastic.co/guide/en/elasticsearch/reference/6.0/query-dsl-query-string-query.html#query-string-syntax) of elasticsearch. The query would be: https

[2017-12-04 10:20] MasseGuillaume opened #510 "optimize large projects"
scalatest takes 11s to load:

https://index.scala-lang.org/scalatest/scalatest

https://index.scala-lang.org/api/project?organization=scalatest&repository=scalatest&target=JVM&scalaVersion=2.12.4

[2017-12-04 10:36] MasseGuillaume commented on #510
The api is here: https://github.com/scalacenter/scaladex/blob/aa5e09a05a2847d70f9787997ba439842c99046a/server/src/main/scala/ch.epfl.scala.index.server/routes/api/SearchApi.scala#L161-L215

The slow part:
https://github.com/scalacenter/scaladex/blob/aa5e09a05a2847d70f9787997ba439842c99046a/server/src/main/scala/ch.epfl.scala.index.server/DataRepository.scala#L397-L411

We need to fetch all release

[2017-12-14 13:26] yurikhan opened #512 "Please do not hijack the ‘/’ key"
In Firefox, the `/` key brings up the find bar (like `Ctrl+F` but an easier key). Scaladex overrides this key to focus the search input field. If the user was in the middle of reading a long package description and wanted to search from that point, he/she will be taken to the top of page, losing his/her reading position.

This is probably the relevant part of the code: [Client.scala#L143-L153](htt

[2017-12-14 13:33] MasseGuillaume commented on #512
:heart: sorry about that. Can you create a PR? I can deploy it right away.

[2017-12-14 15:22] yurikhan commented on #512
Just like that? No prolonged arguments about “many of our users actually expect `/` to focus the search bar, and anyway `Ctrl+F` does the same thing as you yourself admit so what’s the problem”? :)

Regarding a PR, well, I *think* it involves deleting that method plus also the line that hooks it to `keydown` at [Client.scala#L294](https://github.com/scalacenter/scaladex/blob/master/client/src/main

[2017-12-14 15:40] MasseGuillaume commented on #512
We could disable it only for Firefox for example.

This project is really contributor friendly, of course fixing the issue myself would be pretty quick, but I think it would be better if you could do the contribution yourself.

You will need sbt and java. Then you can follow our contribution guide:
https://github.com/scalacenter/scaladex/blob/master/CONTRIBUTING.md#how-to-run-scaladex-locally

[2017-12-15 13:05] #444 closed

[2017-12-15 21:18] eed3si9n commented on #509
Clicking on Akka link from the front page, I get the following..

![search__](https://user-images.githubusercontent.com/184683/34060831-76d33b10-e1b3-11e7-960f-51c2053ab5d4.png)

akka/akka doesn't show up until page 4. Could we please use GitHub star as the default sort ordering for now?

[2017-12-15 23:17] tpolecat commented on #509
👍 from me. The "relevance" ordering still seems basically random to me. The database topic lists Quill and doobie dead last.

[2017-12-16 10:24] yurikhan commented on #512
Browser sniffing is considered a bad and error-prone thing, and Firefox is not the only browser with a quick find feature. Midori and Konqueror and GNOME Web have it, too, enabled by default. In Opera, it is under advanced key shortcuts.

Maybe we can agree on a different shortcut key.

[2017-12-16 11:21] piotrkwiecinski commented on #512
Let me know which one would be preferred and I can create new PR.

[2017-12-16 13:07] yurikhan commented on #512
@piotrkwiecinski I do not have a preference, only that it does not override any of the important browser keys. Presumably, you implemented the feature because you personally want it, so it’s up to you to choose something that is convenient for you.

I propose `s` because that’s what Github uses and I have not seen any other site that has an easy non-conflicting shortcut for its search input.

[2017-12-16 13:14] piotrkwiecinski commented on #512
I've used ```/```, because it's used in other apps gmail, jira and even github in issues search (not repository/top one). I don't mind changing it to ```s```. I'll send PR within few minutes.

[2017-12-16 13:31] yurikhan commented on #512
(Interestingly, I do not experience the problem with Github.)

[2017-12-16 13:39] piotrkwiecinski commented on #512
I've just checked the Firefox and it just doesn't highlight search issues. Question is if it's a bug or feature :). Based on docs it should focus issue search bar and it does in Chrome.

[2017-12-16 15:04] #512 closed

[2017-12-20 10:31] MasseGuillaume opened #514 "Shapeless not showing up in api search"
https://index.scala-lang.org/api/search?q=shapeless&target=JVM&scalaVersion=2.12.4

[2017-12-23 10:59] plokhotnyuk opened #515 "README on GitHub project page shows a badge with an older version"
I released v0.2 yesterday here:
https://github.com/plokhotnyuk/jsoniter-scala

If I try get image by following link directly: https://index.scala-lang.org/plokhotnyuk/jsoniter-scala/macros/latest.svg?color=blue then it displays latest version right by redirection to https://img.shields.io/badge/macros-0.2-blue.svg

But home page of the project on GitHub where README.md displays this badge renderin

[2018-01-03 18:08] kailuowang commented on #514
neither are cats and scalaz

[2018-01-13 18:03] peter-empen commented on #509
Looking at this again, there is an improvement concerning 1. Did you change anything?
You mentiond a message"did you mean topic..." but I have never seen such a message in Firefox.

[2018-01-30 14:50] MasseGuillaume commented on #515
It looks like HTTP code 307 might be cached. I think the solution is to add [`cachingProhibited`](https://doc.akka.io/docs/akka-http/current/routing-dsl/directives/caching-directives/cachingProhibited.html) to the Bagde api https://github.com/scalacenter/scaladex/blob/master/server/src/main/scala/ch.epfl.scala.index.server/routes/Badges.scala#L57

[2018-01-30 14:53] #390 closed

[2018-02-05 16:46] SeZuo opened #518 "Can't type the letter 's' in search bar"
Copy-paste works, but typing letter s does not.

Every other key seems to work.

Tried using Dvorak and US layout on ch and jp keyboard.

My s-key works by the way, and it's not the same key on the dvorak and us layout.

[2018-02-05 16:50] MasseGuillaume commented on #518
Hum it looks like the culprit is https://github.com/scalacenter/scaladex/blob/master/client/src/main/scala/ch.epfl.scala.index.client/Client.scala#L149

if the searchbox is focused it should not prevent the default (typing s in the input box).

[2018-02-06 13:10] MasseGuillaume commented on #497
This should fix the issue: https://github.com/scalacenter/scaladex/pull/519

[2018-02-06 13:10] #497 closed

[2018-02-06 13:46] #515 closed

[2018-02-06 14:22] MasseGuillaume commented on #489
fixed in: https://github.com/scalacenter/scaladex/pull/519

[2018-02-06 14:22] #489 closed

[2018-02-07 19:44] wkomendera commented on #518
@MasseGuillaume, can I work on this ?

[2018-02-07 20:43] MasseGuillaume commented on #518
@wkomendera all yours!

[2018-02-07 22:06] MasseGuillaume commented on #518
fixed in https://github.com/scalacenter/scaladex/pull/520, thanks @wkomendera

deployed

[2018-02-07 22:06] #518 closed

[2018-02-13 01:54] SethTisue opened #521 "searching for utest shows me Scala 2.10 results"
if I search "utest" and then click on the top search result, I get taken to:

    https://index.scala-lang.org/lihaoyi/utest/utest-runner/0.2.4?target=_2.10

where's the `target=_2.10` coming from? this seems like a bug of some kind; utest is certainly available for newer Scala versions, and Scala 2.10 is very nearly dead these days so I wouldn't expect it to be the preferred version for Scaladex

[2018-02-13 02:00] SethTisue opened #522 "broken image link on utest page"
at e.g. https://index.scala-lang.org/lihaoyi/utest/utest-runner/0.2.4?target=_2.10

there is a broken image link pointing to https://index.scala-lang.org/lihaoyi/utest/utest-runner/docs/Splash.png which is 404.

[2018-02-14 08:45] MasseGuillaume opened #523 "badges 404"
[code]

[2018-02-14 08:46] MasseGuillaume commented on #522
This normally fix urls.
https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/github/GithubReadme.scala#L7

I have to investigate.

[2018-02-14 08:48] MasseGuillaume commented on #521
I selected the default artifact: utest and it's poiting to the correct release now: https://index.scala-lang.org/lihaoyi/utest/utest/0.6.3?target=_2.12

[2018-02-14 08:48] #521 closed

[2018-02-14 09:04] 2m commented on #523
If you add `Cache-Control:max-age=0` to the request, then it always succeeds.

[2018-02-14 09:54] #523 closed

[2018-02-16 23:55] MasseGuillaume opened #525 "dont lowercase the whole search"
https://github.com/scala/make-release-notes/issues/269#issuecomment-366392142

[2018-02-16 23:56] MasseGuillaume commented on #525
https://github.com/scalacenter/scaladex/pull/508

[2018-02-17 10:02] MasseGuillaume commented on #525
https://github.com/scalacenter/scaladex/commit/250b6983144fc193757e91ac875b5e2d0e7dc53a

[2018-02-17 10:02] #525 closed

[2018-02-17 10:02] MasseGuillaume commented on #330
https://github.com/scalacenter/scaladex/commit/250b6983144fc193757e91ac875b5e2d0e7dc53a

[2018-02-20 18:46] SethTisue opened #526 "needn't include old Scala milestones and release candidates"
continuing to list 2.12.0-M3, 2.12.0-RC1, and so on is just noise:

<img width="188" alt="screen shot 2018-02-20 at 10 43 42 am" src="https://user-images.githubusercontent.com/161079/36442570-11b052ac-162b-11e8-9cf2-ca33535b7a8f.png">

as for Scala 2.13, I would suggest that only the latest milestone (2.13.0-M3) is necessary to list, but keeping M1 and M2 around wouldn't be terrible.

[2018-02-21 21:27] Andrei-Pozolotin opened #527 "Project not detected: scalor-maven-plugin"
1. Project not detected: scalor-maven-plugin
https://github.com/random-maven/scalor-maven-plugin

2. Please let me know if this is an error I can correct myself?

[2018-02-21 21:30] MasseGuillaume commented on #527
You need to send a PR to https://github.com/scalacenter/scaladex-contrib

Le mer. 21 févr. 2018 à 22:27, Andrei Pozolotin <notifications@github.com>
a écrit :

--
-Gui

[2018-02-22 02:32] Andrei-Pozolotin commented on #527
ok, posted:
https://github.com/scalacenter/scaladex-contrib/pull/36

[2018-02-26 12:34] #527 closed

[2018-03-05 01:12] Sciss opened #529 "Cannot edit my project: ScalaCollider"
https://index.scala-lang.org/sciss/scalacollider/scalacollider/

even when logged in, I cannot edit this project, nor is it listed when I click on my projects. Don't know what's wrong here..

[2018-03-08 13:39] Atry opened #530 "Scaladex does not index new version of "com.thoughtworks.dsl" %% "dsl""
There are [`1.0.0-RC0`, `1.0.0-RC1`, and `1.0.0-RC2`](https://repo1.maven.org/maven2/com/thoughtworks/dsl/dsl_2.12/) version of `"com.thoughtworks.dsl" %% "dsl"` on maven central repository, but none of them are indexed by Scaladex:

* Broken links:
  * https://index.scala-lang.org/thoughtworksinc/dsl.scala/dsl/1.0.0-RC0?target=_2.12
  * https://index.scala-lang.org/thoughtworksinc/dsl.scala/dsl/1

[2018-03-15 18:35] MasseGuillaume commented on #530
Hum, it looks like we are missing some information: https://index.scala-lang.org/artifacts/thoughtworksinc/dsl.scala

I have a script to find those:
https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/central/CentralMissing.scala

I will run it next Monday.

[2018-03-26 15:56] jducoeur opened #534 "uPickle page getting a redirection loop?"
When I try to go to [the upickle-pprint project in Scaladex](https://index.scala-lang.org/lihaoyi/upickle-pprint), my browser (current Chrome, running on Windows) throws up an error:

The issue repros when I open an incognito window, so I don't *think* cookies are involved.

[2018-04-04 02:22] ktoso opened #536 "version badge shows old version"
This shows 10.0.13 now: [![Latest version](https://index.scala-lang.org/akka/akka-http/akka-http-core/latest.svg)](https://index.scala-lang.org/akka/akka-http)

` [![Latest version](https://index.scala-lang.org/akka/akka-http/akka-http-core/latest.svg)](https://index.scala-lang.org/akka/akka-http)`

While if you were to click that, you correctly get the 10.1.1 https://index.scala-lang.org/akka/akk

[2018-04-04 05:38] 2m commented on #536
Does it still show the old version? It shows up fine here: http://i.imgur.com/nuem1Fr.png

I guess the old version is cached somewhere.

[2018-04-04 10:53] MasseGuillaume commented on #536
If you are referring to: https://github.com/akka/akka-http,
GitHub use a proxy for image: https://help.github.com/articles/about-anonymized-image-urls/
This might explain the delay.

On our side, the caching should be correct: https://github.com/scalacenter/scaladex/pull/524

[2018-04-04 11:02] ktoso commented on #536
Oh, I see -- that seems to be the case.

Perhaps we should be using cache busters like ?t=21321323 in queries to the image then?

[2018-04-04 11:03] ktoso commented on #536
I did a PURGE and it helped.
Thanks, closing here then I guess.

[code]

Though the cache buster part still may be worth considering maybe

[2018-04-04 11:03] #536 closed

[2018-04-08 10:31] gvolpe commented on #530
Hi, I'm seeing a similar issue with `fs2-rabbit`. The latest version `0.5` has not been indexed by Scala Dex yet, though it's already on Maven Central since the 5th of April: http://search.maven.org/#search%7Cga%7C1%7Cfs2-rabbit

[2018-04-08 22:08] fommil opened #537 "weird search results"
I tried a few search results and am very disapointed by the results... is scaladex broken right now?

- json => giving me random libraries rather than the big hitters like: argonaut, circe, spray-json, play-json, jsoniter, upickle, ensime-json, etc etc
- emacs => these are nothing to do with emacs. Where are the emacs scala packages, CLI tools, and, of course, ensime?
- xml => where is any of the

[2018-04-09 08:38] MasseGuillaume commented on #530
@Atry looks like all the dsl artifacts are available now.

[2018-04-09 08:40] Atry commented on #530
Thank you! @MasseGuillaume

[2018-04-09 08:40] #530 closed

[2018-04-09 08:41] MasseGuillaume commented on #530
@gvolpe I'm taking a look at fs2-rabbit.

[2018-04-12 07:49] Atry commented on #530
The badge image is still not updated

https://index.scala-lang.org/thoughtworksinc/dsl.scala/dsl/latest.svg

[2018-04-12 10:03] MasseGuillaume commented on #530
@Atry

We favor latest stable over pre-release. For example, if you have 0.1.0 and 1.0.0-RC1 we will pick 0.1.0

You can change this behavior if you want to favour pre-release (ex: 1.0.0-RC1) by editing you project page:

I did it for you (You can't edit because of #316):

https://index.scala-lang.org/thoughtworksinc/dsl.scala/dsl/latest.svg?color=pink

![latest dsl](https://index.scala-lang.org/t

[2018-04-12 13:04] Atry commented on #530
Thank you!

I thought 0.x versions are not stable, too.

2018-04-12 18:03 GMT+08:00 Guillaume Massé <notifications@github.com>:

--
杨博 (Yang Bo)

[2018-04-19 06:45] gvolpe opened #538 "Scaladex does not index new version of "com.github.gvolpe" %% "fs2-rabbit""
I reported it a while ago on #530 but since it was closed and this is not yet resolved, I'm raising this issue here:

The latest version of `fs2-rabbit` 0.5 has not been indexed by Scala Dex yet, though it's already on Maven Central since the 5th of April: http://search.maven.org/#search%7Cga%7C1%7Cfs2-rabbit

[2018-04-25 10:20] ennru opened #539 "Latest version of akka/reactive-kafka does not show"
Reactive-kafka [was published on April, 6th](https://github.com/akka/reactive-kafka/releases) and is available from Maven central, but [Scaladex still lists 0.19 as the latest version](https://index.scala-lang.org/akka/reactive-kafka/akka-stream-kafka).

The Maven central badge correctly shows 0.20 as its current version.

[2018-05-01 21:46] Sciss commented on #316
Could this please be fixed, issue is open > 1 year. I still can't mark my projects as contributors-wanted, because only 20 out of 200 or so are editable. Thanks!

[2018-05-05 18:28] ShaneDelmore opened #540 "Feature Request: Try on scastie"
After finding a library on scaladex, it would be awesome if there were a tryout on scastie link that would launch a scastie session with the library loaded.

[2018-05-05 18:33] heathermiller commented on #540
THIS WOULD BE AMAZING!!

[2018-05-05 19:01] ShaneDelmore opened #541 "Feature Request: search by package/namespace"
Sometimes I don’t know the name of the library I want, or the library can’t be found (for example, maybe the name is super generic like twitter/util), it would be nice to be able to find packages using the format:
`com.twitter.util
Or
`cats.data.EitherT

[2018-05-05 19:49] ShaneDelmore commented on #541
Also, search for packages in the format they are displayed would help new users of scaladex.  If I manually search for finagle I will find twitter / finagle, then I can from there browse all twitter packages until I find twitter / util, however I cannot match twitter / util by searching for “twitter / util” or “twitter/util” which is confusing from a UI perspective.

[2018-05-14 23:28] hhandoko opened #542 "Project info is outdated"
A user pointed out differences in the quick start instructions for my library, and realised that the entry in Scaladex is outdated:

https://index.scala-lang.org/hhandoko/play2-scala-pdf/play2-scala-pdf

How do I update or sync the Scaladex entry?

[2018-05-29 08:19] Baccata opened #543 "Add "mill" tab for quick ivy dependency copy/paste"
Mill's syntax to set ivy dependencies in a project is very similar to Ammonite's, and the two are from the same author, so maybe they ought to be in the same tab.

But here's ammonite syntax for magic imports :

[code]

Here's mill's for ivy dependencies :

[code]

[2018-05-29 09:07] MasseGuillaume commented on #543
Hi @Baccata if you can create a pull request for this, it would be really appreciated. Here is the relevant code:

https://github.com/scalacenter/scaladex/blob/892b67c214b04e57fc535ff534f6b337ac6bcffa/model/src/main/scala/ch.epfl.scala.index.model/Release.scala#L47-L131

https://github.com/scalacenter/scaladex/blob/892b67c214b04e57fc535ff534f6b337ac6bcffa/template/src/main/twirl/ch.epfl.scala.inde

[2018-05-29 09:09] Baccata commented on #543
Cool, thanks for pointing me in to the right direction, I'll send PR as soon as I find the time

[2018-06-12 11:38] plokhotnyuk opened #545 "The RTree2D library that has been released a month ago is not indexed still"
https://github.com/Sizmek/rtree2d/releases

It is available on JCenter repo: http://jcenter.bintray.com/com/sizmek/rtree2d/

[2018-06-12 11:38] MasseGuillaume commented on #545
@heathermiller we need to rerun the Bintay indexing

[2018-06-12 11:43] plokhotnyuk commented on #545
Please, also, ensure that JCenter indexing work properly, because it has some defense against crawlers. Please spot `:` character in the "href" attribute:
[code]

[2018-06-12 11:45] MasseGuillaume commented on #545
@plokhotnyuk we use the rest api, we just need to run manually the Bintray indexing from time to time. If you publish to maven central, you get indexed in Scaladex right away.

[2018-06-12 11:54] plokhotnyuk commented on #545
Ok, thanks!

It would be great to automate Bintray scanning or clearly describe Maven Central and Bintray differences in Scaladex docs.

[2018-06-12 11:56] MasseGuillaume commented on #545
https://github.com/scalacenter/scaladex#how-it-works

[2018-06-12 12:23] plokhotnyuk commented on #545
In the readme it is stated: `Pull Bintray (once per day)`,  not `per month` or `manually by request`.

But,  any way, thanks for the all the great work you done!

[2018-06-28 16:02] kubukoz opened #546 "The "s" character doesn't work in artifact search"
Example: go to https://index.scala-lang.org/lloydmeta/enumeratum/enumeratum-circe/1.5.17?target=_2.12

Click "enumeratum-circe", start typing "enumeratum-slick" - you'll be moved to the main search bar and start searching.

Expected behavior: just input text into the artifact name search box.

Probably some change around https://github.com/scalacenter/scaladex/blob/master/client/src/main/scala/ch.

[2018-06-30 20:12] xingyif opened #547 "Consider adding giter8 templates alongside with libraries"
Refer to the discussion here: https://contributors.scala-lang.org/t/ideas-for-improving-giter8-templates-proposed-at-scaladaysberlin2018/2019

How often do people use scaladex to look up libraries? Is it a good idea to add templates alongside with the libearies?

Looping in @heathermiller @eed3si9n

[2018-06-30 20:22] MasseGuillaume commented on #547
I think this would make sense since a giter8 template is equivalent to a GitHub project.

I see 108 templates on GitHub:
https://github.com/search?l=Scala&o=desc&q=%2A.g8&s=stars&type=Repositories

[2018-07-01 01:54] xingyif commented on #509
@smarter @eed3si9n what's the decision on this? are we using `Stars` as the default sorting result?

[2018-07-01 04:21] eed3si9n commented on #509
If it's up to me I'd sort by GitHub stars, augment it with "featured" manual curation. But you'd have to ask someone from Scala Center, not me.

[2018-07-01 17:05] eed3si9n commented on #509
Using `topics=json` as suggested by the front page, and also by the "did you mean?" feature, it shows scalatra/scalatra on top using [Relevant](https://index.scala-lang.org/search?q=*&topics=json). Curiously json4s or circe is nowhere to be found in the first few pages.

Using [Stars](https://index.scala-lang.org/search?q=*&page=1&topics=json&sort=stars), scalatra/scalatra is still on top, but at

[2018-07-15 13:21] barambani opened #548 "Latest version not consistent."
I notice that the link below to one of our application

https://index.scala-lang.org/laserdisc-io/laserdisc/laserdisc-fs2

doesn't select the latest available version for it while a similar one linked by

https://index.scala-lang.org/laserdisc-io/laserdisc/laserdisc-core

correctly selects the latest (that at the time of this message is 1.4).
Do I have a workaround to force the page to always go t

[2018-07-15 13:35] MasseGuillaume commented on #548
Yes you can login via GitHub an edit to project to only use semantic version

[2018-07-15 20:11] barambani commented on #548
they both look on in the settings
<br>
<img width="519" alt="screen shot 2018-07-15 at 21 09 53" src="https://user-images.githubusercontent.com/201339/42737946-83a9fd8a-8873-11e8-961f-285559390c94.png">

[2018-07-28 11:16] MasseGuillaume opened #549 "Missing artifacts for Scala-Native"
http://search.maven.org/#search%7Cga%7C1%7Corg.scala-native
vs
https://index.scala-lang.org/artifacts/scala-native/scala-native

If we take the 0.3.8 release:

Scalac Plugins

* [X] nscplugin  Scala 2.11.8
* [ ] nscplugin  Scala 2.11.11
* [ ] nscplugin  Scala 2.11.12

Scala 2.12

* [ ] util
* [ ] tools
* [ ] nir
* [ ] test-runner

Scala 2.10

* [X] nir
* [ ] tools
* [ ] util
* [ ] test-runner

Nat

[2018-07-28 11:44] MasseGuillaume opened #550 "Project and artifacts are out of sync."
For example,

Scopt has Scala-Native artifacts: https://index.scala-lang.org/artifacts/scopt/scopt

But it does not list it on the project: https://index.scala-lang.org/search?q=scopt

This is because we get new releases from Maven-Central via the publish api but we do not update the project properly.

[2018-08-09 13:29] jendakol opened #551 "Search results relevance"
I think there is still place for better relevance detection for search results.
E.g. why https://index.scala-lang.org/search?q=http+client&targetTypes=Jvm&scalaVersions=2.12 gives `scala/scala` as the first (most relevant) result when it's definitely not an http client?

[2018-08-09 13:39] MasseGuillaume commented on #509
Let's keep one ticket for relevance: https://github.com/scalacenter/scaladex/issues/389

[2018-08-09 13:39] MasseGuillaume commented on #551
Duplicate of https://github.com/scalacenter/scaladex/issues/389

[2018-08-09 13:41] MasseGuillaume commented on #551
If you search for http-client: https://index.scala-lang.org/search?q=http-client&topics=http-client

Scaladex will propose you to use the topic http-client:  https://index.scala-lang.org/search?q=http-client&topics=http-client

[2018-08-09 15:21] jendakol commented on #551
Well, ok... With the topic it's much better.
But it still doesn't explain the "http client" <-> "scala" relation.

[2018-08-14 06:03] ShaneDelmore commented on #389
I attempted to work on this a couple of weekends ago and then forgot about it, and now I am out of motivation for the time being but I’ll share my thoughts anyway for what I found before I stopped due to not knowing how to inspect the contents of the index to see what to search on.

Multiple people have said something to the effect of “just rank by github stars” and the answer has often been “you

[2018-08-30 09:58] sideeffffect opened #552 "Scaladex doesn't pick up a new package"
It seems like Scaladex isn't picking up the new [`scalaz-zio`](https://github.com/scalaz/scalaz-zio), available at both
 * https://oss.sonatype.org/content/repositories/releases/org/scalaz/scalaz-zio_2.12/
 * https://repo.maven.apache.org/maven2/org/scalaz/scalaz-zio_2.12/

could you please explain to us what we're doing wrong?

in case it's relevant, there's already this on Scaladex https://index

[2018-08-30 11:05] MasseGuillaume commented on #552
I'm taking a look. I don't see anything out of the ordinary. 7mind is not the problem, I think we just did not receive the update from maven central.

[2018-08-30 12:32] MasseGuillaume commented on #552
Hum, it ended up in the scalaz project for some reason: https://index.scala-lang.org/scalaz/scalaz/scalaz-zio.

[2018-08-30 12:35] #330 closed

[2018-08-30 13:40] sideeffffect commented on #552
although I'm not 100% sure what's the meaning of the 3 level hierachy (I'm only familiar with 2 level hierarchies, as in GitHub for example), I believe that's wrong
it should be in `scalaz/scalaz-zio/whatever`
@jdegoes @NeQuissimus can you guys please confirm this?

[2018-08-30 13:45] NeQuissimus commented on #552
Yeah, that's weird... If you look through that page now, it lists the meta info for scalaz/scalaz but points to the ZIO artifact.
Something is definitely wrong :)

Is there anything we can do on the project side to fix this?

[2018-09-01 13:00] #537 closed

[2018-09-05 02:12] soronpo opened #553 "Feature request: ping registered library maintainers when dependencies are updated"
I think it would be nice if library maintainers can opt-in on a feature that e-mails them when one or more of their library's dependencies is updated. A related feature is to get an e-mail when all dependencies are updated to support a new Scala version.

[2018-09-06 20:09] mbeckerle opened #554 "Apache Daffodil (Incubating) not being found/incorporated into scaladex"
Seems it should be finding this automatically as it is served from maven central. There are two releases already there 2.1.0, and now 2.2.0.

However, I am unable to determine from what's written here whether there is a manual step required to edit claims.json, or what that edit entails.

The blog post that supposedly contains instructions on how to add a project is not very helpful. Begins with

[2018-09-07 08:37] MasseGuillaume commented on #554
This is because the `<scm>` tag of your POM does not point to a GitHub repository:

https://search.maven.org/classic/#artifactdetails%7Corg.apache.daffodil%7Cdaffodil-core_2.12%7C2.2.0%7Cjar

[code]

You can add a line to claims.json:

https://github.com/scalacenter/scaladex-contrib/blob/master/claims.json

[code]

[2018-09-07 13:41] mbeckerle commented on #554
Created PR for the claims.json line:

https://github.com/scalacenter/scaladex-contrib/pull/46

If someone would please merge it.

[2018-09-13 13:02] mbeckerle commented on #554
It has been over a week, and Daffodil still does not show up on Scaladex.  Besides the claims.json change is there something else that has to change.

We did not modify the pom.xml - I interpreted that as not necessary given the claims.json change. Am I incorrect here?

[2018-09-13 13:06] MasseGuillaume commented on #554
@mbeckerle hum, I will rerun the index.

[2018-09-13 21:56] mbeckerle commented on #554
So I detected that the site changed. Now says 6112 projects, yesterday it had 6111.

However, Daffodil is still not one of them.

[2018-09-15 02:24] SethTisue opened #555 "Scaladex is 502 at the moment"
when I go to https://index.scala-lang.org I just see "502 Bad Gateway nginx"

reported by @justinhj [on Gitter](https://gitter.im/scala/center?at=5b9c65438909f71f75d64c31): "Anyone noticed https://index.scala-lang.org/ is going down intermittently?
getting 502 Bad Gateway"

[2018-09-18 21:37] mbeckerle commented on #554
Hello? ApacheCon is next week, and I'd very much like to get Daffodil listed in the Scaladex before then.

[2018-09-19 12:41] MasseGuillaume commented on #554
It's now indexed at: https://index.scala-lang.org/apache/incubator-daffodil It looks like 2.12 artifacts are missing, I'm taking a look

[2018-09-19 14:18] mbeckerle commented on #554
Thanks. I see it is indexed. This is progress.

I am not visible as a contributor to this project once I am logged in, but it should recognize me as a contributor (I think) as I login to github with same ID for commits to this project.

I do not have any ability to edit. I'd like to add a link to our beginner-issues list, etc.

[2018-09-19 14:30] MasseGuillaume commented on #554
@mbeckerle we get this information from GitHub api.

Can you validate you are a contributor with:

https://developer.github.com/v4/explorer/

[code]

If you have a lot of private repository, we only fetch the first 100.

[2018-09-19 14:49] mbeckerle commented on #554
Results of that query are:
[code]

[2018-09-19 14:54] MasseGuillaume commented on #554
Issues are from Github label, since your issue tracker is on Jira it wont be picked up.

[2018-09-20 11:34] #555 closed

[2018-09-21 23:37] sideeffffect commented on #552
`scalaz-zio` got lumped up with other `scalaz` packages under `scalaz/scalaz`, which is obviously wrong.
it's a self-standing project, so it (`scalaz-zio` and `scalaz-zio-interop` to be precise) belongs to `scalaz/scalaz-zio`

@MasseGuillaume can you please help us out here? can you move it there yourself? or do you know who can?

[2018-09-27 07:30] MasseGuillaume commented on #541
Maven search has this functionality:

https://search.maven.org/classic/#search%7Cga%7C1%7Cfc%3A%22cats.data.EitherT%22

We could use their API from scaladex:

https://search.maven.org/solrsearch/select?q=fc:%22cats.data.EitherT%22

[2018-09-28 14:37] #540 closed

[2018-09-28 14:38] MasseGuillaume commented on #540
See it in action:
https://index.scala-lang.org/milessabin/shapeless/shapeless/2.3.3?target=_2.12

[2018-09-29 09:19] Atry opened #558 "Cannot login"
When I click the "Login" button on https://index.scala-lang.org/, I got the following error page:
[code]

[2018-10-01 16:10] ShaneDelmore commented on #540
That's pretty slick.  It initially confused me by adding shapeless to my previous worksheet instead of making a new one but that might be a nice behavior for adding multiple libs.

[2018-10-05 02:31] JohnReedLOL commented on #558
I also get an error when I go to https://index.scala-lang.org/ > Login

[https://i.imgur.com/FIdWF6B.png](https://i.imgur.com/FIdWF6B.png)

[2018-10-06 17:02] kubukoz opened #559 "Exception when trying to login"
org.json4s.package$MappingException: No usable value for pageInfo
No usable value for endCursor
Did not find value which can be converted into java.lang.String
	at org.json4s.reflect.package$.fail(package.scala:95)
	at org.json4s.Extraction$ClassInstanceBuilder.buildCtorArg(Extraction.scala:526)
	at org.json4s.Extraction$ClassInstanceBuilder.$anonfun$instantiate$4(Extraction.scala:546)
	at scala.c

[2018-10-06 17:04] kubukoz commented on #559
Sorry, duplicate of #558

[2018-10-06 17:04] #559 closed

[2018-10-24 15:39] OlegYch opened #560 "missing scala 2.12.7"
currently only 2.12.6 is available here https://index.scala-lang.org/scala/scala/

[2018-10-24 15:40] OlegYch commented on #560
this search request https://index.scala-lang.org/api/project?organization=scala&repository=scala&target=JVM&scalaVersion=2.12.7
and breaks search for eg parser-combinators on scastie

[2018-11-06 00:36] rodrigogdea opened #561 "Exception after login"
Im getting this error after login:
[code]

Regards,
Rodrigo.

[2018-11-06 12:21] kubukoz commented on #561
Is this the same as #558 ?

[2018-11-06 13:02] rodrigogdea commented on #561
I guess yes... To be more accurate, the problem occurs after github oauth vinculation.
Thanks!

[2018-11-14 14:21] fluency03 commented on #561
same issue here .

[2018-11-14 14:21] fluency03 commented on #558
same issue here .

[2018-11-19 17:47] #561 closed

[2018-11-19 17:47] #558 closed

[2018-11-19 21:39] fluency03 opened #563 "my multiple projects are not on scaladex"
Here's GitHub repos:

- [fluency03/scala-multicodec](https://github.com/fluency03/scala-multicodec)
- [fluency03/scala-multibase](https://github.com/fluency03/scala-multibase)
- [fluency03/varint](https://github.com/fluency03/varint)

Here's Maven centrals:

- [Maven central - scala-multicodec](https://search.maven.org/search?q=g:%22com.github.fluency03%22%20AND%20a:%22scala-multicodec_2.12%22)
-

[2018-11-20 09:48] Atry commented on #316
Hi, @julienrf , could you reopen this issue ? I still got a `Forbidden` error on https://index.scala-lang.org/edit/thoughtworksinc/deeplearning.scala.

[2018-11-25 00:42] sideeffffect commented on #552
@MasseGuillaume ping :)

[2018-12-11 11:00] julienrf commented on #546
Indeed there is a global event listener that changes the focus when the `s` key is pressed.

A solution could be to use a combination of keys, for instance “Ctrl + S”?

[2018-12-15 08:50] rusucosmin commented on #546
Opened #564 #

[2018-12-15 09:44] rusucosmin commented on #543
PR #565 opened.

[2018-12-15 10:14] julienrf commented on #546
Fixed by #564

[2018-12-15 10:14] #546 closed

[2018-12-15 14:51] julienrf commented on #452
Do we have an example of a README that uses relative URLs for images?

[2018-12-15 15:02] #543 closed

[2018-12-15 15:12] rusucosmin commented on #452
Yes, this [one](https://raw.githubusercontent.com/wix/accord/master/README.md): `[![Accord](assets/accord-logo-light.png)](http://wix.github.io/accord)`.
It looks [rendered](https://index.scala-lang.org/wix/accord/accord-core/0.6.1?target=_2.12) correctly.

I think the relative URLs are fixed [here](https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/gi

[2018-12-16 21:17] sideeffffect commented on #552
[`https://index.scala-lang.org/scalaz/scalaz-zio`](https://index.scala-lang.org/scalaz/scalaz-zio) still doesn't show anything
thanks for fixing this @MasseGuillaume @julienrf :)

[2018-12-17 08:30] #396 closed

[2019-01-02 12:31] Fristi commented on #91
Think this is done

[2019-01-02 12:31] #91 closed

[2019-02-02 17:46] oleg-py opened #567 "Monix 3.0.0-RC2 is missing"
Basically, as the title says. I frequently experiment with monix in Scastie, and I have to add dependency manually to build.sbt

[2019-02-26 20:44] sideeffffect commented on #552
@MasseGuillaume ping :)

[2019-04-01 13:13] OlegYch commented on #550
looks like the same issue here:
`https://index.scala-lang.org/api/search?q=scalaz&target=JVM&scalaVersion=2.12.8&total=2` lists just three artifacts
`https://index.scala-lang.org/api/project?organization=scalaz&repository=scalaz&target=JVM&scalaVersion=2.12.8` lists many more

[2019-04-04 13:53] sgdaw1041 opened #569 "broken link on scala-parser-combinators page"
Hi,
Encountered a broken link on https://index.scala-lang.org/scala/scala-parser-combinators/scala-parser-combinators/1.1.1

The 'getting started link' on page is broken and returns a 404 error. The faulty url  on your page leads to: https://github.com/scala/scala-parser-combinators/blob/master/docs/Getting_Started.md

After some rooting  around github, I found a "Getting Started" on github site a

[2019-04-07 17:54] Philippus commented on #569
maybe this line: https://github.com/scalacenter/scaladex/blob/master/data/src/main/scala/ch.epfl.scala.index.data/github/GithubDownload.scala#L282
assumes that the default branch is always "master". It is possible to get the default branch through graphql:

[code]
so it should be possible to fix this I think.

[2019-04-16 15:07] OlegYch opened #570 "try on scastie: library is not visible in scastie list"
i've added the support for proper request here: https://github.com/scalacenter/scastie/compare/ec8e03763148...c4540d2e9f00

we just need to pass `o=<organization>&r=<repository>` to scastie in addition to other parameters to fix it

[2019-05-08 15:49] eed3si9n commented on #389
It's now 2019. And clicking on the first topic from the front page [akka (110)](https://index.scala-lang.org/search?q=*&topics=akka), we still get odd results.

<img width="1210" alt="topics_akka_2019" src="https://user-images.githubusercontent.com/184683/57388150-a38c9800-7185-11e9-969c-ee8e6b7a74f5.png">

[json(85)](https://index.scala-lang.org/search?q=*&topics=json) not much better since it mi

[2019-05-08 17:48] eed3si9n commented on #389
Here's a back of the napkin weights I reverse engineered from looking at the ranking.
https://docs.google.com/spreadsheets/d/1L6IjOKJ67GjwiBdLGa8M7GSa_AU645WmtYpkXN4ujeY/edit#gid=0

<img width="994" alt="GitHub_relevance" src="https://user-images.githubusercontent.com/184683/57395672-b52a6b80-7196-11e9-9f71-9441ee5d1cae.png">

On the "name" column you get 10 points for exact match on the project n

[2019-05-11 17:17] eed3si9n commented on #389
I attempted to send a PR to implement the scoring formula - https://github.com/scalacenter/scaladex/pull/571
If someone could review and correct it that'd be great.

[2019-05-11 17:19] eed3si9n commented on #389
I also agree with @ShaneDelmore's comment about

Could someone show me how to cut those out?

[2019-05-19 18:16] halfninja commented on #514
Seems to be because it's marked as 2.13 only in [the results](https://index.scala-lang.org/search?q=shapeless) when it actually supports 2.10+

This is most annoying in Scastie where I can't add Shapeless as a library in a 2.12 worksheet. How has nobody else bumped into this?

[2019-06-03 08:47] pranjaliyer opened #572 "K Prototype is not working"
Hi,

K Prototype clustering is not working, or a notebook to implement it will be very helpful.

Thanks,
Pranjal Iyer

[2019-06-23 16:40] Atry commented on #563
The same problem for https://github.com/ThoughtWorksInc/dsl-domains-cats:

[![Latest version](https://index.scala-lang.org/ThoughtWorksInc/dsl-domains-cats/latest.svg)](https://index.scala-lang.org/ThoughtWorksInc/dsl-domains-cats)
[![Maven Central](https://img.shields.io/maven-central/v/com.thoughtworks.dsl/domains-cats_2.12.svg)](https://search.maven.org/artifact/com.thoughtworks.dsl/domains-cat

[2019-06-23 19:02] Atry commented on #539
Same bug for my library:
* Maven Central Badge: [![Maven Central](https://img.shields.io/maven-central/v/com.thoughtworks.dsl/dsl_2.13.svg)](https://search.maven.org/search?q=g:com.thoughtworks.dsl)
* Scaladex Badge: [![Latest version](https://index.scala-lang.org/ThoughtWorksInc/Dsl.scala/latest.svg)](https://index.scala-lang.org/ThoughtWorksInc/Dsl.scala)

[2019-06-24 06:20] ennru commented on #539
Yes, it is still wrong even after the rename of "reactive kafka" to Alpakka Kafka: https://index.scala-lang.org/akka/alpakka-kafka/akka-stream-kafka

[2019-07-03 08:35] julienrf opened #573 "The artifact/version/target dropdowns don’t show up anymore"
There used to be dropdowns allowing users to select a specific target, artifact or version:

![image](https://user-images.githubusercontent.com/332812/60576724-3b6dc300-9d7e-11e9-8180-c3828b982553.png)

I don’t see it anymore.

[2019-07-03 08:36] julienrf opened #574 "Unable to switch between tabs of the “install” section"
Clicking on the tabs of the install section has no effect.

![image](https://user-images.githubusercontent.com/332812/60576823-6ce68e80-9d7e-11e9-8159-ee68649252f7.png)

[2019-07-03 10:33] julienrf commented on #539
I’ve re-indexed the projects and now the latest releases are correct for these projects. I’m closing this issue.

[2019-07-03 10:33] #539 closed

[2019-07-03 10:35] julienrf commented on #567
RC3 is available. I’m closing this issue.

[2019-07-03 10:35] #567 closed

[2019-07-03 10:39] julienrf commented on #552
The zio artifact is correctly indexed: https://index.scala-lang.org/zio/zio/zio

[2019-07-03 10:39] #552 closed

[2019-07-03 11:14] ennru commented on #539
Thank you.

[2019-07-03 12:11] julienrf commented on #573
For some reason, redeploying the application fixed the issue.

[2019-07-03 12:11] #573 closed

[2019-07-03 12:11] julienrf commented on #574
Redeploying the application fixed the issue.

[2019-07-03 12:11] #574 closed

[2019-07-03 13:32] jdegoes commented on #552
@julienrf Thanks for the update and for looking into it! 🙏 🕺

[2019-08-02 17:31] OlegYch opened #575 "filter out artifacts by scala release"
https://index.scala-lang.org/api/search?q=json4s&target=JVM&scalaVersion=2.12.8
returns json4s artifact which has no releases for 2.12:
[code]

[2019-08-02 17:44] mwisnicki commented on #575
Cats has the same issue

[2019-08-04 22:59] exoego opened #576 ""Topics" in GitHub seems not fully indexed"
Scaladex allow users to filter dependency by "Topics".
I assume these topics are collected from "Topics" metadata in GitHub .
![image](https://user-images.githubusercontent.com/127635/62430298-97e54900-b755-11e9-9038-7be7ab787ef6.png)

However, it seems that Scaladex index only some part of GitHub topics.
`topics=scalafix` for example,
* https://index.scala-lang.org/search?topics=scalafix have onl

[2019-08-05 07:56] julienrf commented on #576
I guess this is because these projects are *not* indexed at all: https://index.scala-lang.org/DmytroMitin/AUXify

[2019-08-15 12:17] exoego opened #577 "Filters seems widening search instead of narrowing"
https://index.scala-lang.org/search?q=sbt-scalajs-crossproject shows an expected result (1 exact match project).
![image](https://user-images.githubusercontent.com/127635/63093873-b6dbaa80-bfa1-11e9-91c0-44d7d6501728.png)

However, if I use `Filters` in sidebar to narrow search results, it widen search results.
I think this is not an expected be behavior for search filters.
https://index.scala-lan

[2019-08-15 12:36] exoego opened #578 "Space-delimitted search query does not show some projects."
Multiple keywords delimitted by spaces are often used as search query.
[`aws client`](https://index.scala-lang.org/search?q=aws+client) are one example and it works in scaladex

However, some queries may not work.
One example is [`sbt-scalajs-crossproject portable-scala`](https://index.scala-lang.org/search?q=sbt-scalajs-crossproject+portable-scala ) showing 0 project.
However, [`sbt-scalajs-cross

[2019-09-30 15:12] julienrf commented on #577
I’m closing it since it’s a duplicate of #473, but thanks for the detailed report with screenshots!

[2019-09-30 15:12] #577 closed

[2019-10-08 12:20] julienrf commented on #550
Today, I’ve noticed that the latest version of `sttp` was not showing up in scaladex (https://index.scala-lang.org/softwaremill/sttp/core, Scala 2.13 is not listed as a possible target, and the last version listed is 1.1.4, although a 1.7.1 version has been published).

Interestingly, it seems that our server knows about that 1.7.1 release:

[code]

Running the indexing process does fix the proble

[2019-10-22 15:48] regadas opened #579 "Artifacts metadata outdated?"
I was looking @ https://index.scala-lang.org/twitter/algebird/algebird-core and metadata doesn't seem updated; latest version is 0.13.5 and it was release back in Nov 2018

[2019-10-23 08:09] julienrf opened #580 "bintray search is broken"
We see the following in the logs:

[code]

[2019-12-04 20:49] soronpo commented on #553
No need for this. Scala Steward is enough.

[2019-12-04 20:49] #553 closed

[2020-01-31 13:10] rubyfin opened #581 "Wrong 'Website' link on Scaladex for gvolpe / fs2-redis"
Looks like the correct url should be https://redis4cats.profunktor.dev/.
See here: https://index.scala-lang.org/gvolpe/fs2-redis/fs2-redis-core/0.7.0?target=_2.12

[2020-03-10 12:03] julienrf opened #586 "Unable to setup/deploy"
Sass is a pain in the sass to install. See https://github.com/scalacenter/scaladex/pull/582#issuecomment-590406140 for more context.

We should have a simple setup process that allows contributors to build the app in as few steps as possible and in an as portable way as possible.

[2020-03-10 12:56] julienrf opened #587 "Project Dependents Count is broken"
It always shows 0.

It should report the number of projects that depend on the current project.

[2020-03-10 13:07] julienrf opened #588 "Dropdowns for selecting artifacts or versions erase previous setting"
![Screenshot from 2020-03-10 14-01-16](https://user-images.githubusercontent.com/332812/76314723-a2615580-62d7-11ea-9336-b11f493094c3.png)

The three dropdowns on the top-right of the screen allow users to select a specific Scala version, artifact name or project version.

Unfortunately, when we select an option in one of those dropdowns, all the previously selected options are reset. A common sce

[2020-03-16 14:12] #331 closed

[2020-03-16 15:04] julienrf commented on #296
Duplicate of #403

[2020-03-16 15:04] #296 closed

[2020-03-19 12:28] danischroeter opened #596 "Latest version from foreign project"
see https://github.com/altoo-ag/akka-kryo-serialization/issues/207

https://index.scala-lang.org/altoo-ag/akka-kryo-serialization/akka-kryo-serialization
picks up a project with a different groupid and counts this as latest
[code]

the com.github.enalmada artifacts contain the code of io.altoo but the maven metadata is wrong.

I think sonatype should not have accepted this upload but more imporant

[2020-03-19 15:59] adpi2 commented on #389
Hello everyone,

I have made a first attempt to improve the scaladex search enging in this PR #597, that also ships the changes that @eed3si9n proposed last year. I would like people to test the result of this PR. I have deployed it in the staging environment so that you can compare with the current behaviour.
- staging: [https://index-dev.scala-lang.org](https://index-dev.scala-lang.org)
- prod:

[2020-03-19 16:15] sjrd commented on #389
I like it! It feels much better now!

[2020-03-19 16:27] julienrf commented on #389
Nice! The search results are great, but the search autocomplete is less usable than before :-/ For instance, you won’t get completion for shapeless unless you write “shapeless” (in production, you get completion as soon as you write “shapele”). That being said, this could be left for separate work.

[2020-03-19 16:31] eed3si9n commented on #389
@adpi2 Thanks for moving this forward.

[2020-03-19 16:35] adpi2 commented on #389
I totally agree with you @julienrf. So far, the exact same query is used for autocomplete and actual search which is, in my opinion, not a good idea. I think most of the false positive in the actual search was due to the autocomplete feature and I removed them. That's why the autocomplete is not working so well anymore. I will try to separate those two features while keeping consistency.

[2020-03-19 17:48] OlegYch opened #598 "Incorrect autocomplete if typing too fast"
If you type eg 'cats' on https://index.scala-lang.org/ you will see the result for 'ca' or 'cat', but not for 'cats', depending on which query completes the last.

![image](https://user-images.githubusercontent.com/268312/77098148-f29c8e00-6a22-11ea-89fa-b8ba03acea23.png)

[2020-03-19 17:51] OlegYch commented on #389
I like it. Autocomplete behaviour doesn't seem like a problem. There is an existing problem with it that makes it hard to use though https://github.com/scalacenter/scaladex/issues/598

[2020-03-20 16:04] adpi2 commented on #389
A second batch of improvements have been deployed to [https://index.scala-lang.org/](https://index.scala-lang.org/)

Once again I would be more than happy if you could report any bug, issue or regression related to those changes.

## Description

### English language analysis

I have used the powerfull `english` elasticsearch analyzer which:
- is case insensitive
- removes all punctuation:
  - "un

[2020-03-20 17:13] eed3si9n commented on #389
For "json" the regular search is now better than topic feature. Maybe it should stop suggesting "Did you mean topics=json?", and also the front page topics should be changed to search terms?

[2020-03-20 18:21] tpolecat commented on #389
Hi, I messed around with this for a bit and I agree the results are better but I think they're still too random to be useful for users who don't know what they're looking for. I don't think this is anyone's fault, it's just a very hard problem. I kind of wonder if we need something like "Editor's Picks" which highlight libraries that get a lot of mentions in the user survey or something.

Anyway h

[2020-03-20 22:01] eed3si9n commented on #389
@tpolecat I was comparing the new results against GitHub's search results earlier, and I think "database" is particularly a tricky one because it could either be literal database like H2 or database accessing library like doobie. Here's GitHub - https://github.com/search?l=Scala&q=database&type=Repositories

Re: slick/slick, I think it needs to improve the description from "Scala Language Integrat

[2020-03-23 11:03] #389 closed

[2020-03-23 11:11] adpi2 opened #601 "Improve autocomplete"
Autocomplete use the exact same query than actual search. It would be better if autocomplete had its own prefix query, trying to complete the last term.

[2020-03-23 11:15] adpi2 commented on #473
Resolved by #597

[2020-03-23 11:15] #473 closed

[2020-03-23 11:15] #586 closed

[2020-03-23 13:44] adpi2 commented on #389
Thank you @tpolecat for your valuable feedback and @eed3si9n for your contribution. There is still room for improvement and it is worth putting time and effort on this.

I think there are two challenges here. The first one is to come up to a good, reliable and easy to understand scoring algorithm for scala libraries. The second challenge is to encourage the library authors and maintainers to impro

[2020-03-23 14:35] tpolecat commented on #389
Indeed, it looks like keywords end up being extremely valuable, score-wise (although I don't actually know which other factors you look at).

| Repo | Stars | Mentions of "database" in README | Keyword? | Page |
|----|---|--|--|--|
| `tpolecat/doobie` | 1.6k | 1 | yes | 1 |
| `slick/slick` | 2.3k | 7 | no |4 |

Yes, I agree with this but I'm not a typical user. The user survey results might be a g

[2020-03-23 14:53] adpi2 commented on #389
The scoring function works approximately this way:
[code]

The weight of the readme is intentionally low because there is too much noisy information in it. Yet a readme that mentions the word `database` a dozen times, indicates that the library has something to do with databases.

[2020-03-26 13:12] #601 closed

[2020-03-26 17:49] SethTisue opened #605 "search results include duplicates"
for example, I searched "agent", and repos that were listed twice in the results included json4s/json4s and netlogo/netlogo:

<img width="297" alt="Screen Shot 2020-03-26 at 10 48 07 AM" src="https://user-images.githubusercontent.com/161079/77679237-81436a80-6f4f-11ea-94a0-034987e3fa71.png">

[2020-03-26 20:10] adpi2 commented on #605
Thank you @SethTisue . This bug is related to this old one #598 and so I close it.

[2020-03-26 20:10] #605 closed

[2020-03-26 22:22] SethTisue commented on #605
ah, I had not noticed that the results depended on how fast I typed!

[2020-03-27 12:09] #598 closed

[2020-03-27 15:22] olafurpg opened #607 "Improve search results for "test" and "testing" queries"
Followup of #389 but I opened a separate ticket to keep it focused on this specific query. As a beginner Scala users, I can imagine that I would like to search for testing libraries via Scaladex. Currently, the queries "testing" and "test" don't seem to return the most widely used testing frameworks at the top like ScalaTest, utest, ScalaCheck, JUnit and minitest.

https://index.scala-lang.org/sea

[2020-03-29 20:01] steinybot opened #608 "Invalid sbt versions in quick filters list"
There are two invalid sbt versions appearing the list of quick filters; 13.0 and 64.0.

<img width="824" alt="Screen Shot 2020-03-30 at 8 58 22 AM" src="https://user-images.githubusercontent.com/4659562/77859278-ec00e880-7264-11ea-92cb-740de7b04e01.png">

The metadata is coming from:

- https://index.scala-lang.org/foobarbuz/example/m/1.2.3?target=_2.11_13.0
- https://index.scala-lang.org/apache/i

[2020-03-30 10:32] adpi2 commented on #607
Thank you Olaf for opening this discussion.

My opinion is that the results of those two queries are not perfect but they are rather good:
- https://index.scala-lang.org/search?q=test
- https://index.scala-lang.org/search?q=testing

Indeed,
- they have almost the same results which is cool
- `typelevel/scalacheck` is 2nd, `scalatest/scalatest` is 3rd, `lihaoyi/utest` is 4th, `etorreborre/specs2` i

[2020-03-30 11:14] olafurpg commented on #607
I agree the non-topics results are OK. I think it's a good idea to remove the "did you mean TOPIC?" suggestions.

Do you know why spark-testing-base ranks higher than ScalaTest? I can imagine ScalaTest is more widely used (both within Spark community and outside of it).

JUnit is a Java library so I guess it makes sense that it's not included. I think it might be useful to return Java results in s

[2020-03-30 11:53] adpi2 commented on #607
The repository name field is analysed with the elasticsearch standard analyzer. It means that `spark-testing-base` is analysed [`spark`, `testing`, `base`] whereas `scalatest` stays `scalatest`. When searching with the prefix `test` or `testing`, `spark-testing-base` is matched but not `scalatest`. Hence the repository name is boosted, `spark-testing-base` appears first. More information on the sc

[2020-03-30 12:01] adpi2 opened #609 "Remove "Did you mean topics=...?""
As pointed out by @eed3si9n  [here](https://github.com/scalacenter/scaladex/issues/389#issuecomment-601814721), topics filters are less relevant than text search. We should remove the "Did you mean topics=...?" feature.

[2020-03-30 12:33] olafurpg commented on #607
Fair enough. Closing this since the results are already good enough 👍

BTW, nice job with the search improvements! Really great to see Scaladex get some love again 😄

[2020-03-30 12:33] #607 closed

[2020-03-30 16:40] adpi2 commented on #551
Search relevance has been improved since then, by #597.
@jendakol, you should give it a second try.

[2020-03-30 17:39] #551 closed

[2020-03-31 06:46] #480 closed

[2020-03-31 13:04] sjrd opened #611 "Improve Scala.js versions"
* The 0.5 target has been obsolete for 5 years. We should remove it.
* The 1.0 target also includes libraries that have published for milestones and RCs of 1.0.0, which are not relevant anymore.
* 1.0 should actually read 1.x, and apply to 1.1.0 and any future 1.x version.

[2020-04-01 12:33] #609 closed

[2020-04-09 08:18] #526 closed

[2020-04-09 08:18] #608 closed

[2020-04-09 08:18] #611 closed

[2020-04-17 11:42] #471 closed

[2020-04-20 20:31] OlegYch opened #617 "Search api is broken"
`https://index.scala-lang.org/api/search?q=cats&target=JVM&scalaVersion=2.13.1`
returns 400 `something is wrong: None 2.13.1 None None None`

[2020-04-20 22:24] OlegYch commented on #617
cc @adpi2

[2020-04-21 07:22] adpi2 commented on #617
@OlegYch thank you for reporting. I think the search api is still working fine.
However `2.13.1` does not look like a valid Scala binary version. There should be no `cats` library and no other library published for Scala `2.13.1`, they all should be published for Scala `2.13` instead.
You should try this request: `https://index.scala-lang.org/api/search?q=cats&target=JVM&scalaVersion=2.13`

[2020-04-21 10:34] OlegYch commented on #617
it was working before...
just want to make sure that this change was intentional

[2020-04-21 12:57] adpi2 commented on #617
You are right. We intentionally changed the spec of the search API to make it easier to maintain.

[2020-04-21 12:57] #617 closed

[2020-04-21 13:06] OlegYch commented on #617
what if i want to search for library published against full scala version? eg kind-projector

[2020-04-21 13:51] sjrd commented on #617
That's then a compiler plugin, not really a library. We don't have a good solution for them at the moment. AFAIK kind-projector is the only compiler plugin that does not have an associated regular library. I thought there wasn't any, but you reminded me of kind-projector. I'm not sure what to do about that at the moment.

[2020-04-21 14:38] OlegYch commented on #617
ok, thanks

[2020-04-24 14:16] adpi2 opened #619 "Slowness when loading scalatest page"
When querying a project page all the project's releases are loaded. In the case of `scalatest/scalatest` this is very slow because of the number of releases (2820) and the number of dependents (287650).

This is counterproductive because only the dependents of the default release are kept. I suggest to remove the `reverseDependencies` field in the `Release` class and to compute the number of depen

[2020-05-02 12:38] exoego commented on #578
This seems resolved.
The above mentioned queries now both 1 or more search results.

[2020-05-02 12:38] #578 closed

[2020-05-25 19:19] LeeTibbert opened #620 "dirty-money copy button gives obsolete version"
First, thank you for providing a place to find up-to-date information.

In the spirit of continuous improvement:

I tried using the `copy` button in the `Documentation` section on the far right of
the `dirty-money` page  to get the sbt text to cut & paste.  Neat feature! and useful.

I believe the information that goes into the clipboard is obsolete.  It is at
the far right of the text box, so eas

[2020-05-25 19:29] LeeTibbert commented on #620
The ReadMe.md and CONTRIBUTING.md seem to give info for changing the bits
of scaladex itself; the tool not the data output.

The issue I described has to do with the content generated for
one item (and possibly others).   If I am reporting that data error in the wrong place,
please kindly re-direct me & sorry for the noise.

[2020-05-26 08:13] adpi2 commented on #620
Thank you @LeeTibbert for reporting this issue and offering your help.

The indexing of new artifacts in Scaladex is automated by either Scaladex pulling from Bintray or Maven pushing to Scaladex.

In this case, the release `0.2.0` of the artifact `sbt-dirty-money` has been published to Bintray in Feb 2018 but is still missing in Scaladex. So something has gone wrong when Scaladex tried to pull it

[2020-05-27 09:19] adpi2 commented on #620
The `sbt-dirty-money`is publsihed to a Bintray repository called `sbt-plugin-releases` that is not automatically sync to Scaladex. So I will try to import the full repository to Scaladex in forthcoming days.

[2020-05-30 17:25] LeeTibbert commented on #620
@adpi2  Thank you for your rapid & helpful action.   I have had my head down chasing some bugs
and have been tardy expressing my appreciation.

Over my time of using Scaladex I have discovered few discrepancies. If I do discover such, how should I report them?  Same way as this one?    I saw nothing on the quite elegant web page
describing reporting errata. Sorry if I missed the Big Red Button.

F

[2020-06-02 12:49] adpi2 commented on #620
Hello @LeeTibbert,

I have submitted #622 for being able to import all the sbt-plugins that have been published to the [sbt/sbt-plugin-releases](https://bintray.com/sbt/sbt-plugin-releases) Bintray repository.

Unfortunately there is no Big Red Button. So I encourage you to report any discrepancies to the [Issues section](https://github.com/scalacenter/scaladex/issues) of this respository, as you

[2020-06-04 11:26] oswaldo opened #623 "Stack trace is printed when some exception is thrown on scaladex"
Just saw an exception that happened for a few minutes and now is ok again.

Still, I'm writing this as a suggestion that maybe there should be some nice looking 500 "we are working on it" page instead of the output I got below clicking on any artifact link:

[code]

[2020-06-04 11:34] adpi2 commented on #623
Thank you @oswaldo for reporting this issue. A nice looking Error 500 page would be very nice to have!

[2020-06-08 09:57] #620 closed

[2020-06-12 14:22] adpi2 commented on #550
I close this issue because all the missing artifacts and releases are now correctly listed.

[2020-06-12 14:22] #550 closed

[2020-06-17 07:19] #619 closed

[2020-06-20 18:24] MaximeKjaer opened #625 "GitHub avatar images should be lazy-loaded in the correct size"
Currently, GitHub avatars on the front page of <https://index.scala-lang.org/> shown in 28x28px, but are loaded in full resolution. These images make up about 760KB of the total transferred 1.8MB.  To significantly reduce the transferred size of the images, a `s=28` query parameter can be added to the image URLs.

Additionally, as these images are non-critical content, they should be loaded lazily

[2020-07-02 20:15] OlegYch opened #626 "Missing artifacts in search api"
Eg https://index.scala-lang.org/api/search?q=zio&target=JVM&scalaVersion=2.13
returns
[code]

[2020-07-03 08:03] adpi2 commented on #626
@OlegYch Thank you for reporting this.

[2020-07-05 08:03] plokhotnyuk opened #627 "Missing supported scala versions for some projects"
As example, jsoniter-scala is released for Scala 2.11.x, 2.12.x from the first release but [the Scala Index have stopped showing that](https://index.scala-lang.org/search?q=jsoniter-scala):

![image](https://user-images.githubusercontent.com/890289/86528378-93666a80-bea7-11ea-8fce-6467dc4c1921.png)

[2020-07-07 07:37] adpi2 commented on #626
I have looked into the database:
- all the releases of the project zio are correctly indexed and you can find them when you go to [zio project page](https://index.scala-lang.org/zio/zio/zio-test/1.0.0-RC21?target=_0.23)
- the project metadata are wrong because it contains only one release: `zio-test_sjs1_2.13`

I suspect that the latest maven release has erased all previous metadata of the project

[2020-07-07 07:38] adpi2 commented on #627
Thank you for reporting this.

The root cause is the same as #626. I'll see what I can do.

[2020-07-08 11:43] #626 closed

[2020-07-08 11:43] #627 closed

[2020-07-08 16:40] adpi2 commented on #627
The bug is fixed and Scaladex has been redeployed.

[2020-07-08 16:40] adpi2 commented on #626
The bug is fixed and Scaladex has been redeployed.

[2020-07-11 19:39] mgenereu commented on #626
Thank you!

[2020-07-13 13:03] LeeTibbert commented on #620
@adpi2  Thank you for fixing the issue with dirty-money I reported.  I am late to the party but I can
confirm that scaladex is now reporting the correct latest version.

I seldom encounter issues with scaladex but will continue to report them as I find them.  I appreciate
your description of the Issue reporting procedure & the invitation to contribute.  I am an active
contributor on another ScalaC

[2020-07-27 09:47] adpi2 opened #629 "Update readme for scaladex repo:"
Please update readme for scaladex repo:

"Sbt Plugins: We index sbt plugins published to sbt/sbt-plugin-releases add your plugin to claims.json"

https://github.com/scalacenter/scaladex/blob/master/README.MD

_Originally posted by @andriimartynov in https://github.com/scalacenter/scaladex-contrib/pull/58#issuecomment-664233784_

[2020-08-27 04:54] antekone opened #630 ""Page doesn't redirect properly" on lihaoyi/upickle-pprint"
This URL:

https://index.scala-lang.org/lihaoyi/upickle-pprint

When entering, it will send a HTTP redirect header to `/lihaoyi/upickle`. After following this header, the HTTP server will send another HTTP redirect to `/lihaoyi/upickle-pprint`, entering an unlimited loop.

Firefox detects the redirect loop and breaks it, ending with "This page doesn't redirect properly" error, but it's impossible

[2020-08-27 07:00] adpi2 commented on #630
Thank you for catching this error. I will have a look!

[2020-11-10 12:23] adpi2 commented on #630
Apparently the `upickle-pprint` repo was renamed `upickle`. There is yet to find why this is causing this error and how to fix it.

[2020-11-10 12:35] adpi2 opened #634 "Rename "dotty" family to "scala3""
In the front page and the search page, the `dotty` family name should be renamed `scala3`.
![Screenshot_2020-11-10 Scaladex](https://user-images.githubusercontent.com/13123162/98674578-4c0e5000-2359-11eb-995e-d5663ad2defd.png)
In the search page:
![Screenshot_2020-11-10 Search cats](https://user-images.githubusercontent.com/13123162/98674596-53355e00-2359-11eb-91bc-455891e52b20.png)
![Screenshot_2

[2020-11-10 12:39] adpi2 opened #635 "scala3- <compiler / library> artifacts are not indexed"
In https://index.scala-lang.org/lampepfl/dotty/, the `scala3-library` and `scala3-index` are not indexed.

- Did Maven Central pushed them?
- Are they present in the prod `scaladex-index` files?
- Did the indexing in elasticsearch fail?

[2020-11-10 12:42] adpi2 opened #636 "Add a compatibility grid button in the project page"
In a project page, for instance https://index.scala-lang.org/typelevel/cats, add a button to go to the compatibility grid page of the project https://index.scala-lang.org/artifacts/typelevel/cats.

In the compatibility grid page add a button to go back to the project page.

[2020-11-10 12:49] adpi2 opened #637 "3.0.0-M1 binary versions are not appearing"
In the project page, for instance https://index.scala-lang.org/typelevel/cats, the scala 3.0.0-M1 binary versions are not appearing:

For the cats project we would like to see the `3.0.0-M1` version of `cats-core` for instance.
https://repo1.maven.org/maven2/org/typelevel/cats-core_3.0.0-M1/

Is the artifact stored in the prod `scaladex-index` folder?
Is it indexed in elasticsearch?

[2020-11-10 12:53] adpi2 opened #638 "Add filters in the compatibility grid page"
Mimic the target and binary version filters in the search page (https://index.scala-lang.org/search?q=cats) to filter the versions that are shown in the compatibility grid page: https://index.scala-lang.org/artifacts/typelevel/cats

Also add a version filter to filter on the version of the library.

[2020-11-10 12:57] adpi2 opened #639 "Artifact dependency list is broken"
The Scala dependencies are not shown correctly:

For example the https://index.scala-lang.org/typelevel/cats/cats-core/2.3.0-M1?target=_0.27 shows

![Screenshot_2020-11-10 typelevel cats(1)](https://user-images.githubusercontent.com/13123162/98676930-90e7b600-235c-11eb-8528-67cc7ac924f5.png)

[2020-11-10 14:43] adpi2 commented on #630
There was two redirections in the `scaladex-index/github/moved.json` file:
[code]
I don't really know how this was inserted but it clearly caused a loop of redirection.

I removed the `"lihaoyi/upickle-pprint":"lihaoyi/upickle"` to fix it for now on.

If at some point it appears again, then it would mean there is something wrong with `lihaoyi/upickle` pom files.

[2020-11-10 14:43] #630 closed

[2020-11-10 18:46] #636 closed

[2020-11-11 13:11] #634 closed

[2020-11-11 13:11] #635 closed

[2020-11-11 13:23] tgodzik commented on #637
@adpi2 I think we should be ok to close this too.

[2020-11-11 13:27] #637 closed

[2020-11-11 13:31] #638 closed

[2020-11-16 17:30] bishabosha opened #645 "not enough space in typelevel/cats header"
<img width="1071" alt="Screenshot 2020-11-16 at 18 28 10" src="https://user-images.githubusercontent.com/13436592/99286693-7ec4b680-2839-11eb-992a-98610c13708b.png">

when I made the version matrix button originally, I did not expect that there could be badges as well

[2020-11-17 13:38] adpi2 commented on #645
I've just reworked the project header UI.

You can see the result:
https://index.scala-lang.org/typelevel/cats/cats-core/2.3.0-M1?target=_0.27

[2020-11-17 13:39] #645 closed

[2020-11-17 14:17] bishabosha commented on #645
awesome

[2020-12-16 15:19] adamw opened #646 "sttp is not listed as scala3-compatible"
While it is :) https://github.com/softwaremill/sttp

sttp-model and sttp-shared are properly listed as compatible.

[2020-12-16 15:59] adpi2 commented on #646
Thanks for raising this and thank you for the effort you put in the Scala 3 migration.

As far as I can tell, `sttp` is not published on Scala `3.0.0-M1` or `3.0.0-M2`.

We  (the Scala Center) recently decided to exclude all the Dotty versions (of the form `0.x.y`) from the list of `scala3` projects in Scaladex to avoid some confusion. Also we encourage library maintainers to try the upcoming `3.0

[2020-12-16 15:59] #646 closed

[2020-12-16 19:49] adamw commented on #646
Ah makes sense. I totally forgot that I didn't deploy for 3.0.0-M1 as I was waiting for ZIO 🤦 sorry for that :) And thank you for the explanation

[2021-02-15 10:27] adpi2 opened #653 "Releases count is capped at 10000"
Since the upgrade of elasticsearch from 5.6 to 7.10.2 the count of releases that appears in the [front page](https://index.scala-lang.org/) is now capped at 10000 which is wrong.

[2021-02-15 17:28] adpi2 opened #654 "search API cannot parse scalaVersion=scala3"
https://index.scala-lang.org/api/search?target=JVM&scalaVersion=scala3&q=cats&page=1

[2021-03-21 21:14] nafg opened #657 "github.com/nafg repos are stale"
https://index.scala-lang.org/nafg/slick-migration-api/slick-migration-api is way outdated, and many other repos are missing

[2021-03-21 22:12] SethTisue commented on #657
(I don't maintain Scaladex, but) I was looking for clues as to what the cause might be, and I noticed that Scaladex's suggested sbt incantation is:

[code]

I wonder if this is somehow a Bintray vs. Sonatype issue. The library is available on Maven Central, as we see at e.g. https://search.maven.org/artifact/io.github.nafg.slick-migration-api/slick-migration-api_2.13/0.8.2/jar

did the way you pub

[2021-03-21 23:14] nafg commented on #657
No it changed long after that. Up to 0.8.0 was published to bintray. Also
it's synced to jcenter.

On Sun, Mar 21, 2021, 6:12 PM Seth Tisue ***@***.***> wrote:

[2021-03-22 09:14] adpi2 commented on #657
Thanks for reporting.

The bintray repos have not been synced since Sep 2018 and I cannot promise anything on when we will try to run this again.

If your libraries are published to Maven Central they should be automatically indexed in Scaladex. But it seems that the `scm` field in the pom file points to gitlab rather than github. That could explain why they do not appear in the project page. You

[2021-04-06 13:55] bbarker opened #658 "Type-based search akin to Hoogle or Pursuit"
This idea was [previously mentioned](https://github.com/scalacenter/scaladex/issues/84#issuecomment-226818892) in another issue, but I wanted to bring it up here - if there's a better forum for this kind of discussion, please point me in that direction.

I think it would be excellent for the community if Scaladex could have search functionality similar to https://hoogle.haskell.org/ or https://pur

[2021-04-25 08:39] rtyley opened #659 "Scaladex badge that supplies info on supported Scala versions"
As a user of Scala libraries, when I come to a project on GitHub I want to know:

*  what's **the latest version of Scala** that it supports, and **the corresponding artifact version**
* ...when I'm not on the latest version of Scala, what's the **latest available artifact version for that _legacy_ version of Scala**

As a _developer_ of Scala libraries, I know that keeping the information up to d

[2021-04-25 19:58] lefou commented on #659
Wow, that's a rather large badge. How about providing multiple badges (per platform) to avoid merging too much info into one badge. It's not only the length, but also small font and the low contract which makes a too long badge hard to read and even harder to quickly find the wanted info.

[2021-04-25 21:19] rtyley commented on #659
Badge per platform (JVM, JS, Native) is a very good idea! :+1:

[2021-04-26 07:42] adpi2 commented on #659
Thanks for opening this request! I also think that having one badge per platform is a good idea.

If by any chance someone is willing to implement that feature, it would help us a lot. A good entrypoint is [here](https://github.com/scalacenter/scaladex/blob/main/server/src/main/scala/ch.epfl.scala.index.server/routes/Badges.scala).

[2021-04-26 11:05] rtyley commented on #659
Sure, I'll take a look :+1:

[2021-04-26 12:05] rtyley commented on #659
I think, to work on this PR I'll need to be able to run Scaladex locally, as described in [`CONTRIBUTING.md`](https://github.com/scalacenter/scaladex/blob/main/CONTRIBUTING.md) - unfortunately, I get several errors following those steps (full console log is here: https://gist.github.com/rtyley/a3b4c85edbd57066594ddbf11664bbc7):

... @adpi2 does any obvious fix jump out at you from those errors? Th

[2021-04-26 12:38] adpi2 commented on #659
Scaladex has failed to find a docker environment to start elasticsearch:
- Do you have `docker` installed locally? Does your user have the right to start a container?
- Otherwise, do you have `docker-machine` installed? Have you defined a default machine?

In my case it was easier to install docker on my machine.
If you don't want to use docker you can start elsaticsearch by yourself and modify th

[2021-05-03 14:37] rtyley commented on #659
I've opened a PR at https://github.com/scalacenter/scaladex/pull/660 to add the new badge (with separate badges for different platforms, as [suggested](https://github.com/scalacenter/scaladex/issues/659#issuecomment-826381083) by @lefou).

[2021-05-14 08:00] julienrf opened #664 "Scala 3.0.0 is not shown"
![Screenshot from 2021-05-14 09-55-20](https://user-images.githubusercontent.com/332812/118240035-cbace100-b49a-11eb-8706-becf7dc7debd.png)

Releases for Scala 3.0.0-RC3 are shown but not for 3.0.0.

[2021-05-28 21:04] #579 closed

[2021-06-07 13:11] adpi2 commented on #664
Fixed by Sonatype

[2021-06-07 13:11] #664 closed

[2021-06-11 09:23] adpi2 opened #672 "scala3-compiler version 3.0.1-RC1 not shown"
In the [lampepfl/dotty](https://index-dev.scala-lang.org/lampepfl/dotty/) page, the version 3.0.1-RC1 is not shown in the version dropdown.

However the badge is correct:
![image](https://user-images.githubusercontent.com/13123162/121664088-681cd000-caa7-11eb-8800-cd693e5b6dc4.png)

[2021-06-11 09:25] adpi2 commented on #672
Oh wait, actually I am wrong. I was looking at the dev site which use a different index.

[2021-06-11 09:25] #672 closed

[2021-06-30 15:10] adpi2 commented on #658
Thanks for pushing this idea.

There is a plan currently to add this kind of search functionnality in scaladoc (Scala 3) using [Inkuire](https://github.com/VirtusLab/Inkuire). Then it might not be too hard to integrate it as well in Scaladex.

See https://github.com/lampepfl/dotty/pull/12375

[2021-07-12 19:49] jphmrst opened #682 "Project on maven not found/indexed on Scaladex"
I've been trying to push a couple of small projects out, but scaladex doesn't seem to be picking them up.  Looks like they are on Maven, but after several days I don't see them on any scaladex search.

For example:  [this Github repos](https://github.com/jphmrst/scala-latex) shows up [here on Maven](https://repo1.maven.org/maven2/org/maraist/scala-latex/).

Is the push from maven to scaladex still

[2021-07-13 09:33] adpi2 commented on #682
Sonatype uses the binary version pattern of the artifact name to determine if an artifact is a Scala one or not. Here `scala-latex` don't have a binary version because of this setting in the build definition:
[code]

So it is not automatically pushed by Sonatype to Scaladex.

1. The easy solution would be to remove the `crossPaths := false` setting and publish a new version of the library.
2. The

[2021-07-13 17:26] jphmrst commented on #682
Thanks --- I'm trying (1) now.  Should it matter whether the build file sets `crossPaths := true`, or just leaves the line out entirely?

[2021-07-13 18:29] jphmrst opened #685 "Contributing updated FAQ"
I've updated the Scaladex FAQ with what I wish in retrospect I had known before trying to push my stuff to it.  There's good documentation out there, but also lots of outdated garbage, and it's tricky to tell the two apart starting just from the Scaladex front page.  So I've tried to make the FAQ a bit more forthcoming about how it works and how to find the real docs.

There's no good way to make

[2021-07-14 14:27] adpi2 commented on #682
`crossPaths := true` is the default value so you don't need to set it in your build.sbt file

[2021-07-14 17:22] jphmrst commented on #682
Working now --- thank you!

[2021-07-14 17:22] #682 closed

[2021-08-12 09:28] #654 closed

[2021-08-13 13:17] vincenzobaz opened #690 "Expose a `/release` endpoint"
Some Scastie bugs related to library dependencies arise from the need to query the releases available for a given project.

 - https://github.com/scalacenter/scastie/issues/471
 - https://github.com/scalacenter/scastie/issues/392

The ideal way to solve these issues would be to query a `/release` endpoint exposing the required information

[2021-08-14 17:04] rtyley opened #692 "Scala 2.12, 3 artifacts for latest typelevel/fs2/fs2-core release are missing"
On https://index.scala-lang.org/typelevel/fs2/fs2-core/3.1.0 only the Scala 2.12 artifact is present, but unfortunately the Scala 2.13 & 3 artifacts are missing:

![image](https://user-images.githubusercontent.com/52038/129453169-e22650df-3462-4c80-9fda-c185b188a1d6.png)

Those artifacts were successfully released, so far as I can see:

* https://search.maven.org/artifact/co.fs2/fs2-core_2.13/3.1.

[2021-08-16 09:08] adpi2 commented on #692
@rtyley thanks a lot for opening this issue.

As far as I can see from the logs, all the 3 releases were added into elasticsearch at about the same time:

[code]

The total number of artifacts for the fs2 project is 5417 and the problem is there is hard limit of 5000 releases that are displayed to the user. Unfortunately this filters out the most recent ones.

https://github.com/scalacenter/scalad

[2021-08-16 09:18] #692 closed

[2021-08-16 09:42] rtyley commented on #692
Thanks @adpi2 ! Wow, that's a lot of artifacts! I wonder if it's worth adding a descending sort on the `created` field too, as I guess users are usually most interested in the most recent releases?

[2021-08-16 10:13] adpi2 commented on #692
I wondered the same. I am not sure if it's a good idea because some organizations are stuck on old versions. I hope it is always possible to show all artifacts and if it is not maybe we could page it.

In the case of fs2 specifically I see there are a lot of intermediate versions like `3.0-fe9753c` which explain why there are so many artifacts. Maybe we don't need them and we should filter them ou

[2021-09-29 14:29] mlachkar opened #719 "Improve BadgesSupport and show more badges"
Right now we only show one badge on the project page which is the latest-by-scala-version.svg badge, but we also have a smaller badge which only displays the latest version for an artifact that people may prefer.

It could be interesting to show on the project page more badges and let the user choose the one they want to add on their project page.

[2021-10-07 14:44] #625 closed

[2021-10-08 12:03] mlachkar opened #726 "Authentication issue on preprod/dev"
The configuration in application.conf for oath2 is the one for prod. We need to have a specific one for preprod/dev.

[2021-10-08 12:28] mlachkar opened #727 "Scaladex publishing tweets to highlight some projects"
We would like to highlight some projects that deserve more attention or just some recognition.
We still need to think about the criteria.

How it will work:
- Following some criteria, scaladex choose one project to tweet about following some automatic template.
- This tweet can be validated through slack or other place (admin page)
- Scaladex publish the tweet using it's own account.

[2021-10-08 12:33] mlachkar opened #728 "Most used projects/libraries"
This feature is interesting but doesn't move much since we take into account every release we have received since 5 years or more.

Now the goal is to propose a dropdown :
- most used of all time
 - most used of 2020
 - most used this year
 - most used year YEAR

 This way we can have some trends with libraries

[2021-10-19 02:06] SethTisue opened #730 "Scaladex should know the minimum required Scala 3 version of a library"
As of Scala 3.1, we are now in a new world where there might be a `_3` library out there, but I can't use it (without first bumping my Scala version) because (e.g.) the library author published it using Scala 3.1 but I'm still on 3.0.

Thus, it would be nice if Scaladex could tell me what Scala 3 minor version a library was published with.

Scaladex probably isn't the _only_ place where this requi

[2021-10-23 14:13] mfirry opened #731 "[server]: remove dependency from play-json"
I think it's fairly easy to "clean up" and remove the dependency from play-json (and use json4s everywhere).

For what I've seen, play-json is only used in `SearchApi`.

Is this something useful? Would a PR be accepted?

Thanks.

[2021-10-24 14:00] #731 closed, assigned to nobody

[2021-11-24 14:20] mlachkar commented on #653
It's fixed now with postgresql

[2021-11-24 14:20] #653 closed

[2021-11-24 14:33] mlachkar opened #744 "Find a solution for renamed github project"
Right now when a project is renamed, it's written on a file and this file need to be re-read every time to know what is the new organization or repository name are. It doesn't work all the time and instead of investing in fixing this feature, we would like to use the database now to encode the rename operation.

[2021-11-24 14:38] mlachkar opened #745 "the button Myproject give a non expected result."

[2021-11-24 14:39] mlachkar opened #746 "Deploy develop branch to production - Remaning tasks"
We have been working actively on scaladex since August and the goal is to change some architecture design decisions that were blocking us from fixing some features. The work is still in progress but the goal of this ticket is to list the remaining tickets that are necessary before pushing to prod.

- [x] github synchronization #743
- [x] Fixe renamed projects and make sure that the claims mechanis

[2021-12-02 09:05] adpi2 commented on #746
Also I would like to add:

- [ ] Rename package `ch.epfl.scala.index` to `scaladex`
- [ ] Review the naming uniformity

[2021-12-09 12:18] adpi2 opened #748 "Add more information in the `/project` endpoint v2"
Currently the programmatic `/project` endpoint returns:
[code]

A lot more information could be added in a version 2 of this endpoint:
[code]

[2021-12-09 12:23] adpi2 commented on #690
For a particular release we should return all available information:
[code]

[2021-12-09 15:40] pikinier20 opened #749 "Add an endpoint handling Scaladoc linking"
The idea is to add some endpoint that for given library and member coordinates:
[code]
redirects to the documentation of the member.
It should be aware of which version of Scaladoc it links to.

[2021-12-10 10:08] mlachkar commented on #316
Hello! We fixed this feature on the dev server! https://index-dev.scala-lang.org/
Would you like to test that it works for you ? thanks!

[2021-12-10 18:34] Atry commented on #316
<img width="1233" alt="截屏2021-12-10 上午10 33 56" src="https://user-images.githubusercontent.com/601530/145624315-a824f5c6-e763-4882-93e4-a0950110878d.png">

[2021-12-11 13:34] mlachkar commented on #316
Thanks for your response! Can you also share with me what do you see in "my projects" (if you click on your name, you can see a dropdown and then the link myprojects )

[2021-12-11 22:17] Atry commented on #316
<img width="809" alt="截屏2021-12-11 下午2 17 07" src="https://user-images.githubusercontent.com/601530/145693319-f92bed4e-d2ae-43ce-bb32-043761cb1678.png">

[2021-12-13 16:17] mlachkar commented on #316
I have deployed a new version, and I would like to know if you still have an empty page on `myprojects` https://index-dev.scala-lang.org/

Thanks again for your help!

[2021-12-13 17:18] Atry commented on #316
<img width="1175" alt="截屏2021-12-13 上午9 17 12" src="https://user-images.githubusercontent.com/601530/145858120-9294646a-4d64-4bcc-bb26-c9500eef9769.png">
<img width="1175" alt="截屏2021-12-13 上午9 18 03" src="https://user-images.githubusercontent.com/601530/145858249-d8002ad6-b97a-4770-8436-0f293abd4b39.png">

[2021-12-13 18:08] mlachkar commented on #316
Thank you for you patience. It working now for those directories. you can check again please.
But for the projects under `ThoughtWorksInc`, it's more complicated.
- first it's not listed under your organizations. we only see 3 organizations:
[code]
The two last one have enabled OAuth App access restrictions, meaning that data access to third-parties is limited (so we cannot retrieve the repositori

[2021-12-13 18:52] mlachkar commented on #316
So now, I m quite confident: it should work!
Please again can you check on preprod! https://index-dev.scala-lang.org/

[2021-12-13 19:02] Atry commented on #316
<img width="1203" alt="截屏2021-12-13 上午11 02 41" src="https://user-images.githubusercontent.com/601530/145872257-a7b50565-50c9-4983-a196-a18975c3a2f0.png">
It works!

Thank you!

[2021-12-17 08:16] mlachkar opened #755 "implement authentication for elasticSearch requests"
[code]

[2021-12-17 08:16] mlachkar opened #756 "implement authentication for elasticSearch requests"
[code]

[2021-12-17 12:45] adpi2 commented on #755
duplicate of #756

[2021-12-17 12:45] #755 closed

[2021-12-21 09:11] mlachkar commented on #745
It's now fixed

[2021-12-21 09:11] #745 closed

[2021-12-22 20:08] SethTisue commented on #522
it seems this got fixed at some point

[2021-12-22 20:08] #522 closed

[2021-12-23 15:38] mlachkar commented on #746
scaladex has been deployed to production

[2021-12-23 15:38] mlachkar commented on #744
Done!

[2021-12-23 15:41] #639 closed

[2021-12-23 15:41] mlachkar commented on #639
it's fixed now!

[2021-12-23 15:42] mlachkar commented on #587
It's now fixed

[2021-12-23 15:42] #587 closed

[2021-12-23 15:43] mlachkar commented on #316
It's now deployed into prod! Happy that this issue is now fixed

[2021-12-23 15:43] #316 closed

[2021-12-23 19:58] #744 closed

[2021-12-24 08:54] adpi2 opened #781 "Missing link to github"
In some projects we have a readme file but no link to github. That's a bit unexpected.

For example:
https://index.scala-lang.org/rickynils/scalacheck/scalacheck/1.14.1?target=_native0.3_2.11

![image](https://user-images.githubusercontent.com/13123162/147336987-ae3f9ba5-ee9f-469a-8c6f-96ab8b45dcd6.png)

[2021-12-24 08:56] adpi2 opened #782 "Front page count moved or deleted projects"
In the search page, we count all projects even the moved or deleted ones. Also we take the topics from all the github info.

[2021-12-24 09:16] adpi2 opened #783 "Some elastic failures"
[code]

[2021-12-24 09:17] adpi2 opened #784 "Some failure with badges support"
[code]

[2021-12-27 10:20] adpi2 opened #787 "Missing library"
https://github.com/com-lihaoyi/fastparse is missing from Scaladex:
- https://index.scala-lang.org/com-lihaoyi/fastparse

[2021-12-27 10:49] Baccata opened #788 "Repeated results when hitting the `/project` endpoint"
This only started to happen recently, but : a call to `https://index.scala-lang.org/api/project?organization=typelevel&repository=cats-effect` yields :

[code]

[2021-12-27 11:57] adpi2 commented on #788
Thanks @Baccata I will take a look at this bug today

[2021-12-27 17:47] #788 closed

[2021-12-27 18:12] adpi2 commented on #788
The fix is deployed.

https://index.scala-lang.org/api/project?organization=typelevel&repository=cats-effect

Result is:
[code]

[2021-12-29 12:06] adpi2 commented on #781
Actually there is an error message on this project:
[code]
It looks like some requests are not authenticated.

[2021-12-30 13:50] adpi2 opened #802 "Find better name for the `data` module"
It is sometimes called `data`, as in `data.log` and `scaladex.data.Main`, and sometimes `index` as in `deployIndex`,`index.sh` and `IndexConfig`. This is confusing and I wish we could find a better name.

[2021-12-30 15:20] #781 closed

[2021-12-30 15:21] #746 closed

[2021-12-31 09:28] #726 closed

[2021-12-31 09:31] adpi2 commented on #576
This issue seems to be fixed

[2021-12-31 09:31] #576 closed

[2022-01-07 09:51] adpi2 opened #809 "Deprecated projects should not be indexed in Elasticsearch"
A project can be declared as deprecated in its settings by a maintainer.

Currenlty all elasticsearch requests filters out deprecated project, as an alternative we should not index deprecated project at all and remove the deprecated field from `ProjectDocument`. Also the `SearchSynchronizer` should make sure that all deprecated projects are removed from the elasticsearch index.

[2022-01-07 11:44] #787 closed

[2022-01-08 12:51] #809 closed

[2022-01-10 15:17] julienrf commented on #749
@pikinier20 In the web interface, we show a “Scaladoc” link that points to the scaladoc URL of the given artifact (it defaults to javadoc.io, but users can override it).

![Screenshot from 2022-01-10 16-15-07](https://user-images.githubusercontent.com/332812/148789997-8279254a-50be-48a3-a5ee-4b79522e1a09.png)

Do I understand well that this is this link that you would like to retrieve via the endp

[2022-01-10 15:28] pikinier20 commented on #749
To be precise, I would like to retrieve this link + link to member inside this documentation. So, I would like to pass information to Scaladex like:
Library(
  "org.virtuslab",
  "scala-cli",
  "0.0.9"
 )
 DRI(
   "runner/SomeRunner"
   "run-..."
 )
 and have a link to documentation of scala-cli pointing on the method run in class SomeRunner.
 The DRI model is the same as we use in Scaladoc and ac

[2022-01-19 13:07] adpi2 commented on #782
Fixed by https://github.com/scalacenter/scaladex/pull/811

[2022-01-19 13:07] #782 closed

[2022-01-19 13:11] adpi2 commented on #581
Fixed, see https://index.scala-lang.org/profunktor/redis4cats/redis4cats-core/1.0.0?target=_3

[2022-01-19 13:11] #581 closed

[2022-01-19 13:14] #575 closed

[2022-01-19 13:17] adpi2 commented on #572
This issue does not seem related to Scaladex. Feel free to reopen it and explain what the issue with Scaladex is and what the expected result should be.

[2022-01-19 13:17] #572 closed

[2022-01-19 13:19] adpi2 commented on #569
Seems to be working now https://index.scala-lang.org/scala/scala-parser-combinators/scala-parser-combinators/1.1.1

[2022-01-19 13:19] #569 closed

[2022-01-19 13:20] adpi2 commented on #570
Is this issue still relevant? If yes, please feel free to reopen it and to explain what the expected result should be.

[2022-01-19 13:21] adpi2 commented on #554
It seems to be fixed. See https://index.scala-lang.org/apache/daffodil/daffodil-core/3.2.1?target=_2.12.

[2022-01-19 13:21] #554 closed

[2022-01-19 13:25] adpi2 commented on #538
It seems to be fixed: https://index.scala-lang.org/profunktor/fs2-rabbit/fs2-rabbit/0.8?target=_2.12

[2022-01-19 13:25] #538 closed

[2022-01-19 13:26] adpi2 commented on #534
Probably that was caused by `upickle` being renamed several time back and forth, or maybe because the capitalization changed.

It seems to be fixed now: https://index.scala-lang.org/com-lihaoyi/upickle/upickle/1.4.3?target=_3

[2022-01-19 13:26] #534 closed

[2022-01-19 13:28] OlegYch commented on #570
the expected result is that going from scaladex to scastie via 'try on scastie' should add the library in library list like this:
![image](https://user-images.githubusercontent.com/268312/150140007-62313dc1-c82d-4b48-a8aa-0bf9928882df.png)

[2022-01-19 13:28] adpi2 commented on #514
`scalaVersion=2.12.4` is not a valid `scalaVersion` anymore, it should be `2.12`. Apart from that the issue seems to be fixed:
https://index.scala-lang.org/api/search?q=shapeless&target=JVM&scalaVersion=2.12

[2022-01-19 13:28] #514 closed

[2022-01-19 13:28] OlegYch commented on #570
@adpi2 please reopen, i can't do it from my account

[2022-01-19 13:29] adpi2 commented on #510
I fixed this issue a few time ago: https://github.com/scalacenter/scaladex/pull/624

[2022-01-19 13:29] #510 closed

[2022-01-19 13:30] OlegYch opened #864 "Invalid scala version passed to scastie"
eg clicking 'try on scastie' here https://index.scala-lang.org/sksamuel/elastic4s/elastic4s-core/7.16.2?target=_2.13 goes to `https://scastie.scala-lang.org/try?g=com.sksamuel.elastic4s&a=elastic4s-core&v=7.16.2&t=JVM&sv=Some(2.13)`

[2022-01-19 13:32] adpi2 commented on #509
Search relevance is better since: https://github.com/scalacenter/scaladex/pull/597

[2022-01-19 13:32] #509 closed

[2022-01-19 13:35] adpi2 commented on #460
It is probably fixed because I cannot reproduce the issue.

[2022-01-19 13:35] #460 closed

[2022-01-19 13:38] adpi2 commented on #449
Done by @mlachkar in https://github.com/scalacenter/scaladex/pull/776

[2022-01-19 13:38] #449 closed

[2022-01-19 14:24] adpi2 commented on #864
Thanks for the clarification!

[2022-01-19 14:27] OlegYch commented on #864
we need to pass organization and repository as well for library to be correctly displayed https://github.com/scalacenter/scaladex/issues/570

[2022-01-19 15:02] adpi2 opened #865 "Index compiler plugins"
## Motivation

Compiler plugins are fully part of the Scala library ecosystem. Some of them like [better-monadic-for](https://github.com/oleg-py/better-monadic-for) are widely used and much valuable.

This should be better reflected in Scaladex, by indexing compiler plugins, enabling users to search them.

## Identified obstacles

### 1. Binary version

Currently compiler plugins are filtered out

[2022-01-19 15:24] adpi2 opened #866 "Schedule job to find missing artifacts from Maven Central"
## Motivation

Newly published artifacts on Maven Central are automatically pushed to Scaladex by Sonatype. However it is frequent that we miss some artifacts:
- There is a bug
- The Scaladex server is down
- Some new binary version is not yet supported

To handle these cases we used to launch the `CentralMissing` job manually. However it was not convenient for different reasons.

A more useful th

[2022-01-19 15:38] adpi2 opened #867 "Schedule job to find missing creation date of artifacts"
## Motivation

We do not have the creation date of many artifacts. We can create a scheduler that uses the Sonatype or Artifactory API to find the missing creation dates.

## Identified Obstacles

1. Resolver

Depending on the resolver of an artifact we should use the Sonatype or the Artifactory API.

2. Rate limit

The Sonatype and Artifactory APIs have some rate limit mechanisms. We should make

[2022-01-19 15:54] adpi2 opened #868 "Schedule job to sync Scaladex with sbt-plugin-releases"
## Motivation

Many sbt plugins are published to JFrog Artifactory https://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/.

When a new artifact in published to it it is not automatically pushed to Scaladex. We used to fetch all new artifacts from sbt-plugin-releases by executing ` UpdateBintraySbtPlugins` manually. This is not convenient anymore, since we use an SQL database.

Instead we can cre

[2022-01-19 16:00] adpi2 commented on #428
Closing this issue because we are trying to go away from command line job (the `data` module) to replace them with scheduled jobs (see `SchedulerService` class).

[2022-01-19 16:00] #428 closed

[2022-01-19 16:05] adpi2 commented on #477
Done for Github indexing: we have a scheduler. For Bintray I opened #868.

[2022-01-19 16:05] #477 closed

[2022-01-19 16:19] adpi2 opened #869 "Schedule job to update claimed artifacts"
## Motivation

Some artifacts are published without the `scmInfo` field in their pom files which we use to map artifacts to github repositories.

To handle these we have a `scaladex-contrib` project in which library authors can claim that they own some artifacts.

We need to run a scheduled job to take this information into account and update artifacts that are claimed.

## Identified Obstacles

C

[2022-02-14 17:05] SethTisue commented on #866
I noticed just now that Scaladex still lists the latest version of zinc as being 1.6.0, even though 1.6.1 was released 28 days ago.

Should I open a ticket on that specifically, or does this ticket indicate that it's actually expected for Scaladex to be a month behind...?

[2022-02-15 14:10] OlegYch commented on #570
added some docs on 'try library' feature https://github.com/scalacenter/scastie/#try-library

[2022-02-15 16:32] adpi2 commented on #866
Thanks for reporting. We had a problem with publication between https://github.com/scalacenter/scaladex/pull/776 and https://github.com/scalacenter/scaladex/pull/817 and that's why some artifacts are missing. It is now fixed but we still have a one month hole in our database. The purpose of this issue is to fill this kind of hole.

So no need to create a new ticket.

[2022-02-17 08:51] mlachkar opened #903 "Java artifact for scalafix is missing"
https://index.scala-lang.org/scalacenter/scalafix/sbt-scalafix/0.9.33?target=_2.12_1.0

[2022-02-27 10:41] Philippus opened #911 "depends-on search seems broken"
The 'Artifact dependents' is always empty for me, i.e. https://index.scala-lang.org/search?q=depends-on%3Aakka-actor should give some results.

[2022-02-28 09:03] adpi2 commented on #911
Thanks for opening this issue!

We, the Scala Center team, reworked the architecture of the Scaladex backend, and along the way we decided to leave some features behind, included this one. I will be happy to bring it back, but I would like to suggest some changes in the definition of the feature itself.

## 1. Ambiguity of artifact name

The artifact name alone (`akka-actor`) is ambiguous because

[2022-02-28 09:09] Philippus commented on #911
If it is not supported anymore we can/should remove the "Artifact Dependents"-link on the detail page of projects.

[2022-02-28 14:01] #866 closed

[2022-03-01 23:11] WojciechMazur opened #927 "3rd party artifacts are indexed together with official library versions - possible security breach"
Recently I've seen that  Scaladex have entries with the non-official version of the library published with unknown to me group ids. An example can be this scalacheck entry - https://index.scala-lang.org/typelevel/scalacheck/scalacheck/1.15-6862df0?binaryVersion=_3
As can be seen the library dependency that is being shown is `libraryDependencies += "io.vasilev" %% "scalacheck" % "1.15-6862df0"` whi

[2022-03-01 23:33] armanbilge commented on #927
Yes, FTR @vasilmkd (a Scalacheck/Typelevel maintainer) made that snapshot to test the new build/publishing infrastructure while working on https://github.com/typelevel/scalacheck/pull/860. I've also similarly published snapshots of popular projects under my personal groupid purely for testing etc.

Scaladex should definitely beware these "bootlegs". IIUC each scaladex entry is linked to a specific

[2022-03-02 13:40] adpi2 opened #928 "Get percentage of Scala code in a project from Github API"
## Motivation

In Scaladex we index all projects from which a Scala artifact was published. But currently we don't know if Scala is the primary language of the project or not.

Comparing the number of stars of Scala projects with projects from other ecosystems is not really fair because the latters can have bigger communities. Indeed in the top 20 projects in https://index.scala-lang.org/search?q=

[2022-03-02 14:07] adpi2 opened #929 "Use the number of Github stars on a sliding period of time"
## Motivation

Currently we use the total number of Github stars to sort the projects. But this metric can usually grow over time and so it favors old projects over new ones. In Scaladex we would like to promote new promising libraries and encourage the community to use them, to sponsor them and to contribute them. We call them trending libabries.

In order to determine which library is trending w

[2022-03-02 14:18] adpi2 opened #930 "Use the commit activity of a project over a period of time"
## Motivation

With the commit activity of a project we could know if it is continuously maintained or not. This information could appears on the project document and project page.

## Identified Obstacle

Where is the endpoint in the Github API to get this information.

## Implementation Guideline

For timeseries:
1. Add the `commitActivity` field in `GithubInfo`
2. Fill this field in the `Github

[2022-03-02 15:14] adpi2 commented on #719
Implemented by #914 and #893

[2022-03-02 15:14] #719 closed

[2022-03-02 15:36] adpi2 opened #932 "Reverse the order of the badges"
I think that JVM should be first then Js 1.x, Js 1.6, Native... This can be achieve with `.sortBy(_.platform)(Platform.ordering.reverse)`.

![image](https://user-images.githubusercontent.com/13123162/156394289-798769e4-a937-490b-bc0e-7a4aa6eeda1a.png)

[2022-03-02 15:39] #932 closed

[2022-03-02 15:40] mlachkar commented on #932
it's not the version deployed currently on preprod

[2022-03-04 01:57] jyoo980 commented on #928
Would it be okay if I took this on?

[2022-03-04 08:32] adpi2 commented on #928
@jyoo980 Thanks for volunteering on this issue, it is really cool! I assigned it to you.

Let me know if you need some more information or some help.

[2022-03-04 21:34] jyoo980 commented on #928
@adpi2 I think the task

Is also complete. I'd be happy to also include the `scalaPercentage` field in the scoring function, but I think that's something that needs deeper discussion  🙂

[2022-03-05 09:21] adpi2 commented on #928
Scaladex is powered by a database, Postgres, and by a search engine, Elasticsearch. Those are two different things.

In #933 you added `scalaPercentage` in the `github_info` table of the Postgres database. Now we need to add it to the elasticsearch index too so that we can use it in the scoring function of the search.

To do so you can add the field `scalaPercentage` in [`GithubInfoDocument`](http

[2022-03-05 20:03] jyoo980 commented on #928
I have the Docker environment running, but I think I'm running into issues with ARM compatibility. This is the error I run into when I run `server/run`

[code]

[2022-03-07 10:19] adpi2 commented on #928
Docker seems to work fine. However our current version of sbt-sassify is not compatible with ARM (it is based on the native `libsassify` library). But the PR https://github.com/scalacenter/scaladex/pull/935 should fix it.

Could you pull main and try to run the server again?

[2022-03-08 14:26] bishabosha opened #939 "Safari renders title of awesome scala page same colour as background"
<img width="1317" alt="Screenshot 2022-03-08 at 15 25 29" src="https://user-images.githubusercontent.com/13436592/157257277-c6b0b3a9-7780-4203-bbfc-38386e64dc47.png">

safari Version 15.2 (17612.3.6.1.6)

[2022-03-08 14:28] bishabosha commented on #939
also the "how to contribute" help text is rendering in safari in the background

[2022-03-10 17:53] Quafadas opened #944 "Data viz library"
I've been trying to incubate an idea for a data viz library. Written in scala 3,

https://quafadas.github.io/dedav4s/

https://github.com/Quafadas/dedav4s

I guess it would be great to have it included here, if I can.

[2022-03-11 04:52] jyoo980 commented on #928
Hey! Sorry for the delayed response; busy times working on my thesis.

I generally take the weekend to be more active on my open-source activities, so I'll take a look this Saturday/Sunday!

[2022-03-11 08:36] julienrf commented on #944
Hello, it is automatically included, see here: https://index.scala-lang.org/quafadas/dedav4s :relaxed:

[2022-03-11 08:46] Quafadas commented on #944
Oh cool. Thanks.

[2022-03-11 08:46] #944 closed

[2022-03-11 08:52] adpi2 commented on #928
no problem

[2022-03-11 09:06] adpi2 opened #946 "Add stack filter in Awesome Scala (and search)"
## Motivation

Idea from @Daenyth in https://github.com/scalacenter/scaladex/discussions/943

## Identified Obstacle

Define and moderate the list of stacks: what makes a project a stack?
For each stack define the list of seed projects.

## Implementation Guideline

1. Add the `projectDependencies` field in `ProjectDocument`
2. Fill this field in the `SearchSynchrnizer` using the database
3. Add a

[2022-03-11 09:24] adpi2 opened #947 "Store sessions in database"
## Motivation

Each time we re-deploy Scaladex, all users are logged out. To avoid this we can store the sessions in the database.

## Identified Obstacle

Serialize/Deserialize `UserState`.

## Implementation Guideline

1. Add a `user_sessions` table in the database with a [migration file](https://github.com/scalacenter/scaladex/tree/main/modules/infra/src/main/resources/migrations)
2. Add `inser

[2022-03-12 21:38] jyoo980 commented on #928
Changes ready in #934

[2022-03-14 10:37] #928 closed

[2022-03-21 21:43] rohantheman opened #961 "Typos on Scaladex Page"
See attached for typos on page heading and navigation bar. The word "Mathematics" is misspelled
<img width="1552" alt="Screen Shot 2022-03-21 at 17 39 18" src="https://user-images.githubusercontent.com/518428/159368428-4f6627a7-578f-4df2-afe1-d32b3f008346.png">

[2022-03-22 09:15] adpi2 commented on #961
Thanks for reporting it. Good catch!

[2022-03-23 10:10] #961 closed

[2022-03-28 14:04] adpi2 commented on #749
I deployed a new scaladoc endpoint in the dev environment: https://index-dev.scala-lang.org

The template of this endpoint is:
[code]

where `<optional-path>` can contain a path (e.g., `/api/io/iteratee/Enumeratee.html`), an anchor (e.g., `#io.iteratee.Enumeratee`) or both.

Examples:
- Scala 3:
https://index-dev.scala-lang.org/artifacts/io.iteratee/iteratee-core_3/0.20.0/scaladoc/api/io/iteratee/

[2022-03-28 19:48] #867 closed

[2022-03-29 12:28] #947 closed

[2022-03-29 14:54] mlachkar commented on #545
Hello!
We have reworked the index process, and normally all your artifacts are now available, this problem should not happen anymore hopefully!
Thanks!

[2022-03-29 14:54] #545 closed

[2022-03-29 15:09] adpi2 opened #977 "Add a mechanism to update `UserState`"
### Motivation

Currently the user state is loaded once at first login but then it is never updated.

To solve this issue I see two possible directions:
1. Update each time we receive a `userId` from the client. The response should not wait for the userState update because the update can be slow (~10 seconds).
2. Add a scheduled job that update all user states every once in while

I would suggest

[2022-03-29 15:46] mlachkar commented on #563
Hello! Your projects are now indexed ! https://index.scala-lang.org/fluency03/varint/varint/0.0.2?binaryVersion=_2.12

[2022-03-29 15:46] #563 closed

[2022-03-29 15:53] adpi2 opened #979 "Extract versionScheme, scaladocUrl, developers from pom files"
### Motivation

The artifact page contains useful information about the pom file of an artifact.

Currently we have some useful information:
- organization and name
- project (Github repository)
- language (Java, Scala 2.12, Scala 2.13...)
- platform (JVM, Scala.js, Scala Native, sbt)
- licence
- (resolver)
- dependencies (and inverse dependencies)

See for instance https://index.scala-lang.org/ty

[2022-03-29 16:13] #749 closed

[2022-03-30 02:59] jyoo980 commented on #977
This sounds like a nice continuation of my work in #947, happy to take this on 🙂

[2022-03-30 07:48] adpi2 commented on #977
Perfect, thanks @jyoo980

[2022-03-30 13:21] adpi2 opened #982 "Add /artifacts endpoint in the programmatic API"
### Motivation

The Scaladex API could be used to list the available artifacts for a particular Scala version and/or platform.

We can do so by adding a new endpoint:
[code]
Where `platform` and `language` are optional parameters.

Examples:
- all artifacts: `/api/artifacts`
- all Scala 2.13 artifacts: `/api/artifacts?language=2.13`
- all Scala.js 1.x artifacts: `/api/artifacts?platform=sjs1`
- al

[2022-04-02 22:39] jyoo980 commented on #982
I've implemented some of the tasks in #992

[2022-04-06 07:39] #977 closed

[2022-04-12 19:15] jyoo980 opened #998 "Add endpoint `api/artifacts/<group_id>/<artifact_id>` to obtain metadata for a given artifact"
## Summary

Currently, the `api/artifacts` endpoint returns a list of all artifacts with the response below:

[code]

We now want to add an endpoint that enables clients to get the [semantic version](https://github.com/scalacenter/scaladex/blob/main/modules/core/shared/src/main/scala/scaladex/core/model/Artifact.scala#L22) of an artifact given its `groupId` and `artifactId`.

The endpoint should h

[2022-04-12 19:52] adpi2 commented on #998
Thanks for opening this issue!

On second thoughts, the response could contain more than just the version. It could also contains some of the information we have the current [`Artifact`](https://github.com/scalacenter/scaladex/blob/d59165e8b31a19a9351df4bccdce83bb8ebb7245/modules/core/shared/src/main/scala/scaladex/core/model/Artifact.scala#L15-L32) in our model. A good starting point would be:

[

[2022-04-12 19:58] jyoo980 commented on #998
Works for me, I'll update the ticket later!

[2022-04-13 05:43] joke1196 commented on #930
Hi, I would be interested in trying this one out.

[2022-04-13 07:53] #982 closed

[2022-04-14 00:18] jyoo980 commented on #998
@adpi2 I'm trying to think about how to create a query for `ArtifactTable.scala` that would select an artifact given an `Artifact.GroupId` and `Artifact.ArtifactId`:

[code]

Would this make sense?

[2022-04-14 05:37] adpi2 commented on #998
A single artifact is identified by a Maven reference which is composed of the group id, the artifact id and a the version (also called revision sometimes).

An example of that is `org.typelevel:cats-core_2.13:2.7.0` (see [here](https://repo1.maven.org/maven2/org/typelevel/cats-core_2.13/2.7.0/) in maven central). `org.typelevel` is the group id, `cats-core_2.13` is the artifact id and `2.7.0` is t

[2022-04-14 05:40] jyoo980 commented on #998
Great, that makes sense.

There's a long weekend coming up so I'm excited to work on this 😁

[2022-04-14 06:56] adpi2 commented on #998
That's great to hear. I am really amazed by all the work you do.

I have some more issues to open and hopefully I will find the time to do it sooner rather than later.

[2022-04-14 18:43] jyoo980 commented on #998
Hmm... now I'm curious whether the database call should return a single artifact or a list of artifacts. Isn't there a possibility of there being more than one artifact with the same `groupId` and `artifactId`?

For example, in here https://github.com/scalacenter/scaladex/blob/70e4732e1ef46e2c0cc7370a1accca657bbd7691/modules/core/shared/src/test/scala/scaladex/core/test/Values.scala#L169-L171

We

[2022-04-19 07:19] adpi2 commented on #998
[code]

Yes absolutely.

[2022-04-19 07:49] #998 closed

[2022-04-19 21:43] jyoo980 commented on #869
I can work on indexing artifacts with no associated projects

[2022-04-19 23:48] jyoo980 commented on #869
Quick question for this, it looks like a number of methods in `Artifact.scala` (and beyond!) operate on the assumption that `projectRef` is always defined, e.g.,

https://github.com/scalacenter/scaladex/blob/22f1672a0582da10036e8d2ddbfb0388a1edb4cc/modules/core/shared/src/main/scala/scaladex/core/model/Artifact.scala#L38-L43

But we know this is no longer going to be the case. Do you have any sugg

[2022-04-20 07:13] adpi2 commented on #869
Those methods should probably return `Option`. They are called in the [twirl files](https://github.com/scalacenter/scaladex/tree/main/modules/template/src/main/twirl/scaladex/view) (the front-end generator) to create links between pages. So then we need to deal with the `None` case. One way is to not display the `<a>` element if the url is `None`:

[code]

By the way, I think many of those methods

[2022-04-20 14:05] jyoo980 commented on #869
Sounds good, I'll wait :)

[2022-04-22 17:33] MasseGuillaume opened #1010 "[Bug] Lot's of 500 from Maven Central when there is a surge of request"
### Current behavior

When Maven Centrals as a surge of published Scala artifacts, it sends a burst of traffic to Scaladex and the server cannot handle the high load resulting in a lot of 500s.

### Expected Behavior

Scaladex should be able to handle a burst of traffic on it's `PUT /publish` endpoint.

### Extra comments

https://github.com/scalacenter/scaladex/blob/main/modules/server/src/main/s

[2022-04-22 17:53] scherzhaft commented on #1010
The Central job that does this, is single threaded, with most workload completing under 10 minutes, if thats helpful.

[2022-04-25 09:18] #1010 closed

[2022-04-25 09:18] adpi2 commented on #1010
Thanks for reporting this error. It was caused by an bug in the authentication of central-ossrh user.

[2022-04-26 16:07] adpi2 opened #1015 "Group artifact names by latest version in artifacts page"
### Motivation

In the artifacts page of a project, for example https://index.scala-lang.org/typelevel/cats/artifacts, there is drop-down button that lists all the artifact names of the project. They are sorted by alphabetical order and we cannot know which are still valid artifact names and which are deprecated.

For instance the `cats` artifact name is deprecated since version 0.9.0.

On good wa

[2022-04-26 16:18] adpi2 opened #1016 "Add a Scala CLI tab in the install box of an artifact"
### Motivation

In the artifact page, for instance https://index.scala-lang.org/typelevel/cats/artifacts/cats-core/2.7.0, the install box should contain a Scala CLI tab.

### Identified Obstacles

_No response_

### Implementation Guideline

- Add a method in `Artifact` that return the install instruction for Scala CLI (as in https://scala-cli.virtuslab.org/docs/reference/directives#examples-3)
-

[2022-04-27 11:52] julienrf commented on #1015
Note that this idea assumes that all the artifacts of a project follow the same release cycles. This is not always the case (but that should be the most common case, IMHO).

[2022-04-28 08:25] adpi2 commented on #1015
In a repo where artifacts have different release cycles, I still think it is a good idea to group them by latest version. The ordering would not make much sense though.

[2022-04-28 08:44] adpi2 opened #1019 "Add Scastie box into artifact page"
### Motivation

Scastie is an online Scala editor. We used to have a link to Scastie in all the project pages until I removed it because:
- It was broken (see https://github.com/scalacenter/scaladex/issues/864).
- It is artifact related more than project related.

The goal of this issue is to add the Scastie box in the artifact page, for instance https://index.scala-lang.org/typelevel/cats/artifac

[2022-04-28 08:45] adpi2 commented on #864
Superseded by #1019

[2022-04-28 08:45] #864 closed

[2022-04-28 08:45] adpi2 commented on #570
Superseded by #1019

[2022-04-28 08:45] #570 closed

[2022-04-28 08:52] adpi2 opened #1020 "Install box of sbt plugins should only contain sbt tab"
### Motivation

Currently the install box of sbt plugins contains the Mill, Ammonite, Gradle and Maven tabs. For instance in https://index.scala-lang.org/47degrees/sbt-microsites/artifacts/sbt-microsites/1.3.4. It does not make sense to use sbt plugins in those tools so we should not show those tabs.

### Identified Obstacles

_No response_

### Implementation Guideline

1. In the `Artifact` class

[2022-04-28 09:27] adpi2 opened #1021 "Add Project license from Github"
### Motivation

One can configure the license of its project in its Github repository. This information should appear in the Scaladex project page.

### Identified Obstacles

_No response_

### Implementation Guideline

1. Add a `licence: Option[License]` field in `GithubInfo`
2. Add `licenseName: Option[String]` field in the `GithubModel.Repository` and fill it using the `GithubModel.Repository`

[2022-04-29 13:25] adpi2 opened #1023 "Mark artifact as deprecated"
### Motivation

In the project settings (`Project.Settings`) there is a list of deprecated artifact names. We could display that information in the artifacts page (e.g., https://index.scala-lang.org/typelevel/cats/artifacts/cats-core) and the artifact page (e.g., https://index.scala-lang.org/typelevel/cats/artifacts/cats/0.9.0)

### Identified Obstacles

_No response_

### Implementation Guideline

[2022-04-29 13:36] adpi2 opened #1024 "Add a `fullScalaVersion` field in `Artifact`"
### Motivation

Sometimes we want to know which version of the compiler are used by the library authors. We can find this information in the dependencies of an artifact. But it would more convenient to have it directly from the `Artifact` entity.

### Identified Obstacles

_No response_

### Implementation Guideline

- Add a `fullScalaVersion: Option[SemanticVersion]` in the `Artifact` class.
- Ad

[2022-05-02 12:15] adpi2 opened #1031 "The default artifacts page should show the pre-release versions if there is no stable versions"
### Motivation

Currently the default artifacts page of [scalacenter/sbt-github-dependency-graph](https://index.scala-lang.org/scalacenter/sbt-github-dependency-graph/artifacts) does not show any version because there is only pre-release version.

In such case the `Show pre-release version` filter should be checked by default.

### Identified Obstacles

_No response_

### Implementation Guideline

[2022-05-02 12:46] adpi2 opened #1032 "Ability to add projects with no published artifacts to Maven Central"
### Motivation

Currently only the projects that publishes to Maven Central are going to be indexed into Scaladex. This is okay because Maven Central is predominant in the Scala ecosystem.

However we expect some library authors to experiment with other package repositories like [Github Packages](https://github.com/features/packages), or maybe they don't publish any artifacts at all.

Before we in

[2022-05-02 13:13] adpi2 opened #1033 "Migrate to Bootstrap 4"
### Motivation

Use a more version of Bootstrap to have access to all the new features and improvements.

### Identified Obstacles

- There are some breaking changes between Bootstrap 3 and Bootstrap 4.
- We must replace `bootstrap-switch` and `bootstrap-select` with the corresponding components in Bootstrap 4.

### Implementation Guideline

1. In `build.sbt` replace `"bootstrap-sass" % 3.4.1` wit

[2022-05-25 13:03] armanbilge opened #1038 "[Bug] Badge inconsistent with version on project page"
### Current behavior

https://index.scala-lang.org/typelevel/feral/badges

<img width="493" alt="Screen Shot 2022-05-25 at 5 56 20" src="https://user-images.githubusercontent.com/3119428/170267106-78b8b9b9-4fcf-44c1-a700-7d7d4e9eb0c6.png">

### Expected Behavior

At the very least, the version numbers should be consistent. Even better if they are in fact the latest 😉

In this case, the version lis

[2022-05-25 19:06] adpi2 commented on #1021
Thanks @jyoo980 for contributing to this. It would be great to have the license appear in the header of the project page.

[2022-06-21 07:50] #1023 closed

[2022-06-22 07:32] #1021 closed

[2022-06-23 06:15] #1016 closed

[2022-06-30 08:30] plokhotnyuk opened #1043 "[Bug] Missing bullets in list items"
In the readme of a project, the bullets are not displayed.

See for instance: https://index.scala-lang.org/plokhotnyuk/jsoniter-scala

### Current behavior

![image](https://user-images.githubusercontent.com/890289/176630864-ebc130dd-ae5f-412d-b39a-9c92829efc43.png)

### Expected Behavior

![image](https://user-images.githubusercontent.com/890289/176630766-bd2e4e14-1d68-42bd-a952-e54a6c15645b.png)

[2022-06-30 08:36] adpi2 commented on #1043
Thanks for opening this issue.

[2022-07-01 11:47] adpi2 opened #1044 "[Bug] Cannot find hagay3/skuber when searching skuber"
### Current behavior

https://index.scala-lang.org/search?q=skuber

### Expected Behavior

The list of results should contain hagay3/skuber

### Extra comments

_No response_

### Search terms

_No response_

[2022-07-13 18:41] plokhotnyuk opened #1045 "[Bug] Unexpected sorting results"
### Current behavior

![image](https://user-images.githubusercontent.com/890289/178806939-2e8b2269-71d1-4cf2-81c4-3e16851efc8f.png)

### Expected Behavior

Projects with greater sorted value (stars/forks/contributors) should be higher

### Extra comments

_No response_

### Search terms

_No response_

[2022-07-28 22:55] kubukoz opened #1059 "[Bug] Weird sorting of versions"
### Current behavior

In the API, versions are sorted in an unpredictable way.

Example: `curl 'https://index.scala-lang.org/api/project?organization=coursier&repository=coursier'`

[code]

### Expected Behavior

Versions are sorted in a predictable way, e.g. in descending order.

### Extra comments

_No response_

### Search terms

_No response_

[2022-09-05 08:44] #1020 closed

[2022-09-13 08:16] #1059 closed

[2022-09-20 09:33] #1043 closed

[2022-09-21 16:51] carlosedp opened #1076 "Scala 3.x is not shown for module with Scala Native / Scala 3."
Scaladex does not show that the module have Scala 3.x support on Scala Native:

![image](https://user-images.githubusercontent.com/20382/191564391-ba29da4e-cfac-40b1-b793-43bcc1a95a71.png)

As seen here, the artifacts exists:

![image](https://user-images.githubusercontent.com/20382/191564528-cd1c334b-9089-44aa-b8e5-10df3bc76d48.png)

[2022-09-22 07:23] adpi2 commented on #1076
Thanks for opening this issue!

In the logs I can see that we received a publish request for all artifacts but not for `riscvassembler_native0.4_3`. So it looks like  Sonatype did not push the artifact to us.

Hopefully we have a background job that will find the missing artifact and fetch it. But this job is slow, it will take a few more hours. I will check again tomorrow to see if the artifact i

[2022-09-22 12:46] carlosedp commented on #1076
Awesome, I've noticed this first on mainargs.. It was published but didn't show up:

https://repo1.maven.org/maven2/com/lihaoyi/mainargs_native0.4_3/0.3.0/

![image](https://user-images.githubusercontent.com/20382/191750751-bdf18c3f-1bc5-4262-b734-bb770c6f007e.png)

[2022-09-22 13:12] adpi2 commented on #1076
Ok so this is not a random failure and I should report it to Sonatype.

[2022-10-07 14:04] adpi2 commented on #1032
Hello @mfirry and thanks for jumping here!

The task itself must do three things:
1. Check that the project that we want to add exists in Github and that it is a Scala project. To do that we can use `githubClient.getProjectInformation(ref)` and check that `githubInfo.scalaPercentage` is greater than 0.
2.  Then store the project in the database with: `database.insertProject(project)`
3. Sync the s

[2022-10-07 15:23] mfirry commented on #1032
Thanks @adpi2. I can work on a draft PR if that's ok.
Or rather maybe I can _show_ somehow what I have in mind and then you (or anybody who can) fill my gaps?
The point is I want to be able to fit in the overall structure/style of the code here.

[2022-10-17 08:19] #1032 closed

[2022-10-21 16:08] SuperIzya opened #1100 "Outdated description on scaladex page."
Scaladex page for [dbzio](https://index.scala-lang.org/riskidentdms/dbzio) was created when the git-repo had a description with type. Now git description is fix, while the scaladex page still contains old description with type ("Monadic bridge between DBIO & **DBZIO**" instead of "Monadic bridge between DBIO & ZIO")

[2022-10-22 17:10] adpi2 commented on #1100
Thanks for opening this issue.

It seems that the Scaladex server restarts regularly and, as a consequence, the background job that updates all the Github info gets interrupted.

[2022-10-25 11:44] adpi2 commented on #1100
Looks better now.

We still have some `java.net.UnknownHostException: api.github.com` errors sometimes that could be caught and ignored.

Also please note that updating the Github info can take up to 24 hours.

[2022-10-25 11:44] #1100 closed

[2022-11-03 08:44] adpi2 opened #1102 "Add list of Scala versions and platform versions in project page"
### Motivation

In the search result we can see all the Scala versions and platforms of the project. This information disappear when we go to the project page.

![image](https://user-images.githubusercontent.com/13123162/199676940-68a0a361-0ec8-4422-ad45-dbf745fe2f78.png)

At the project page level, we don't know which Scala versions and which platforms are supported by the project. To find this o

[2022-11-03 08:44] adpi2 opened #1103 "Add list of Scala versions and platform versions in project page"
### Motivation

In the search result we can see all the Scala versions and platforms of the project. This information disappear when we go to the project page.

![image](https://user-images.githubusercontent.com/13123162/199676940-68a0a361-0ec8-4422-ad45-dbf745fe2f78.png)

At the project page level, we don't know which Scala versions and which platforms are supported by the project. To find this o

[2022-11-03 09:03] adpi2 opened #1104 "Upgrade to Scala 3"
### Motivation

Compile with Scala 3

### Identified Obstacles

- We will probably need to make some major bump of some libraries and fix the breaking changes.
- Some libraries have not yet been published for Scala 3 but we can try to use `CrossVersion.for3Use2_13`.
- Some libraries may not be compatible with Scala 3 even with `CrossVersion.for3Use2_13`.

### Implementation Guideline

- [ ] Starti

[2022-11-08 05:16] ghostdogpr opened #1105 "[Bug] Project not being indexed"
### Current behavior

Our project [Shardcake](https://github.com/devsisters/shardcake) is not indexed by Scaladex.
It is published on Maven and I believe the scm tags are correct (for example https://s01.oss.sonatype.org/content/repositories/releases/com/devsisters/shardcake-core_2.13/2.0.4/shardcake-core_2.13-2.0.4.pom).
I think it may be caused by the fact that the project repository was initial

[2022-11-09 09:10] adpi2 commented on #1105
Thanks for opening this issue.

Thanks!

I think you are correct. Scaladex usually tries to reindex all artifacts from known groupId. But it seems there is no other `com.devsisters` artifacts. So I started manually a job to add all the not-yet-indexed `com.devsisters` artifacts.